sudo: required

language: node_js

cache:
    directories:
      - node_modules

node_js:
  - "8"

script:
  - echo "npm test temporarily disabled"

install:
  - npm install
  - npm run build-rinkeby

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: dev-swap.knstats.com
    region: ap-southeast-1
    acl: public_read
    local_dir: dist/rinkeby
    skip_cleanup: true
    on:
      branch: develop_promo_code