.k-page-wallet .wallet-item {
  background-image: -webkit-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: -o-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }

.k-page-wallet .title span {
  background-image: -webkit-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: -o-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }

.k-page-wallet .import-wallet button {
  background-image: -webkit-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: -o-linear-gradient(225deg, #17EAD9 0%, #6078EA 100%);
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }

.k-page-account .wallet-item {
  border: 2px solid #00bd70;
  background-image: #00bd70;
  border-radius: 7px; }

.k-page-account .balance span {
  color: #00bd70; }

.k-page-account .title span {
  background-color: #00bd70; }

.k-page-account .import-wallet button {
  background-color: #00bd70; }

.k-page-account .token-item .value {
  color: #aaa; }

.wallet-item {
  max-width: 820px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 30px;
  margin-left: 20px; }
  .wallet-item > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: #fff; }
    .wallet-item > div div.wallet-left {
      width: 30%; }
    .wallet-item > div div.wallet-center {
      width: 50%; }
    .wallet-item > div div.wallet-right {
      width: 20%; }
  .wallet-item .wallet-left .title {
    width: 100%; }
    .wallet-item .wallet-left .title span {
      padding: 5px 60px;
      text-align: center;
      color: white;
      display: inline-block;
      border-radius: 5px;
      top: -2px;
      left: -2px;
      position: relative; }
  .wallet-item .wallet-left .content {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px; }
  .wallet-item .wallet-left .address {
    margin-top: 20px; }
    .wallet-item .wallet-left .address span {
      font-size: 11px;
      color: #aaa; }
    .wallet-item .wallet-left .address > div {
      text-align: center;
      padding: 10px; }
  .wallet-item .wallet-left .created {
    margin-top: 10px; }
  .wallet-item .wallet-center .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .wallet-item .balance {
    color: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }
  .wallet-item .token-item {
    padding: 20px;
    text-align: center; }
    .wallet-item .token-item img {
      max-width: 50px; }
    .wallet-item .token-item .name {
      font-size: 13px;
      text-transform: uppercase; }
    .wallet-item .token-item .value {
      font-size: 11px; }
  .wallet-item:hover .wallet-right {
    visibility: visible; }
  .wallet-item .wallet-right {
    visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .wallet-item .wallet-right button {
      margin-left: 20px;
      cursor: pointer; }
      .wallet-item .wallet-right button:focus {
        outline: none; }

.import-wallet {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 100px; }
  .import-wallet button {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    color: #fff;
    font-size: 60px;
    position: fixed;
    bottom: 40px;
    cursor: pointer; }
    .import-wallet button:focus {
      outline: none; }
