.disable{
    pointer-events: none;
   cursor: default;
}
.k-select{
    .k-select-display{
        cursor: pointer;
        &:after{
            background-image: url("../assets/icon.png");
            display: inline-block;
            content: " ";
            background-position: -60px -20px;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            position: relative;
            top: 3px;
        }
    }
    .k-select-option{
        display: none;
        background:#fff;
        border:1px solid #ddd;
        padding: 2px 10px;
        color:#aaa;
        position: absolute;
        z-index: 999;
        >div{
            cursor: pointer;
            padding:8px 0;
            &:not(:last-child){
                border-bottom:1px solid #aaa;
            }
        }
        .selected{
            &:after{
                content: ' ';
                height: 8px;
                width: 8px;
                display: inline-block;
                border-radius:8px;
                background-color:green;
                margin-left: 10px;
            }   
        }
    }
}
.k-icon {
    background-image: url("../assets/icon.png");
    display: inline-block;
}

.k-icon-account {
    background-position: -177px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-exchange {
    background-position: -60px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-transaction {
    background-position: -102px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-node {
    background-position: -20px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-key {
    background-position: -140px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-qr {
    background-position: -216px -20px;
    width: 20px;
    height: 20px;
}
.k-icon-usd {
    background-position: -22px -65px;
    width: 20px;
    height: 30px;
}

.k-icon-gas {
    background-position: -60px -65px;
    width: 25px;
    height: 30px;
}