.disable {
    pointer-events: none;
    cursor: default;
}

// .k-select {
//     .k-select-display {
//         cursor: pointer;
//         &:after {
//             background-image: url("../assets/icon.png");
//             display: inline-block;
//             content: " ";
//             background-position: -60px -20px;
//             width: 20px;
//             height: 20px;
//             margin-left: 5px;
//             position: relative;
//             top: 3px;
//         }
//     }
//     .k-select-option {
//         display: none;
//         background: #fff;
//         border: 1px solid #ddd;
//         padding: 2px 10px;
//         color: #aaa;
//         position: absolute;
//         z-index: 999;
//         >div {
//             cursor: pointer;
//             padding: 8px 0;
//             &:not(:last-child) {
//                 border-bottom: 1px solid #aaa;
//             }
//         }
//         .selected {
//             &:after {
//                 content: ' ';
//                 height: 8px;
//                 width: 8px;
//                 display: inline-block;
//                 border-radius: 8px;
//                 background-color: green;
//                 margin-left: 10px;
//             }
//         }
//     }
// }

$gradient:linear-gradient(-135deg,
#17EAD9 0%,
#6078EA 100%);
.text-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// .k-tooltip {
//     position: relative;
//     .k-tooltip-content {
//         display: none;
//         font-size: 13px;
//         color: #aaa;
//         position: absolute;
//         padding: 5px 20px;
//         text-align: center;
//         border: 1px solid #aaa;
//         background: #fff;
//         font-size: 12px;
//         border-radius: 10px;
//         top: -50px;
//         left: 0px
//     }
//     &:hover {
//         .k-tooltip-content {
//             display: block;
//         }
//     }
//     .down-arrow {
//         //display: inline-block;
//      //   position: relative;
//       //  border: 1px solid #777777;
//         text-decoration: none;
//       //  border-radius: 2px;
//       //  padding: 20px;
//       //  margin-top: 50px;
//     }
//     .down-arrow:before {
//         content: '';
//         display: block;  
//         position: absolute;
//         left: 23px;
//         top: 100%;
//         width: 0;
//         height: 0;
//         border: 10px solid transparent;
//         border-top-color: #aaa;
//     }

//     .down-arrow:after {
//         content: '';
//         display: block;  
//         position: absolute;
//         //margin-left: 1px;
//         left: 24px;
//         top: 100%;
//         width: 0;
//         height: 0;
//         border: 9px solid transparent;
//         border-top-color: white;
//     }
// }

.k-icon {
    background-image: url("../assets/sprite.png");
    display: inline-block;
}

.k-icon-wallet {
    background-position: -177px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-account {
        background-position: -99px -70px;
    width: 20px;
    height: 25px;
}

.k-icon-exchange {
    background-position: -60px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-transaction {
    background-position: -102px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-payment {
    background-position: -141px -70px;
    width: 20px;
    height: 20px;
}

.k-icon-node {
    background-position: -20px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-key {
    background-position: -140px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-qr {
    background-position: -216px -20px;
    width: 20px;
    height: 20px;
}

.k-icon-usd {
    background-position: -22px -65px;
    width: 20px;
    height: 30px;
}

.k-icon-gas {
    background-position: -160px -179px;
    width: 31px;
    height: 35px;
}
.k-icon-gas-price{
     background-position: -94px -179px;
    width: 50px;
    height: 35px; 
}
.k-icon-delete {
        background-position: -217px -123px;
    width: 25px;
    height: 30px;
}

.k-icon-modify {
        background-position: -264px -123px;
    width: 25px;
    height: 30px;
}
.k-icon-delete-green {
      background-position: -217px -157px;
    width: 25px;
    height: 30px;
}

.k-icon-modify-green {
       background-position:-262px -157px;
    width: 25px;
    height: 30px;
}

.k-icon-lock{
    background-position: -400px -201px;
    width: 40px;
    height: 40px; 
}
.k-icon-pig{
    background-position: -60px -65px;
    width: 25px;
    height: 30px;   
}

.k-icon-time{
    background-position: -60px -65px;
    width: 25px;
    height: 30px;   
}
.k-icon-verify{
       background-position: -19px -278px;
    width: 80px;
    height: 80px;
}
.k-icon-home{
    background-position: -138px -302px;
    width: 25px;
    height: 20px;
}
.k-icon-amount{
  background-position: -195px -302px;
    width: 25px;
    height: 20px;
}

.k-icon-min{
    background-position: -298px -296px;
    width: 30px;
    height: 30px;    
}

.k-icon-max{
    background-position: -298px -296px;
    width: 30px;
    height: 30px;     
}
.k-icon-btn-arrow{
    background-position: -215px -195px;
    width: 75px;
    height: 75px; 
}

.k-icon-error{
        background-position: -345px -304px;
    width: 15px;
    height: 15px;
}