@import "global";

.confirm-modal{
	width:400px;
	height:200px;
	border-radius:10px;
	.modal-message{
		color: #fff;
		margin-top: 30px;
		text-align: center;
		font-size:20px
	}
	.modal-control{
		margin: 0 auto;
		margin-top: 30px;
		display: flex;
		width: 300px;
		justify-content: space-between;
	}
	button{
		    font-weight: bold;
    color: #fff;
    width: 130px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
		&.cancel{
			background: #37a0f3;
		}
		&.ok{
			border:2px solid $colorGreen
		}
	}
}