$paddingLeft: 20px;


.k-page-account {
    .acc-item {
        background-color: #fff;
        &.active {
            .acc-title {
                background-color: #209c6e;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
            }
            .acc-body{
            	color: #000;
            }
        }
        &.expand {
            .acc-body-token {
                display: block;
                //overflow: hidden;
                //animation: fadeIn 1s;
              //   -webkit-animation: fadeIn 1s;
            }
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .acc-title {
        padding: 5px $paddingLeft;
        cursor: pointer;
        // display: flex;
        // align-items:center;
        font-size: 14px;
        .k-icon{
        	width: 20px;
        	height: 20px;
        	background-position: -319px -20px;
        	position:relative;
        	top:1px;
        	float: right;
        }
        // .acc-title-expand{
        //     height: 
        // }
    }
    .acc-body {
        font-size: 13px;
        padding-left: $paddingLeft;
        padding-right: $paddingLeft;
        padding-top: 5px;
        padding-bottom: 15px;
        color: #aaa;
    }
    .acc-address {
        .k-icon {
            position: relative;
            top: 3px;
        }
    }
    .acc-balance {
        margin-top: 5px;
    }
    .acc-balance,
    .acc-content {
        font-size: 14px;
    }
    .acc-body-token {
        margin-top: 20px;
        display: none;
        .token-name {
            font-size: 14px;
        }
        img {
            height: 50px;
        }
        .token-item {
            >div >div {
                display: flex;
                align-items: center;
            }
            &:not(:last-child){
            	margin-bottom:10px;
            }
        }
    }
}
