$colorBackground: #ebebec;
$colorText: #d1d3d5;
$colorActive:#f4a622;
$colorItem1Blue:#009dea;
$colorItem1:#333;
$fontsizeLable: 15px;
$colorInput: #333;
$boderInputItem1: #aaa;
$colorLableItem1:#777;


$backgoundExchange :#2c2d35;
$colorBorderButtomModal:#aaa;
$stepColorInactive:#9f9f9f;
$stepColorActive:#00c072;
.modal-exchange{
    padding:0px;
    background-color:$backgoundExchange;
    overflow-x:hidden;
}
.k-page-exchange {
    width: 980px;
    .title{
        display: flex;
        justify-content: space-between;
        padding:10px 20px;
        color: #fff;
        font-weight: bold;
        border-bottom:1px solid $colorBorderButtomModal;
        .left{
            i{
                position:relative;
                margin-right:8px;
                top: 3px;
            }
        }
        .right{
            span{
                cursor: pointer;
            }
        }
    }
    .advance{
        text-align: right;
        margin-top: 0px;
        padding-right:100px;
        color: #aaa;
        cursor: pointer;
        i{
            position:relative;
            top: 3px;
            margin-right:5px;
        }
    }
    .k-progress {
        text-align: center;
        .progress-bar {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        .step {
            display: flex;
            align-items: center;
            .circle{
                height: 30px;
                width: 30px;
                display: block;
                border-radius:30px;
                border: 3px solid $stepColorInactive;
            }         
            &.step-1 {
                right: -10px;
                z-index: 2;
                position: relative;
            }
            &:not(:first-child) {
                width: 200px;
            }
            >span {
                color: $colorText;
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                flex-shrink: 0;
                position: relative;
                z-index: 2;
                background-color: $backgoundExchange ;
            }
            .bridge {
                    height: 3px;
                    width: 174px;
                    background: $stepColorInactive;
                    flex-shrink: 0;
                    position: relative;
                    z-index: 0;
                    right: -3px;
            }
        }
        .progress-label{
            display: flex;
            color: #aaa;
            justify-content: space-between;
            width: 485px;
            margin: 0 auto;
            margin-top: 8px;
            >div{
                margin-left: 18px;
            }
        }
    }
    .navigation-btn {
        margin-bottom:30px;
        >div:last-child{
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            padding:20px;
        }
        button {
            cursor: pointer;
            &.hide{
                visibility: hidden;
                display: block !important;
            }
            &.disable {
                .k-icon {
                    background-position: -310px -195px;
                }
            }
            &:focus {
                outline: none;
            } // background-color: #f4a622;
        }
        &.disable {
            button {
                background-color: #eee;
            }
        }
    }
    .error {
        margin-top: 10px;
        font-size: 13px;
        color: #e74c3c;
        display: flex;
        align-items: center;
        .k-icon {
            margin-right: 5px;
        }
        &.hide {
            visibility: hidden;
        }
    } // .error{
    //  position:fixed;
    //     bottom:5px;
    //     display: flex;
    //    //  margin-left: 100px;
    //      height: 80px;
    //      color:#fff;
    //      &.hide{
    //         display: none;
    //      }
    //      >div{
    //         display: flex;
    //         align-items:center;
    //         justify-content: center
    //      }
    //     .close{
    //         width: 80px;
    //         background-color:#e74a34;
    //         font-size: 40px;   
    //         font-weight: bold;
    //         cursor: pointer;    
    //         border-radius:10px 0 0 10px;     
    //     }
    //     .content{
    //         border-radius:0 10px 10px 0;
    //         width: 800px;
    //         background-color:rgba(231, 74, 52, 0.6);
    //         font-size: 20px;
    //     }
    // }
    // .progress-bar{
    //  height: 20px;
    //  width: 400px;
    //  background-color: #adadad;
    // }
    // .progress-bar-active{
    //  background-color:#f4a622;
    //  height: inherit;
    // }

    // &.blind{
    //     background-color:rgba(0,0,0,0.2);
    // }
    .exchange-page {
        padding: 0px 50px;
    }
    .page {
        // margin-top: 70px;
    }
    .page-item {
        display: none;
    }
    
    input,textarea {
        color: $colorInput;        
        box-shadow:none;
        &:focus{
            box-shadow:none;
        }
    }
    .item-1 {
        padding-top: 60px;   


        h3{
            color: #fff;
            i{
                margin-right: 10px;
            }

        }   
        >div{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }  
        .extra-info {
            margin-left: 150px;
            color: #aaa;
            font-size: 12px;
            margin-top: 10px;
        }
        .error {
            margin-left: 150px;
            font-size: 12px;
        }

          input {
                   background: transparent;
                    border: none;
                    font-size: 20px;
                    height: 40px;
                    color: #fff;
                &:focus {
                    outline: none;
                }
            }
        .input-account {
            >div{
                &:first-child{
                    display: flex;
                    >div{
                        height: 50px;
                        display: flex;
                        align-items:center;
                        border-bottom:1px solid $stepColorActive;
                        label{
                            color:$stepColorActive;
                            font-weight:bold;
                            font-size: 18px;
                        }
                    }
                }
            }            
            select{
                   border: none;
                    width: 23px;
                    &:focus{
                        box-shadow:none;
                        outline: none;
                    }
            }            
            input {
                width: 280px;
                margin:0px;
                margin-left:10px;
            }
        }
        .input-amount {
            .label {
                text-align: center;
                background-color: transparent;
                width: 100%;
                margin: 0;
                padding: 0px;
                font-size: 18px;
                //color: #000; //font-weight: bold;
                cursor: pointer; //display: none;
            }
        }

        .usd-convert {
            align-items: center;
            justify-content: center;
            font-size: 14px;
            margin-top: 8px;
            color: #aaa;
            display: flex;
            label {
                color: inherit;
            }
            span {
                font-size: 15px;
                margin-right: 5px;
            }
        }
    }
    .item-2 {
        padding-top: 60px;
        .content{
            padding-left:145px;
        }
        .intro {
            width: 350px;
            text-align: center; // label {
            //     font-size: 15px;
            //     color: #999;
            // }
            //margin:0 auto;
        }

        .intro-bottom {
            margin-top: 20px
        }
        .uint {
            font-size: 20px;
            color: #999;
            margin-left: 10px;
        }
         .rate-wrapper {

            margin-top: 80px;
            text-align: center;
            .rate{
                display: flex;
                justify-content: space-between;
                border:1px solid #aaa;
                padding:10px;
                width: 600px;
                position: absolute;
                margin-left: 166px;
                >div{
                    padding: 0 10px;
                    width: 33%;                    
                }
                >div:not(:last-child){
                    border-right:1px dashed #aaa;
                }
                label{
                    color: #d0a623;
                    text-align:center;
                    font-size: 15px
                }
                span{
                    text-align:center;   
                    color: #aaa;
                    margin-top: 5px;
                    font-size: 15px;
                }
            }
        }
        ul{
            list-style-type: none;
            margin:0px;
            li{
                display: flex;
                align-items:center;
                &:before{
                    content: "• ";
                    color: #00c072;
                    margin-right: 20px;
                    font-size: 40px;
                }
                label{
                    color: #fff;
                    font-size: 18px;
                    width: 300px;
                    font-weight: bold;
                }
                input[type="text"]{
                   background: transparent;
                        border: none;
                        font-size: 20px;
                        height: 40px;
                        color: #fff;
                        color: #fff;
                        border-bottom: 1px solid $stepColorActive;
                        margin-left: 36px;
                        width: 230px;
                    &:focus {
                        outline: none;
                    }
                }
                input[type="checkbox"]{
                    margin:0px;
                    width: 20px;
                    height: 20px;
                }
                span{
                    color: #fff;
                    font-size: 18px;
                     margin-left: 36px;
                }
                select{
                    width: 20px;
                }
            }
        }
    } // .item-3 {
    //     padding-top: 50px;
    //     .intro {
    //         p {
    //             width: 300px;
    //             color: #aaa;
    //             padding-left: 5px;
    //             font-size: 15px;
    //         }
    //         &.intro-bottom {
    //             margin-top: 20px
    //         }
    //     }
    // }
    .item-3 {
        padding-top: 100px;
        margin-left: 200px;
        label{
            color: #fff;
            font-size: 20px;
            margin-left:20px;
        }
        .input-space {
            margin-left: 80px; ///justify-content: center;
            text-align: center;
            margin-top: 30px;           
            display: flex;             
            i{
                margin-right:20px;
            }
            input {
                width: 250px;
                border: none;
                border-bottom: 1px solid $stepColorActive;
                background-color: transparent;
                outline: none;
                box-shadow: none;
                font-size: 18px; // color: #999;
                color: #fff;
            }

        }  

    }
    .item-4 {
        padding-top: 70px;
        text-align: center;
        h3{
            color: #fff;
            font-size: 20px;
            width: 400px;
            margin:0 auto;            
            margin-bottom:35px;
        }
        .verify {
            // height: 100px;
            // width: 100px;
            // border-radius: 100px;
            // background-color: #00c071;
            // color: #fff;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            margin: 0 auto;
        }
        .input-space{
            display: flex;
        }
        p {
            margin-top: 60px;
        }
    }
    .exchange-page[data-page='1'] {
        .step-1 {
            
                .circle{
                    border:3px solid $stepColorActive;
                }      
                                                    
            
        }
        .item-1 {
            display: block;
        }
    }
    .exchange-page[data-page='2'] {
        .step-1,
        {
          .circle{
                    border:3px solid $stepColorActive;
                }   
            
        }
        .step-2{
                .bridge{
                    background-color:$stepColorActive;
                }                                          
        }
        .item-2 {
            display: block;
        }
    }
    .exchange-page[data-page='3'] {
        .step-1,
        .step-2,
         {
           .circle{
                    border:3px solid $stepColorActive;
                }   
                .bridge{
                    background-color:$stepColorActive;
                }                                          
        }
        .step-3{
             .bridge{
                    background-color:$stepColorActive;
                }                                             
        }
        .item-3 {
            display: block;
        }
    } 
    .exchange-page[data-page='4'] {
        .step-1,
        .step-2,
        .step-3 {
           .circle{
                    border:3px solid $stepColorActive;
                }   
                .bridge{
                    background-color:$stepColorActive;
                }                                          
        }
        .item-4 {
            display: block;
        }
    } 
}