$colorBackground: #ebebec;
$colorText: #d1d3d5;
$colorActive:#f4a622;
$colorItem1Blue:#009dea;
$colorItem1:#333;
$fontsizeLable: 15px;
$colorInput: #333;
$boderInputItem1: #aaa;
$colorLableItem1:#777;
.k-page-exchange {
    max-width: 860px;
    padding-left: 40px;
    .k-progress {
        text-align: center;
        .progress-bar {
            display: flex;
            justify-content: center;
        }
        .step {
            display: flex;
            align-items: center;
            &.step-1 {
                right: -10px;
                z-index: 2;
                position: relative;
            }
            &:not(:first-child) {
                width: 108px;
            }
            >span {
                background-color: $colorBackground;
                color: $colorText;
                display: block;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                flex-shrink: 0;
                position: relative;
                z-index: 2;
            }
            .bridge {
                height: 8px;
                width: 90px;
                background: $colorBackground;
                flex-shrink: 0;
                position: relative;
                z-index: 0;
                right: -5px; // position: relative;
                // left: -1px;
            }
        }
    }
    .navigation-btn {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        text-align: right;
        button {
            cursor: pointer;
            &.disable {
                .k-icon {
                    background-position: -310px -195px;
                }
            }
            &:focus {
                outline: none;
            } // background-color: #f4a622;
        }
        &.disable {
            button {
                background-color: #eee;
            }
        }
    }
    .error {
        margin-top: 10px;
        font-size: 13px;
        color: #e74c3c;
        display: flex;
        align-items: center;
        .k-icon {
            margin-right: 5px;
        }
        &.hide {
            visibility: hidden;
        }
    } // .error{
    //  position:fixed;
    //     bottom:5px;
    //     display: flex;
    //    //  margin-left: 100px;
    //      height: 80px;
    //      color:#fff;
    //      &.hide{
    //         display: none;
    //      }
    //      >div{
    //         display: flex;
    //         align-items:center;
    //         justify-content: center
    //      }
    //     .close{
    //         width: 80px;
    //         background-color:#e74a34;
    //         font-size: 40px;   
    //         font-weight: bold;
    //         cursor: pointer;    
    //         border-radius:10px 0 0 10px;     
    //     }
    //     .content{
    //         border-radius:0 10px 10px 0;
    //         width: 800px;
    //         background-color:rgba(231, 74, 52, 0.6);
    //         font-size: 20px;
    //     }
    // }
    // .progress-bar{
    //  height: 20px;
    //  width: 400px;
    //  background-color: #adadad;
    // }
    // .progress-bar-active{
    //  background-color:#f4a622;
    //  height: inherit;
    // }
    // &.blind{
    //     background-color:rgba(0,0,0,0.2);
    // }
    .exchange-page {
        margin-left: 50px;
    }
    .page {
        // margin-top: 70px;
    }
    .page-item {
        display: none;
    }
    .input-space {
        display: flex;
        margin-top: 30px;
        margin-left: 50px;
        span {
            margin-right: 25px;
            width: 50px;
        }
        input {
            width: 220px;
            border: none;
            border-bottom: 1px solid;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            font-size: 18px; // color: #999;
        }
    }
    input {
        color: $colorInput;
    }
    .item-1 {
        padding-top: 60px;
        .input-group-item {
            margin-left: 80px;
            margin-bottom: 40px;
            border: 1px solid #aaa;
            padding: 20px;
            width: 600px;
            &.focus {
            	border: 1px solid #000;
                >label {
                    font-weight: bold;
                    color: #000;
                }
                input{
                	color: $colorItem1;
                }
                // select{
                // 	color: $colorItem1;	
                // }
                .button {	             
	                &:after {
	                    border-top-color: $colorItem1;
	                }
	            }
	             .label {
	                color: $colorItem1;
	            }
            } // &.focus{
            //     background-color:#fff;
            // }
            >label {
                font-size: 14px;
                color: #aaa;
                float: left;
                position: absolute;
                margin-top: -40px;
                background-color: #fbfcfb;
                text-align: center;
                padding: 5px 10px;
            }
        }
        .input-item {
            display: flex;
            align-items: center;



            input {
                background: transparent;
                border: none;
                text-align: center;
                font-size: 20px;
                width: 495px;
                height: 40px; // border-bottom: 1px solid $boderInputItem1;
                color: #aaa;
                &:focus {
                    outline: none;
                }
            }
            .select-wrapper{
            	width: 30px;
            	overflow: hidden;
            }
            select{
            	background-color:#fbfcfb;
            	//color:#aaa;
            	cursor: pointer;
            	border:none;
            	margin-bottom:0px;
            	option{
            		padding: 10px 20px;
            	}
            	&:focus{
            		box-shadow:none;
            	}
            }
            // .selectric {
            //     border: none;
            //     background: transparent;
            //     overflow: initial;
            // }

            // .selected {
            //     background-color: $colorItem1Blue !important;
            //     color: #fff !important;
            // }
            // .selectric-items {
            //     border: none;
            //     width: 250px !important;
            // }
            // .selectric-scroll {
            //     li {
            //         font-size: 18px;
            //         text-align: center;
            //         color: #aaa; //color: $corlor;
            //         &:not(:last-child) {
            //             border-bottom: 1px solid #eee;
            //         }
            //         &:hover {
            //             background-color: #fff;
            //         }
            //     }
            // }
            // .label {
            //     color: #aaa;
            // }
            // .button {
            //     background: transparent;
            //     right: -35px;
            //     &:after {
            //         border-top-color: #aaa;
            //     }
            // } 
        }
        .extra-info {
            // margin-left: 150px;
            color: #aaa;
            font-size: 12px;
            margin-top: 10px;
        }
        .error {
            // margin-left: 150px;
            font-size: 12px;
        }
        .input-account {

            // .label {
            //     display: none;
            // }
            // .selectric-items {
            //     //    border: none;
            //     width: 250px !important;
            //     left: auto;
            //     top: 25px;
            // }
            // .button {
            //     top: -17px;
            // }
            input {
                width: 530px;
            }
            select{
            	width: 100px;
            	position:relative;
            	left: -80px;
            }
        }
        .input-amount {
            // .label {
            //     text-align: center;
            //     background-color: transparent;
            //     width: 100%;
            //     margin: 0;
            //     padding: 0px;
            //     font-size: 18px; //color: #000; //font-weight: bold;
            //     cursor: pointer; //display: none;
            // }
            select{
            	width: 80px;
            }
        }

        .usd-convert {
            align-items: center;
            justify-content: center;
            font-size: 14px;
            margin-top: 8px;
            color: #aaa;
            display: flex;
            label {
                color: inherit;
            }
            span {
                font-size: 15px;
                margin-right: 5px;
            }
        }

        .rate-wrapper {

            margin-top: 80px;
            text-align: center;
            h3 {
                font-size: 13px; //  color: #00bd70;
            }
        }
        .rate {
            padding: 10px;
            border: 1px solid #999;
            border-radius: 5px;


            display: inline-block; //width: 600px;
            //align-items: center;
            //justify-content: center;
            >div {
                float: left;
                text-align: center;
                &:first-child {
                    width: 200px; //padding-right:10px;
                    border-right: 1px dashed #aaa;
                }
                &:nth-child(2) {
                    width: 200px; //padding: 0 10px;
                    border-right: 1px dashed #aaa;
                }
                &:last-child {
                    width: 230px; //padding-left:10px;
                }
                span {
                    color: #aaa;
                    margin-top: 5px;
                }
            }
            &.hide {
                display: none;
            }
        } // .destination-amount{
        //     display: flex;
        //     align-items:center;
        //     justify-content: space-between;
        //     width: 700px;
        //     margin:0 auto;
        //     margin-top: 80px;
        //     // .left{
        //     //     float: left;
        //     // }
        //     .title{
        //         font-weight: bold;
        //     }
        //     >div{
        //         text-align: center;
        //         >div{
        //             margin-bottom:10px;
        //         }
        //     }
        //     *{
        //             font-size: 15px;
        //     }
        //     &.hide{
        //         display: none;
        //     }
        // }
    }
    .item-2 {
        padding-top: 60px;
        margin-left: 200px;
        .intro {
            width: 350px;
            text-align: center; // label {
            //     font-size: 15px;
            //     color: #999;
            // }
            //margin:0 auto;
        }
        .input-space {
            margin-left: 80px; ///justify-content: center;
            text-align: center;
            input {
                width: 100px;
                text-align: center;
            }
        }
        .intro-bottom {
            margin-top: 20px
        }
        .uint {
            font-size: 20px;
            color: #999;
            margin-left: 10px;
        }
    } // .item-3 {
    //     padding-top: 50px;
    //     .intro {
    //         p {
    //             width: 300px;
    //             color: #aaa;
    //             padding-left: 5px;
    //             font-size: 15px;
    //         }
    //         &.intro-bottom {
    //             margin-top: 20px
    //         }
    //     }
    // }
    .item-3 {
        padding-top: 100px;
        margin-left: 200px;
    }
    .item-4 {
        padding-top: 100px;
        text-align: center;
        .verify {
            // height: 100px;
            // width: 100px;
            // border-radius: 100px;
            // background-color: #00c071;
            // color: #fff;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            margin: 0 auto;
        }
        p {
            margin-top: 60px;
        }
    }
    .exchange-page[data-page='1'] {
        .step-1 {
            * {
                background-color: $colorActive !important;
                color: #fff !important;
                ;
            }
        }
        .item-1 {
            display: block;
        }
    }
    .exchange-page[data-page='2'] {
        .step-1,
        .step-2 {
            * {
                background-color: $colorActive !important;
                color: #fff !important;
                ;
            }
        }
        .item-2 {
            display: block;
        }
    }
    .exchange-page[data-page='3'] {
        .step-1,
        .step-2,
        .step-3 {
            * {
                background-color: $colorActive !important;
                color: #fff !important;
                ;
            }
        }
        .item-3 {
            display: block;
        }
    } // .exchange-page[data-page='4'] {
    //     .step {
    //         * {
    //             background-color: $colorActive !important;
    //             color: #fff !important;
    //             ;
    //         }
    //     }
    //     .item-4 {
    //         display: block;
    //     }
    // }
    .exchange-page[data-page='4'] {
        .step {
            * {
                background-color: $colorActive !important;
                color: #fff !important;
                ;
            }
        }
        .item-4 {
            display: block;
        }
        .navigation-btn {
            visibility: hidden;
        }
    }
}