$paddingLeft: 40px;
$paddingRight: 40px;
$corlor :#aaa;

$colorActiveTab :#00bd70;
$widthActiveBorder : 13px;
$tabHeight:40px;

.k-header {
    background-color: #fff;
    display: inline-block;
    min-height: 100vh;
    .k-header-logo {
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        img {
            height: 120px;
        }
    }
    .k-header-footer {
        bottom: 0px;
        position: absolute;
        padding: 15px;
        font-size: 12px;
        color: #aaa;
        margin-top: 80px;
    }
    .k-header-pendding-tx {
        text-align: center;
        margin-top: 70px;
        padding-right: 30px;
        line-height: 25px;
        color: #aaa;
        >div {
            display: none;
            &.loading{
                display: block;
            }
            >div{            
                &:last-child {
                    font-size: 16px;
                }    
            }            
        }
        .number {
            font-size: 40px;
            color:#37A0F4;
        }
        .pending {
            text-align: right;
            color:orange;
        }
    }
    .k-header-menu {
        padding-top: 40px;
        .tabs {
            border: none;
            background-color:inherit;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        a {
            font-family: Lato-Regular;
            font-size: 16px;
            color: #FFFFFF;
            height: $tabHeight;
            display: flex;
            padding: 0px;
            align-items: center;
            padding-left: $paddingLeft;
            padding-right: $paddingRight;
            .k-icon {
                margin-right: 10px;
            }
            &:focus{
                background-color:inherit;
            }
            &:hover{
                background-color:inherit;
                position: relative;
                &:before {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-left:2px solid $colorActiveTab;    
                    border-radius: 3px 0 0 3px;                
                }
                &:after {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-right:2px solid $colorActiveTab;      
                    border-radius: 0 3px 3px 0;
                }
            }
        }
        span {
            display: inline-block;
            width: 30px;
        }
        .tabs-title.is-active {
            a {
                position: relative;
                &:before {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-left:2px solid $colorActiveTab;                    
                    border-radius: 3px 0 0 3px;  
                }
                &:after {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-right:2px solid $colorActiveTab;      
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
    .node {
        >div:first-child{
            margin-top: 60px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            .k-icon{
                position:relative;
                top: 3px;
                margin-right: 10px;
            }
        }
        .node-select {
            //padding-left: $paddingLeft;
            text-align: center;
            select{
                width: 150px;
                cursor: pointer;
                box-shadow:none;
                background-color:inherit;
                font-family: Lato-Light;
                font-size: 14px;
                color: #D8D8D8;
                letter-spacing: 0;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-top: 0;
                margin-top: -10px;
                &:focus{
                    box-shadow:none;
                }
            }
            .selectric{
                  border: none;
                 // background: transparent;
            }
            .label{
                text-align: center;
                background-color: transparent;
                width: 100%;
                margin: 0;
                padding:0px;
                font-size: 15px;
                color: $corlor;
                cursor: pointer;
            }
            .selected{
                background-color:#fff;
                &:after{
                    content: '';
                    position:absolute;
                    width: 8px;
                    height: 8px;
                    border-radius:8px;
                    background-color:green;
                    margin-top: 6px;
                    margin-left: 10px;
                }
            }
            .selectric-items{
                padding:10px;
                left: 10px;
            }
            .selectric-scroll{
                li{
                    font-size:15px;
                    color: $corlor;
                    &:not(:last-child){
                        border-bottom: 1px solid #aaa;
                    }
                    &:hover{
                        background-color:#fff;
                    }
                }
            }
            .button{
                    background: transparent;
                    right: 10px;
            }
        }
    }

    .pending-icon{
        img{
            width: 100px;
        }
    }
}
