$paddingLeft:20px;
$corlor :#aaa;
.k-header {
    background-color: #fff;
    //left: 0px;
    top: 0px;
    min-height: 500px;
    .k-header-logo {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        img {
            width: 100%;
        }
    }
    .k-header-footer {
        bottom: 0px;
        position: absolute;
        padding: 15px;
        font-size: 12px;
        color: #aaa;
        margin-top: 80px;
    }
    .k-header-pendding-tx {
        text-align: center;
        margin-top: 50px;
        padding: 30px;
        line-height: 25px;
        >div {
            &:first-child {
                color: orange;
            }
            &:last-child {
                font-size: 16px;
            }
        }
        .number {
            font-size: 40px;
        }
        .pending {
            text-align: right;
        }
    }
    $tabHeight:40px;
    .k-header-menu {
        .tabs {
            border: none;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        a {
            background-color: #fff;
            font-size: 20px;
            color: #aaa;
            height: $tabHeight;
            display: flex;
            padding: 0px;
            align-items: center;
            padding-left: $paddingLeft;
            .k-icon {
                margin-right: 10px;
            }
        }
        span {
            display: inline-block;
            width: 30px;
        }
        .tabs-title.is-active {
            a {
                color: #000;
                position: relative;
                &:before {
                    content: '';
                    width: 5px;
                    height: $tabHeight;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background-color: #00965e
                }
            }
        }
    }
    .node {
        >div:first-child{
            margin-top: 60px;
            text-align: center;
            font-size: 18px;
            color: #aaa;
            .k-icon{
                position:relative;
                top: 3px;
                margin-right: 10px;
            }
        }
        .node-select {
            //padding-left: $paddingLeft;
            .selectric{
                  border: none;
                  background: transparent;
            }
            .label{
                text-align: center;
                background-color: transparent;
                width: 100%;
                margin: 0;
                padding:0px;
                font-size: 15px;
                color: $corlor;
                cursor: pointer;
            }
            .selected{
                background-color:#fff;
                &:after{
                    content: '';
                    position:absolute;
                    width: 8px;
                    height: 8px;
                    border-radius:8px;
                    background-color:green;
                    margin-top: 6px;
                    margin-left: 10px;
                }
            }
            .selectric-items{
                padding:10px;
                left: 10px;
            }
            .selectric-scroll{
                li{
                    font-size:15px;
                    color: $corlor;
                    &:not(:last-child){
                        border-bottom: 1px solid #aaa;
                    }
                    &:hover{
                        background-color:#fff;
                    }
                }
            }
            .button{
                    background: transparent;
                    right: 10px;
            }
        }
    }
}
