.info {
  color: #fff;
  padding: 50px;
  label {
    font-weight: 500;
    font-size: 18px;
    color: #00C072;
    display: inline-block;
    margin-right: 15px;
  }
  .alert {
    margin-top: 10px;
    font-size: 20px;
    color: #e74c3c;
  }
}
