$heightRate:500px;
$widthRate: 650px;
$rateBtnColor:green;
.k-rate {
	&.k-rate-show{
		.k-rate-wrapper {
			display: block;
		}	
		.k-rate-content {
			right: 0px;
			 transition: 0.8s;
		}
	}
    .k-rate-wrapper {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        display: none;
    }
    .k-rate-content {
        display: flex;
        align-items: center;
        top: calc(50vh - #{$heightRate /2});
        right: - $widthRate;
         transition: 0.8s;
        color: white;
        position: fixed;
    }
    .k-rate-btn {
        padding: 8px;
        background-color: $rateBtnColor;
        cursor: pointer;
        border-radius: 10px;
        span {
            color: white;
            &:first-child {

                display: block;
                width: 1px;
                word-wrap: break-word;
                font-family: monospace;
            }
        }
    }
    .k-rate-info {
        width: $widthRate;
        height: $heightRate;
    }
}

$borderRateColor :#aaa;
.k-rate-info{
	//padding:100px;
	background-color:#3273c5;
	overflow:auto;
	border: 1px solid $borderRateColor;
	border-radius:10px;
	font-size: 15px;
	*{
		background-color:inherit;
	}
	.title{
		display: flex;
		padding:9px 20px;
		color:#fff;

		justify-content: space-between;
		border-bottom: 1px solid $borderRateColor;
		text-transform: uppercase;
		.left{
			i{
				margin-right: 5px
			}
		}
	}
	.rate-content{
		padding:40px;
		table{
			border:none;
			*{
				border:none;
				background-color:inherit;	
				word-wrap: break-word;
			    word-break: break-all;
			    text-overflow: ellipsis;
			}
		}
		thead{
			th{
				text-align: center;
				color: white;
				&:nth-child(2){
					border-right:1px solid $borderRateColor;
				}
			}
		}
		tbody{
			tr{
				border-top:1px solid $borderRateColor;
				td{
					&:not:first-child{
						color: white;
						text-align: center;
						padding:10px 20px;
					}
					&:first-child{
						color: #23ae79;
						text-transform: uppercase;
					}
					&:nth-child(2){
						border-right:1px solid $borderRateColor;
					}
				}
			}
		}
	}
}