$colorTable: #999;
$colorModal : #2195f2;
$modalFontSize:13px;
.k-page-transaction {
    table,
    thead,
    tbody,
    tr {
        border: none;
    }
    table {
        text-align: center;
        color: $colorTable;
        font-size: 13px;
        thead {
            background: transparent;
            border: none;
            border-bottom: 2px solid #aaa;
            th {
                text-align: center;
                font-weight: normal;
                color: $colorTable;
            }
        }
        tbody {
            tr {
                border-bottom: none !important;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover{
                	background-color:#eee;
                }
            }
            .spacer {
                width: 100px;
                height: 10px;
                background: transparent;
                pointer-events: none;
            }
        }
        .hash {
            display: flex;
            &:before {
                content: ' ';
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 10px;
                margin-right: 5px;
                border: 1px solid $colorTable;
                position: relative;
                top: 3px;
            }
            a{
                width: 200px;
                display: block;             
                overflow:hidden; 
                white-space:nowrap; 
                text-overflow: ellipsis;
            }
        }
        .from{
            span{
                width: 150px;
                overflow:hidden; 
                white-space:nowrap; 
                text-overflow: ellipsis;  
                display: block;  
            }            
        }
        .success,
        .fail {
            &:before {
                content: ' ';
                width: 6px;
                height: 6px;
                display: inline-block;
                border-radius: 6px;
                margin-right: 5px;
            }
        }
        .success {
            &:before {
                background-color: #8bc34a;
            }
        }
        .fail {
            &:before {
                background-color: #e74c3c;
            }
        }
    }    
    .load-more {
        text-align: center;
        margin-top: 40px;
    }
}

#tx-modal{
        font-size: $modalFontSize;
        padding:0px;
        outline: none;
        border-radius:5px;
        .modal-title{
            color:$colorModal;
            padding: 5px 30px;
            border-bottom:1px solid #999;
            text-align:center;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .modal-info{
            >div{
                display: flex;
                padding:5px;
                label{
                    width: 170px;                    
                    color: $colorModal;
                    display: inline-block;
                    font-size:$modalFontSize;
                    text-align: right;
                    margin-right: 20px;
                 //   padding:5px;
                }
                span{
                    text-overflow: ellipsis;
                    width: 400px;
                    display: inline-block;
                    overflow: hidden;
                    a{
                        color: #000;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                // span{
                //     padding:5px;
                // }
                .account{
                    padding:5px 10px;
                    background-color:#b8e986;
                    border-radius:8px;
                    margin-right: 20px;
                }

            }
        }
        .modal-extra{
            display: inline-block;
            width: 100%;
            margin-top: 40px;
            >div{
                padding:30px;
                line-height: 30px;
                text-align: center;
                >div {
                    &:last-child{
                        color:$colorModal;
                    }
                }
            }
            .left{
                float: left;
            }
            .right{
                float: right;
            }
        }
    }
