@import "global";


$color:linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
$accountColor: #00c072;
$borderWidth:2px;
$borderRadius: 4px;

$backgroundColor:#333;

.k-page-wallet {
    //modal
    // .wallet-item {
    //     background-image: $color;
    // }
    #tx-modal-wallet {
        top: -460px !important;
    }
    .import-modal {
        .modal-title {
            text-align: center;
            font-size: 25px;
            padding: 10px 0px; // border-bottom: 1px solid #aaa;
        }
        label {
            font-weight: bold;
        }
        .submit-button {
            text-align: right;
            margin-top: 40px; // button{
            //     color: #fff;
            //     padding:10px 20px;
            //     background-image: $color;
            //     &:focus{
            //         outline: none;
            //     }
            //     &:hover{
            //         background-image: darken($color,10%);
            //     }
            // }
        }
    }
    .created {
        padding: 10px;
        word-break: break-all;
    }
}

.k-page-account {
    .wallet-item {
        //border: $borderWidth solid $accountColor;
        background-image: $accountColor;
        border-radius: $borderRadius +2;
    }
    .balance {
        span {
            color: $accountColor
        }
    }


    .token-item {
        .value {
            color: #aaa;
        }
    }
}

.import-wallet {
    &.button-green {
        button {
            background-color: $accountColor;
        }
    }
    &.button-gradient {
        button {
            right: 200px;
            background-image: $color;
        }
    }
}

.no-account {
    text-align: center;
    font-size: 20px;
}

.text-green {
    color: $accountColor;
}

.import-account {
    .modal-title {
        font-size: 20px;
        text-align: center;
    }
    .modal-body label {
        font-weight: bold;
    }
    .dropzone>div {
        width: auto !important;
        cursor: pointer;
    }
    .file-name {
        padding: 10px;
        font-size: 13px;
        color: #aaa;
    }
    .submit-button {
        text-align: right;
        margin-top: 40px;
    }
}

//.k-page-wallet {
.wallet-item {
    // display: inline-block;
    //    width: 100%;
    max-width: 850px;
    border-radius: $borderRadius;

    padding: $borderWidth;
    margin-bottom: 30px;
    margin-left: 20px;
    background-image: linear-gradient(-180deg, #2F3037 0%, #22232A 95%);
    color: #fff;
    * {
        color: inherit;
    }
    >div {
        display: flex;
        width: 100%; //float: left;
        height: 100%;
        div {
            //  float: left;
            &.wallet-left {
                width: 40%;
            }
            &.wallet-center {
            } // &.wallet-right {
            //     width: 20%;
            // }
        }
    }
    $paddingLeft:25px;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #4f4f4f;
        width: 100%;
            padding-right: 10px;
        span {
            text-transform: uppercase;
            padding-left: $paddingLeft;
            font-family: Lato-Light;
            font-size: 16px;
            color: #FFFFFF;
        }
    }
    .wallet-content {
        padding-bottom: 20px;
    }
    .wallet-left {
        label {
          font-family: Lato-Bold;
          font-size: 16px;
          color: #FFFFFF;
        }
        .content {
            padding-left: $paddingLeft;
            padding-top: 7px;
            >div{
                span{
                    position: relative;
                    top: -5px;
                }
            }
        }
        .address {
            margin-top: 15px;
            span {
                font-size: 13px;
                color: #aaa;
            }
            >div {
                text-align: center;
            }
        }
        .account-action {
            height: 50px;
            padding: 10px 70px;
            margin-top: 30px;
            border: 1px solid #979797;
            display: flex;
            justify-content: space-between;
            align-items:center;
            width: 283px;
            button{
                cursor: pointer;
            }
        }
    }
    .wallet-center {
        .row {
            display: flex;
            justify-content: space-between; // display: -webkit-flex;
            // display: flex;
            // -webkit-align-items: center;
            // align-items: center;
            // -webkit-justify-content: space-between;
            // justify-content: space-between;
            // /* You can set flex-wrap and flex-direction individually */
            // -webkit-flex-direction: row;
            // flex-direction: row;
            // -webkit-flex-wrap: wrap;
            // flex-wrap: wrap;
            // /* Or do it all in one line with flex flow */
            // -webkit-flex-flow: row wrap;
            // flex-flow: row wrap;
            // /* tweak the where items line up on the row */
            // /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
            // -webkit-align-content: flex-end;
            // align-content: flex-end;
        }
    }
    .balance {
        color: $color;
    }
    .token-item {
        padding: 53px 40px;
        text-align: center;
        >div {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        img {
            height: 40px;
        }
        .name {
            font-size: 13px;
            text-transform: uppercase;
        }
        .value {
            padding-top: 20px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    &:hover {
        .control-btn {
            visibility: visible;
        }
    }
    .control-btn {
    
        float: left;
        margin-left: 10px;
        position:relative;
        &.show{
            .control-menu{
                display: block;
                animation:unfoldIn 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                transform:scaleY(.01) scaleX(0);
            }        
        }
        button {
            margin-left: 10px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    } 
    .control-menu{
        background-color:#000;
        border-radius:10px;
        position:absolute;
        right: 0px;
        display: none;
        ul{
            list-style-type: none;
            padding:0px;
            margin: 0px;
            >li{
                padding:0px;
                margin: 0px;
                &:not(:last-child){
                    a{
                        border-bottom: 1px solid #4F4F4F;
                    }
                }
                a{
                       padding: 10px 20px;
                        align-items: center;
                        display: flex;
                        font-size: 15px;
                        color: #aaa;                
                    &:hover{
                        color: inherit;
                    }
                    i{
                        margin-right: 10px;
                        position:relative;
                        top: -3px;
                    }
                }
                    
                }
            }
        }
    
    // .wallet-right {
    //     visibility: hidden;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     button {
    //         margin-left: 20px;
    //         cursor: pointer;
    //         &:focus{
    //             outline: none;
    //         }
    //     }
    //     //.delete{
    //     // .k-tooltip-content {
    //     //     left: -28px;
    //     //     top: -35px;
    //     // }
    //     //}
    // }
}

.import-wallet {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 100px;
    button {
        width: 50px;
        height: 50px; //  background-image: $color;
        border-radius: 70px;
        color: #fff;
        font-size: 40px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        margin-left:80px;
        cursor: pointer;
        &:focus {
            outline: none;
        }

        div {
          display: block;
          text-align: center;
          width: 50px;
          height: 50px;
          vertical-align: middle;
          line-height: 42px;
        }
    }
}

.no-wallet,
.no-account {
    padding-left: 50px;
}

.modal-import {
    width: 400px;
}

.modal-payment {
    width: 600px;
    .input-space,
    .intro {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        span {
            &:first-child {
                display: block;
                width: 100px;
                text-align: right;
                padding-right: 14px;
            }
        }
        input {
            width: 400px;
            margin: 0px;
            margin-right: 10px;
        }
    }
}

$colorActiveTab :#00bd70;
$widthActiveBorder : 13px;
$tabHeight:50px;
.control-account{
    position: fixed;
    bottom: 50px;    
    background-color: $backgroundColor;
    width: 280px;
    margin-left: -220px;
    box-shadow: 1px 1px 1px 1px #000;
    animation:unfoldIn 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    transform:scaleY(.01) scaleX(0);
    border-radius: 10px;        
    &.hide{
        display: none;
    }
    *{
        color: #fff;    
    }    
    ul{
        list-style-type: none;
        margin:0px;
        >li{
            &:not(:last-child){
            border-bottom:1px solid #000;
        }    
        }
    }
    .link{
        height: $tabHeight;        
        display: flex;
        align-items:center;
        cursor: pointer;
        *{
            cursor: inherit;  
        }
        padding-left:30px;
        position:relative;
        span{
            width: 80px;
            text-align: center;
        }
        label{
            font-size: 20px;
            margin-left: 20px;
        }
        &:hover{
            &:before {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-left:2px solid $colorActiveTab;                    
                }
                &:after {
                    content: '';
                    width: $widthActiveBorder;
                    height: $tabHeight;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    border-top:2px solid $colorActiveTab;
                    border-bottom:2px solid $colorActiveTab;                    
                    border-right:2px solid $colorActiveTab;      
                }
        }
    }
}
