// Colors
$error-color: #fa6566;
$base-color: #666;
$swap-color: #EF8102;
$color-swap-light: #F2A657;
$light-gray: #BBDAD5;
$medium-gray: #262C41;
$dark-gray: #0B0F1A;
$black: #2c2c2c;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.56);
$accent-gradient: linear-gradient(169deg, #36d9ac, #049696);
$alert-color: #ff5d00;
$text-orange: #ff9008;
$text-orange-light: #f6934e;
$text-green: #31cb9e;
$text-green-light: #27a69a;
$text-blue: #1e89c1;

// Dark Theme
$dark-background: #1a1a1a;
$dark-background-2: #232323;
$dark-background-3: #363636;
$dark-background-4: #424242;
$dark-background-5: #2b2b2b;
$dark-background-6: #6f6f6f;
$dark-background-7: #2f2f2f;
$dark-text-default: #ffffff;
$dark-text: #b8babe;
$dark-text-2: #aeb6c3;
$dark-text-3: #5a5e67;
$dark-text-4: #9ea1aa;
$dark-text-5: #e1e4eb;
$dark-text-6: #27303b;
$dark-border: #4c4c4c;
$dark-border-2: #424242;
$dark-button-background: linear-gradient(175deg, #ffb046, #f52880) 0 0;

// Paths
$image-path: '../img/';
$asset-url: 'https://files.kyber.network/DesignAssets/';

// Breakpoints
$breakpoints: (
  small: 0,
  mid-small: 480px,
  xxsmall: 530px,
  medium: 640px,
  mid-medium: 768px,
  xxmedium: 850px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// Fonts
$font-roboto: 'Roboto', sans-serif;


// Mixins
@mixin screen-max-width($breakpoint) {
  @media screen and (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 1px)) {
    @content;
  }
}

@mixin screen-min-width($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
