&.theme--dark {
  background-color: $dark-background;
  color: $dark-text;

  .theme__text-2 {
    color: $dark-text-2
  }

  .theme__text-3 {
    color: $dark-text-3
  }

  .theme__text-4 {
    color: $dark-text-4
  }

  .theme__text-5 {
    color: $dark-text-5
  }

  .theme__text-6 {
    color: $dark-text-6
  }

  .theme__background-2 {
    background-color: $dark-background-2;
  }

  .theme__background-3 {
    background-color: $dark-background-3;
  }

  .theme__background-4 {
    background-color: $dark-background-4;
  }

  .theme__background-5 {
    background-color: $dark-background-5;
  }

  .theme__border {
    border-color: $dark-border;
  }

  .theme__border-2 {
    border-color: $dark-border;
  }

  .theme__button {
    color: $dark-text-6;
    background: $dark-button-background;
    background-size: auto 150%;

    &:hover {
      background-position: 0 100%;
    }
  }

  .theme__button-2 {
    background-color: $dark-background-5;
    border-color: $dark-border;

    &:hover {
      background-color: $dark-border;
    }
  }
}
