.theme.theme--dark {
  .theme__bg {
    background-color: #1f2731;
  }

  .theme__bg-bold {
    background-color: #262e39;
  }

  .theme__bg-light {
    background-color: #303a47;
  }

  .theme__bg-boldest {
    background-color: #192029
  }

  .theme__bg-orange {
    background: #ff9008;
  }

  .theme__border {
    border-color: #47515f;
  }

  .theme__text {
    color: #5d6d81;
  }

  .theme__text-highlight {
    color: #e1e4eb;
  }

  .theme__text-light {
    color: #546780;
  }

  .theme__text-bold {
    color: #adbdd2;
  }

  .theme__text-green {
    color: #31cb9e;
  }

  .theme__text-red {
    color: #fa6566;
  }

  .theme__text-orange {
    color: #ff9008
  }

  .theme__text-blue {
    color: #1db1ff;
  }
}
