.theme.theme--light {
  .theme__bg {
    background-color: white;
  }

  .theme__bg-bold {
    background-color: #e1e4eb;
  }

  .theme__bg-light {
    background-color: #f6f7fa;
  }

  .theme__bg-boldest {
    background-color: #192029
  }

  .theme__bg-orange {
    background: #ff9008;
  }

  .theme__border {
    border-color: #e1e4eb;
  }

  .theme__text {
    color: #5d6d81;
  }

  .theme__text-highlight {
    color: #141927;
  }

  .theme__text-light {
    color: #b8babe;
  }

  .theme__text-bold {
    color: #141927;
  }

  .theme__text-green {
    color: #31cb9e;
  }

  .theme__text-red {
    color: #fa6566;
  }

  .theme__text-orange {
    color: #ff9008
  }

  .theme__text-blue {
    color: #1db1ff;
  }
}
