@import "../components/global";

$colorTable: #999;
$colorModal : #2195f2;
$modalFontSize:13px;
.k-page-transaction {
    table,
    thead,
    tbody,
    tr {
        border: none;
    }
    table {
        text-align: center;
        color: $colorTable;
        font-size: 13px;
        thead {
            background: transparent;
            border: none;
            border-bottom: 2px solid #aaa;
            th {
                text-align: center;
                font-weight: normal;
                color: $colorGreen;
            }
        }
        tbody {
            background:transparent;
            tr {
                border-bottom: none !important;
                margin-bottom: 20px;
                cursor: pointer;
                background:transparent;
                color: #fff;
                &:hover{
                	background-color:#333;
                }
            }
            .spacer {
                width: 100px;
                height: 10px;
                background: transparent;
                pointer-events: none;
            }
        }
        .hash {
            display: flex;
            &:before {
                content: ' ';
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 10px;
                margin-right: 5px;
                border: 1px solid $colorTable;
                position: relative;
                top: 3px;
            }
            a{
                width: 200px;
                display: block;             
                overflow:hidden; 
                white-space:nowrap; 
                text-overflow: ellipsis;
            }
        }
        .from{
            span{
                width: 150px;
                overflow:hidden; 
                white-space:nowrap; 
                text-overflow: ellipsis;  
                display: block;  
            }            
        }
        .success,
        .fail {
            &:before {
                    content: ' ';
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    border-radius: 8px;
                    margin-right: 8px;
            }
        }
        .success {
            &:before {
                background-color: #00c071;
            }
        }
        .fail {
            &:before {
                background-color: #d0011b;
            }
        }
    }    
    .load-more {
        text-align: center;
        margin-top: 40px;
        button{
            background-color: #2196f3;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
.modal-transaction{
    padding:0px;
    border-radius:5px;
    width: 700px;
}
#tx-modal{
        font-size: $modalFontSize;
        padding:0px;
        outline: none;
        border-radius:5px;
        .modal-title{
            color:$colorGreen;
            padding: 10px 20px;
            border-bottom:1px solid #444;
            text-align:center;
            font-size: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            background-color:#2e3037;
            button{
                cursor: pointer;
            }
            i{
                position:relative;
                top: 3px;
            }
            .left{
                color: #fff;
                i{
                    margin-right:10px;
                }
            }
        }
        .modal-info{
            padding-left:55px;
            >div{
                display: flex;
                padding:5px;
                label{
                    width: 80px;                    
                    color: $colorGreen;
                    display: inline-block;
                    font-size:$modalFontSize;
                    margin-right: 20px;
                 //   padding:5px;
                }
                span{                   
                    color: #fff;
                    a{
                        color: #fff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                // span{
                //     padding:5px;
                // }
                .account{
                    padding:5px 10px;
                    background-color:#b8e986;
                    border-radius:8px;
                    margin-right: 20px;
                }

            }
        }
        .modal-detail{
            margin-bottom:50px;
            .row{                
                width: 500px;
                margin:0 auto;
                margin-top: 50px;
            }
            label{
                color: $colorGreen;
                width: 170px;
                display: inline-block;
            }
            span{
                color: #fff;
            }
        }
    }
