

@media print, screen and (min-width: 40em){
  #header{
    min-height: auto;
    padding: 10px 0;
  }
  #rate-bar {
      padding: 10px 10px;
  }
  
  
  .advanced-switch{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .frame {
      margin-bottom: 5px;
      padding: 15px 0;
  }
  .token-input{
    min-height: 60px;
  }

  #header .user-bar ul.notifications{
    top: 66px;
  }

  /* #exchange .address-balance{
    margin-bottom: 25px !important;
  } */

  #transfer-screen .frame h1.title {
    margin: 10px 0 15px 0;
  }
  /* #transfer-screen .address-balance{
    margin-bottom: 0px !important;
  } */

  #transfer-screen label {
    margin-bottom: 15px;
  }
}
