.account-balance {
  @include screen-max-width(large){
    .slide-down__trigger-container{
      >div{
        width: 100%;
      }
      .account-balance__address{
        display: flex;
        align-items: center;
        font-size: 14px;
        >div{
          &:first-child{
            display: flex;
            width: 100%;
            >span{
              &:first-child{
                margin-right: 10px;
              }
              // &:last-child{
              //   margin-left: 10px;
              // }
            }
          }
        }
      }
    }
  }

  &__content{
    margin-right: -20px;
  }

  &__address {
    display: flex;
    align-items: center;
  }

  &__address-text {
    font-size: 14px;
    font-weight: 600;
    padding-right: 5px;
  }

  &__wallet-name {
    padding-left: 5px;
    >span {
      padding-right: 10px;
      @include screen-max-width(medium) {
        padding-right: 15px;
      }
    }
  }

  &__address-link {
    font-size: 13px;
    word-break: break-all;
    transition: color .2s;

    &:hover {
      text-decoration: underline;
    }
  }

  &__cat-panel{
    margin: 10px 0 0 0;

    span{
      font-size: 12px;
      margin: 0 10px 0 0;
      padding-bottom: 5px;

      &.active{
        border-bottom: 3px solid #ff9008;
        transition: border-bottom .15s ease-in-out;
      }
    }
  }

  &__sort-panel{
    margin: 20px -20px 0 -20px;
    padding: 10px 20px;
    cursor: pointer;
    #sec-2{
      float: right;
    }

    span{
      font-size: 14px;
    }
    .active{
      &.asc:after{
        content: '\2191';
        margin: 5px
      }

      &.dsc:after{
        content: '\2193';
        margin: 5px
      }
    }
  }

  &__token-list {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    padding: 0 15px 0 0;
    overflow: auto;
    max-height: 50vh;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, .2);
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, 1);
    }
  }

  &__token-item {
    display: flex;
    width: 100%;
    margin: 0 1.7% 22px 0;
    cursor: pointer;

    // &:nth-last-child(-n + 4) { // bug 1975
    //   margin-bottom: 0;
    // }
    &.disabled{
      opacity: 0.3;
    }
    &.active {
      .account-balance__token-symbol,
      .account-balance__token-balance {
        color: #ef8102;
      }
    }
    &.deactivated {
      pointer-events: none;
    }
    img{
      width: 24px; 
      height: 24px;
      margin-right: 10px
    }

  }

  &__token-symbol {
    font-size: 14px;
    // font-weight: 600;
    transition: color .3s;
    font-weight: 500;
    width: 200px;
  }

  &__token-balance {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    transition: color .3s;
  }

  &__content-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    // padding-right: 15px;
  }

  &__content-search-container {
    position: relative;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url($image-path + 'common/icon-search-gray.svg');
      background-size: contain;
    }
  }

  & &__content-search {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 15px 35px 10px 0;
    outline: none;
    background-color: transparent !important;
    box-shadow: none !important;
    margin-bottom: 0;
  }

  &__sort {
    width: 120px;
    position: relative;

    .dropdown__content {
      width: 100%;
      z-index: 1;
      box-shadow: 0 2px 5px 0 #ccc;
      font-size: 14px;
      line-height: 2.3;
      color: #5a5e67;
      padding: 10px 0;
      background-color: white;
    }

    &.dropdown--active {
      .account-balance__sort-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__sort-category {
    width: 100%;
    background-color: white;
  }

  &__sort-item {
    padding-left: 40px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: #EBEBEB;
    }

    &.active {
      position: relative;

      &::before {
        content: '';
        width: 18px;
        height: 14px;
        display: block;
        position: absolute;
        top: 9px;
        left: 10px;
        background-image: url($image-path + 'icon-checked.svg');
      }
    }
  }

  &__sort-dropdown {
    color: #8f8f8f;;
    font-size: 14px;
    border-bottom: 1px solid #e1e5eb;
    padding: 9px 0;
  }

  &__sort-arrow {
    position: absolute;
    top: 17px;
    right: 0;
    width: 12px;
    height: 12px;
    background: url($image-path + '/v3/price_drop_down.svg') center no-repeat;
    background-size: contain;
    transition: all 0.3s;
  }

  @include screen-max-width(large) {
    // &__content {
    //   padding-left: 20px;
    // }

    &__address-text {
      display: block;
    }

    &__content-input-container {
      display: block;
      margin-bottom: 15px;
    }

    &__content-search-container {
      width: 100%;

      &::before {
        right: 0;
      }
    }

    &__sort {
      width: 100%;
    }

    &__sort-arrow {
      top: 15px;
    }

    &__token-list {
      /*max-height: 103px;*/
    }

    &__token-item {
      width: 50%;
      margin: 0;
      padding: 7px 0;
      font-size: 14px;
    }
  }
}
