.account-balance {
  @include screen-max-width(large){
    .slide-down__trigger-container{
      >div{
        width: 100%;
      }
      .account-balance__address{
        display: flex;
        align-items: center;
        font-size: 14px;
        >div{
          &:first-child{
            display: flex;
            width: 100%;
            >span{
              &:first-child{
                margin-right: 10px;
              }
              // &:last-child{
              //   margin-left: 10px;
              // }
            }
          }
        }
      }
    }
  }
  
  &__address {
    display: flex;
    align-items: center;
  }
  &__address-text {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    padding-right: 5px;
  }

  &__wallet-name {
    padding-left: 5px;
    >span {
      padding-right: 10px;
      @include screen-max-width(medium) {
        padding-right: 15px;
      }
    }
  }

  &__address-link {
    font-size: 13px;
    color: #5a5e67;
    word-break: break-all;
    transition: color .2s;

    &:hover {
      color: #ef8102;
      text-decoration: underline;
    }
  }

  &__token-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    overflow: auto;
    max-height: 116px;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, .2);
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, 1);
    }
  }

  &__token-item {
    display: flex;
    width: 30%;
    margin: 0 1.7% 22px 0;
    cursor: pointer;

    // &:nth-last-child(-n + 4) { // bug 1975
    //   margin-bottom: 0;
    // }

    &.active {
      .account-balance__token-symbol,
      .account-balance__token-balance {
        color: #ef8102;
      }
    }
  }

  &__token-symbol {
    // font-size: 14px;
    opacity: 0.8;
    // font-weight: 600;
    color: #222222;
    margin-right: 5px;
    transition: color .3s;
    font-weight: 500;
  }

  &__token-balance {
    opacity: 0.8;
    // font-size: 14px;
    color: #666666;
    transition: color .3s;
  }

  &__content-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    // padding-right: 15px;
  }

  &__content-search-container {
    position: relative;
    width: calc(100% - 170px);

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url($image-path + 'common/icon-search-gray.svg');
      background-size: contain;
    }
  }

  & &__content-search {
    border: none !important;
    border-bottom: 1px solid #e1e5eb !important;
    padding: 10px 35px 10px 0;
    outline: none;
    background-color: transparent !important;
    box-shadow: none !important;
    margin-bottom: 0;

    &::placeholder {
      color: #8f8f8f;
      font-size: 14px;
    }
  }

  &__sort {
    width: 120px;
    position: relative;

    .dropdown__content {
      width: 100%;
      z-index: 1;
      box-shadow: 0 2px 5px 0 #ccc;
      font-size: 14px;
      line-height: 2.3;
      color: #5a5e67;
      padding: 10px 0;
      background-color: white;
    }

    &.dropdown--active {
      .account-balance__sort-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__sort-category {
    width: 100%;
    background-color: white;
  }

  &__sort-item {
    padding-left: 40px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: #EBEBEB;
    }

    &.active {
      position: relative;

      &::before {
        content: '';
        width: 18px;
        height: 14px;
        display: block;
        position: absolute;
        top: 9px;
        left: 10px;
        background-image: url($image-path + 'icon-checked.svg');
      }
    }
  }

  &__sort-dropdown {
    color: #8f8f8f;;
    font-size: 14px;
    border-bottom: 1px solid #e1e5eb;
    padding: 9px 0;
  }

  &__sort-arrow {
    position: absolute;
    top: 17px;
    right: 0;
    width: 12px;
    height: 12px;
    background: url($image-path + '/v3/price_drop_down.svg') center no-repeat;
    background-size: contain;
    transition: all 0.3s;
  }

  @media screen and (max-width: 900px) {
    // &__content {
    //   padding-left: 20px;
    // }

    &__address-text {
      display: block;
    }

    &__content-input-container {
      display: block;
      margin-bottom: 15px;
    }

    &__content-search-container {
      width: 100%;

      &::before {
        right: 0;
      }
    }

    &__sort {
      width: 100%;
    }

    &__sort-arrow {
      top: 15px;
    }

    &__token-list {
      max-height: 103px;
    }

    &__token-item {
      width: 50%;
      margin: 0;
      padding: 7px 0;
    }
  }
}
