#balance-account-wrapper {
  min-height: 525px;
    @include screen-max-width(large) {
      min-height: 640px;
    }
  #balance-account {
    .balances {
      height: 330px;
      @include screen-max-width(large) {
        height: 540px;
      }
    }
  }
  &.error {
    min-height: 640px;
    @include screen-max-width(large) {
      min-height: 670px;
    }
    #balance-account {
      .balances {
        height: 455px;
        @include screen-max-width(large) {
          height: 630px;
        }
      }
    }
  }
}

#balance-account{
    // border-right: 1px solid #ddd;
    padding-top: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474D5F;

    // @include screen-max-width(medium) {
    //   margin-bottom: 10px;      
    // }


    .balance-large{
      @media screen and (max-width: 640px) {
        display: none
      }
    }

    .balance-medium{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // position: relative;
      // z-index: 1;
      img {
        width: 13px;
        transition: 0.3s;
        &.arrow-balance-up {
          transform: rotate(180deg);
        }
      }
      @media screen and (min-width: 640px) {
        display: none;
      }
    }

    #balance-content{
      .balance-panel {
        padding-bottom: 5px;
      }
      @media screen and (max-width: 640px) {
        display: none;
        padding: 10px;
        background-color: #f5f5f5;
      }      
      &.show-balance{
        @media screen and (max-width: 640px) {
          display: block;
          // animation: rollOut 0.3s ease-in-out;
        }
      }
    }

    .title{
      font-size: 16px;
      font-weight: 600;
      color: #222;
      margin-bottom: 5px;
    }

    .balance-address{
      padding: 0 1.1rem;
      margin-bottom: 10px;
      color: #474d5f;

      a {
        color: #666;
        font-weight: normal;
        font-size: 15px;
      }
    }
    .balance-header {
      padding: 0.5rem 1rem;

      @include screen-max-width(medium) {
        background-color: #F5F5F5;     
        padding: 1.2rem 1rem;   
      }

      .title {
        font-size: 20px;
        margin-bottom: 0;
      }
      .estimate-value{
        color: #454e5f;
        font-size: 14px;
        font-weight: 600;
        
        .text-upcase {
          text-transform: uppercase;
          color: #454e5f;
        }
      }
    }
    input{
      text-indent: 15px;
      min-height: 33px;
      height: 33px;
      // opacity: 0.3;
      border-radius: 2px;
      border: 1px solid #ccc;
    }
    .balances{
      display: inline-block;
      overflow: auto;
      direction: rtl;
      width: 100%;

      &.custom-radio{
        ul{
          padding: 10px;
          direction: ltr;
          width: 100%;
        }
        li{
          width: 50%;
          float: left;
          height: 50px;
          border-radius: 25px;
          margin: 5px 0;
          &.hide{
            display: none;
          }
          &.active{
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
            .balance-item{
              .label-radio{
                color: #ef8102;
              }
            }
          }
          .check{
            top: 17px;
          }
          &:not(.active){
            &:hover {
              // background-color: #F2FAF7;
              .check{
                border: 2px solid #ef8102 ;
              }
            }
          }
          
        }
        label{
          position: relative;
    top: -10px;
    left: 10px;
          color: #4B4860;
        }
      }
    }

    #search-balance{
      padding: 0 1.1rem;

      .dropdown--active{
        position: relative;
        z-index: 10;
        .dropdown__content {
          right: 0;
          .select-item{
            background-color: white;
            box-shadow: 0 7px 25px #ddd;
            right: 0;
            >div{
              padding: 10px 30px 10px 15px;
              font-weight: normal;
              &:hover{
                background-color: #F9F9FB;
                cursor: pointer;
              }          
            }
          }
        }
      }
      .column {
        padding-right: 0.5rem;
        .search-icon {
          height: 33px;
          width: 33px;
          background-color: red;
        }
      }
      margin-bottom: 1.2rem;
      .sort-balance{
        text-align: center;
        width: 33px;
        height: 33px;
        padding: 0px;
        // border: 1px solid #ccc;
        // border-radius: 3px;
        background-image: url(../img/sort_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        border-radius: 2px;
        border: 1px solid #ccc;
      }
    }
    .balance-item{
      border-radius: 15px;
      line-height: 20px;
      padding: 10px 15px;
      font-size: 13px;
      border: 1px solid transparent;
      cursor: pointer;
      h4{
        line-height: 29px;
      }
      img{
        vertical-align: baseline;
        margin-right: 15px;
      }
      + .__react_component_tooltip{
        border: 1px solid #afafaf;
        &.show{
          opacity: 1;
        }
        &.place-bottom{
          &::before{
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom: 8px solid #afafaf;
          }
          &::after{
            border-bottom-width: 7px;
            top: -7px;
          }
        }
        &.place-right::before{
          border-right: 8px solid #afafaf;
        }
        &.place-left::before{
          border-left: 8px solid #afafaf;
        }
      }
      .label-radio{
        // font-family: OpenSans;
        color: #474d5f;
        // opacity: 0.8;
        .symbol{
          font-size: 14px;
          font-weight: 600;
        }
        .balance{
          font-size: 12px;
          margin-top: -7px;
          font-weight: normal;
        }
      }
    }
  }
