
@include screen-min-width(large) {
  .balance-wrapper,
  .exchange-col-1 {
    box-shadow: $box-shadow-tab;
  }
  @keyframes moving-left {
    to {
      transform: translateX(0);
    }
  }
  .balance-wrapper{
    border: 1px solid #ddd;
    
    background: white;
    position: relative;
    z-index: 1;
    animation: moving-left 0.3s forwards;
    transform: translateX(50px);
    transition: all .3s;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 10px;
    //   height: 100%;
    //   background: $white;
    //   top: 0;
    //   right: -11px;
    // }
  }
  .exchange-wrapper-btn{
    text-align: center;
  }
  .exchange-col-1{
    padding: 0 2rem;
    border: 1px solid #ddd;
    border-left: none;
    background: white;
  }
  .exchange-col-2{
    padding-left: 20px;
  }
  .exchange-col{
    position: relative;
    height: 100%;
  }
}

#balance-account-wrapper {
  background-color: #f5f5f5;

  #balance-account {
    .balances {
      height: 236px;
    }
  }

  .balance-address {
    padding: 10px;
    color: #474d5f;

    .title {
      font-size: 14px;
      font-weight: 600;
      color: #222222;
      text-transform: uppercase;
      position: relative;

      // &:before {
      //   content: '';
      //   width: 4px;
      //   height: 4px;
      //   display: block;
      //   border-radius: 50%;
      //   background-color: #222;
      //   position: absolute;
      //   left: -15px;
      //   top: 50%;
      //   margin-top: -2px;
      // }
    }

    a {
      font-size: 14px;
      color: #666666;
      word-wrap: break-word;
      span {
        color: #222222;
        font-weight: bold;
      }
    }
  }
}

#balance-account {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #474D5F;
  // @include screen-min-width(large){
  //   padding-top: 10px;
  // }
  @include screen-max-width(large){
    padding-top: 5px;
  }

  &.no-account{
    .balance-content{
      .slide-down{
        border-top: none;
        border-bottom: none;
      }
    }
  }
  &.has-account{
    .balance-content__rate-wrapper{
      display: flex;
      align-items: baseline;
      .time-change {
        display: none;
      }
    }
  }

  #balance-content {
    .balance-panel {
      padding: 10px 0 5px;
    }
  }

  .title{
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin-bottom: 5px;
  }

  .balance-header {
    .title {
      font-size: 14px;
      font-weight: 600;
      color: #141927;
      text-transform: uppercase;
    }

    .estimate-value{
      font-size: 14px;
      font-weight: 600;
      color: #222222;
      text-transform: uppercase;
    }
  }
  input{
    text-indent: 15px;
    min-height: 33px;
    height: 33px;
    // opacity: 0.3;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  .balances{
    display: inline-block;
    overflow: auto;
    direction: rtl;
    width: 100%;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, .2);
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, 1);
    }

    &.custom-radio{
      ul{
        padding: 0 10px;
        direction: ltr;
        width: 100%;
      }
      li{
        width: 50%;
        float: left;
        height: 50px;
        border-radius: 25px;
        margin: 5px 0;
        &.hide{
          display: none;
        }
        &.active{
          box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
          .balance-item{
            .label-radio{
              color: #ef8102;
            }
          }
        }
        .check{
          top: 17px;
        }
        &:not(.active){
          &:hover {
            // background-color: #F2FAF7;
            .check{
              border: 2px solid #ef8102 ;
            }
          }
        }

      }
      label{
        position: relative;
        top: -10px;
        left: 10px;
        color: #4B4860;
      }
    }
  }

  #search-balance {
    padding: 0 1.1rem;
    margin-bottom: 10px;

    .dropdown--active {
      position: relative;
      z-index: 10;
      .dropdown__content {
        right: 0;
        .select-item{
          background-color: white;
          box-shadow: 0 7px 25px #ddd;
          right: 0;
          >div{
            padding: 10px 30px 10px 15px;
            font-weight: normal;
            &:hover{
              background-color: #F9F9FB;
              cursor: pointer;
            }
          }
        }
      }
    }

    .column {
      padding-right: 0.5rem;
      .search-icon {
        height: 33px;
        width: 33px;
        background-color: red;
      }
    }

    .sort-balance{
      text-align: center;
      width: 33px;
      height: 33px;
      padding: 0px;
      background-image: url(../img/sort_icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50% 50%;
      border-radius: 2px;
      border: 1px solid #ccc;
    }
  }

  .balance-item{
    border-radius: 15px;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid transparent;
    cursor: pointer;
    h4{
      line-height: 29px;
    }
    img{
      vertical-align: baseline;
      margin-right: 15px;
    }
    + .__react_component_tooltip{
      border: 1px solid #afafaf;
      &.show{
        opacity: 1;
      }
      &.place-bottom{
        &::before{
          border-left-width: 10px;
          border-right-width: 10px;
          border-bottom: 8px solid #afafaf;
        }
        &::after{
          border-bottom-width: 7px;
          top: -7px;
        }
      }
      &.place-right::before{
        border-right: 8px solid #afafaf;
      }
      &.place-left::before{
        border-left: 8px solid #afafaf;
      }
    }
    .label-radio{
      // font-family: OpenSans;
      color: #474d5f;
      // opacity: 0.8;
      .symbol{
        font-size: 14px;
        font-weight: 600;
      }
      .balance{
        font-size: 12px;
        margin-top: -7px;
        font-weight: normal;
      }
    }
  }

  .slide-down {
    border-bottom: solid 1px #e3e3e3;

    &--active {
      background-color: #f2f2f2;
    }
  }
}

.balance-content {
  .balance-content__change_wrapper{
    display: flex;
    align-items: center;
    >div{
      &:first-child{
        // margin-right: 5px;
      }
    }
    .time-change {
      font-size: 15px;
      text-transform: lowercase;
    }
  }
  .balance-content__chart{
    margin-top: 19px;
    canvas {
      padding-bottom: 10px;
    }
  }
  .slide-down {
    border-top: solid 1px #e3e3e3;
    position: relative;
    bottom: 1px;
  }

  &__pair {
    font-size: 14px;
    font-weight: 600;
    color: #141927;
  }

  // &__rate-wrapper {
  //   display: flex;
  //   align-items: center;
  // }

  &__rate {
    font-size: 24px;
    font-weight: 600;
    color: #0d0d0d;
    margin-right: 10px;
  }

  &__change {
    padding: 0 22px 0 0px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #0eaba3;
    border-radius: 3px;
    // background-color: #0eaba3;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 6px;
      right: 7px;
      background-image: url($image-path + 'arrow-up-green.svg');
    }

    &--nagative {
      // background-color: #eb7576;
      color: #eb7576;

      &::after {
        transform: rotate(180deg);
        background-image: url($image-path + 'arrow-up-red.svg');
      }
    }

    &--inactive {
      padding: 0 10px;
      background-color: #eae8e8;
      color: $base-color;

      &::after {
        display: none;;
      }
    }
  }

  &__chart {
    padding-top: 20px;
    transition: all .3s;

    &--loading {
      position: relative;

      canvas {
        opacity: 0.4;
      }

      &::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url($image-path + 'spinner.svg');
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -35px auto 0;
        z-index: 1;
      }
    }
  }

  &__range {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;

    &-item {
      padding: 3px 8px;
      font-size: 15px;
      color: #5a5e67;
      border-radius: 4px;
      margin-right: 5px;
      cursor: pointer;
      transition: all .3s;

      &:last-child {
        margin-right: 0;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &:hover,
      &--active {
        color: white;
        background-color: #5a5e67;
      }
    }
  }

  &__contract {
    padding: 10px 0 0 20px;

    &-title {
      font-weight: 600;
      color: #222;
      display: block;
      margin-bottom: 5px;
    }

    &-address {
      word-break: break-all;
      color: $base-color !important;
      transition: all .3s;

      &:hover {
        color: $swap-color !important;
      }
    }
  }

  @include screen-max-width(medium) {
    // display: none;
  }
}
