#balance-account{
  border-right: 1px solid #ddd;
    padding: 1rem 0.5rem;
    .balance-header {
      padding: 0 1.1rem;
      .title {
        font-size: 1.25rem;
        color: #4B4860;
        font-weight: 600;
      }      
      .estimate-value{
        font-size: 0.9rem;
        .text-upcase {
          text-transform: uppercase;
          font-weight: 500;
          color: #4B4860;
        }
      }
    //   @media screen and (max-width: 640px) {
    //     min-height: 0;
    //     font-size: 0.85em;
    //     .title{
    //       font-size: 1.4em;
    //     }
    //   }
    }
    input{
      border-radius: 3px;
      border: 1px solid #ccc;
      text-indent: 15px;
      min-height: 33px;
      height: 33px;      
    }
    .balances{
      display: inline-block;
      height: 500px;
      overflow: auto;
      direction: rtl;
      width: 100%;

      &.custom-radio{
        ul{
          padding: 10px;
          direction: ltr;
          width: 100%;
        }
        li{
          width: 50%;
          float: left;
          height: 50px;
          border-radius: 30px;
          margin: 5px 0;
          &.hide{
            display: none;
          }
          &.active{
            box-shadow: 0 0 15px #aaa;
          }
          .check{
            top: 14px;
          }
          &:hover {
            background-color: #F2FAF7;
          }
        }
        label{
          position: relative;
          top: -9px;
          left: 10px;
          color: #4B4860;
        }
      }
    }

    #search-balance{
      padding: 0 1.1rem;
      .column {
        padding-right: 0.5rem;
        .search-icon {
          height: 33px;
          width: 33px;
          background-color: red;
        }
      }
      margin-bottom: 1.2rem;
      .sort-balance{
        text-align: center;
        width: 33px;
        height: 33px;
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-image: url(../img/sort.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
      }
    }
    .balance-item{
      border-radius: 15px;
      line-height: 20px;
      padding: 10px 15px;
      font-size: 13px;
      border: 1px solid transparent;
      cursor: pointer;
      &.active, &:hover{
       // background-color: #f0f0f0;
     //   border-color: #d5d5d5;
      }
      h4{
        line-height: 29px;
      }
      img{
        vertical-align: baseline;
        margin-right: 15px;
      }
      + .__react_component_tooltip{
        border: 1px solid #afafaf;
        &.show{
          opacity: 1;
        }
        &.place-bottom{
          &::before{
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom: 8px solid #afafaf;
          }
          &::after{
            border-bottom-width: 7px;
            top: -7px;
          }
        }
        &.place-right::before{
          border-right: 8px solid #afafaf;
        }
        &.place-left::before{
          border-left: 8px solid #afafaf;
        }
      }
    }
  }