#balance-account{
    // border-right: 1px solid #ddd;
    padding-top: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474D5F;

    .balance-large{
      @media screen and (max-width: 640px) {
        display: none
      }
    }

    .balance-medium{
      cursor: pointer;
      @media screen and (min-width: 640px) {
        display: none;
      }
    }

    #balance-content{
      @media screen and (max-width: 640px) {
        display: none;
        padding: 10px;
        background-color: #f5f5f5;
      }      
      &.show-balance{
        @media screen and (max-width: 640px) {
          display: block
        }
      }
    }

    .title{
      font-size: 20px;
      font-weight: normal;
    }
    .balance-address{
      padding: 0 1.1rem;
      margin-bottom: 20px;
      color: #474d5f;
      
      
      // .title{
      //   font-family: Raleway;
      // }
      a{
        color: inherit;
      font-weight: normal;
      font-size: 12px;
      text-transform: uppercase;
      }
    }
    .balance-header {
      padding: 0.5rem 1rem;

      @include screen-max-width(medium) {
        background-color: #F5F5F5;
      }

      .title {
        color: #474d5f;
        // font-family: Raleway;
      }
      .estimate-value{
        font-size: 12px;
        
        .text-upcase {
          text-transform: uppercase;
          color: #454e5f;
        }
      }
    }
    input{
      text-indent: 15px;
      min-height: 29px;
      height: 29px;
      // opacity: 0.3;
      border-radius: 2px;
      border: 1px solid #ccc;
    }
    .balances{
      display: inline-block;
      height: 500px;
      overflow: auto;
      direction: rtl;
      width: 100%;

      &.custom-radio{
        ul{
          padding: 10px;
          direction: ltr;
          width: 100%;
        }
        li{
          width: 50%;
          float: left;
          height: 50px;
          border-radius: 25px;
          margin: 5px 0;
          &.hide{
            display: none;
          }
          &.active{
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
            .balance-item{
              .label-radio{
                color: #ef8102;
              }
            }
          }
          .check{
            top: 17px;
          }
          &:not(.active){
            &:hover {
              // background-color: #F2FAF7;
              .check{
                border: 2px solid #ef8102 ;
              }
            }
          }
          
        }
        label{
          position: relative;
    top: -10px;
    left: 10px;
          color: #4B4860;
        }
      }
    }

    #search-balance{
      padding: 0 1.1rem;

      .dropdown--active{
        position: relative;
        .dropdown__content {
          right: 0;
          .select-item{
            background-color: white;
            box-shadow: 0 7px 25px #ddd;
            right: 0;
            >div{
              padding: 10px 30px 10px 15px;
              font-weight: normal;
              &:hover{
                background-color: #F9F9FB;
                cursor: pointer;
              }          
            }
          }
        }
      }
      .column {
        padding-right: 0.5rem;
        .search-icon {
          height: 33px;
          width: 33px;
          background-color: red;
        }
      }
      margin-bottom: 1.2rem;
      .sort-balance{
        text-align: center;
        width: 29px;
        height: 29px;
        padding: 0px;
        // border: 1px solid #ccc;
        // border-radius: 3px;
        background-image: url(../img/sort_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        border-radius: 2px;
        border: 1px solid #ccc;
      }
    }
    .balance-item{
      border-radius: 15px;
      line-height: 20px;
      padding: 10px 15px;
      font-size: 13px;
      border: 1px solid transparent;
      cursor: pointer;
      h4{
        line-height: 29px;
      }
      img{
        vertical-align: baseline;
        margin-right: 15px;
      }
      + .__react_component_tooltip{
        border: 1px solid #afafaf;
        &.show{
          opacity: 1;
        }
        &.place-bottom{
          &::before{
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom: 8px solid #afafaf;
          }
          &::after{
            border-bottom-width: 7px;
            top: -7px;
          }
        }
        &.place-right::before{
          border-right: 8px solid #afafaf;
        }
        &.place-left::before{
          border-left: 8px solid #afafaf;
        }
      }
      .label-radio{
        // font-family: OpenSans;
        color: #474d5f;
        // opacity: 0.8;
        .symbol{
          font-size: 13px;
          font-weight: normal;
        }
        .balance{
          font-size: 12px;
          margin-top: -7px;
          font-weight: normal;
        }
      }
    }
  }