
$error-color: #F1637D;
$radio-color: #5D9E7A;

.frame-right {
  padding-left: 2rem;
}

.advance-config{
  // max-width: 300px;  
  .advance-title-mobile{
    &.title {
      padding: 12px 10px;
    }
    background-color: #F5F5F5;
    border-radius: 5px;
    text-align: right;
    cursor: pointer;
    >div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 13px;
        transition: 0.2s;
        margin-left: 13px;
        &.advance-arrow-up {
          transform: rotate(180deg);
          transition: 0.2s;
        }
      }
    }
    @media screen and (min-width: $break-point-large){
      display: none  
    }
  }
  .advance-title-desktop{
    @media screen and (max-width: $break-point-large){
      display: none  
    }
  }
  #advance-content{
    @media screen and (max-width: $break-point-large){
      display: none;
      padding: 10px;
      background-color: #f5f5f5;
      // animation: rollOut 0.3s ease-in-out;
      &.show-advance{
        @media screen and (max-width: $break-point-large){
          display: block;
        }
        // @include breakpoint(small only) {
        //   display: block
        // }
      }
    }
    // @include breakpoint(small only) {
    //   display: none;
    //   padding: 10px;
    //   background-color: #f5f5f5;
    // }
    // &.show-advance{
    //   @include breakpoint(small only) {
    //     display: block
    //   }
    // }
  }
  

  .min-convention-rate{
    text-align: center;
    font-size: 0.95rem;    
    line-height: 1.54;
    letter-spacing: 0px;
    color: #F08400;
    margin-top: 6px;
    padding-left: 35px;
  }
  .gas-change{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
  }
  .gas_input{
    input {
      padding-left: 10px;
      padding-top: 0;
      padding-bottom: 0;
      color: #aaa;
    }
  }
  .gas_input-lable{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    align-items: center;
    border-left: none;
    border-right: none;
    font-size: 14px;
    color: #999999;
    border-right: 1px solid #E8E8E8;
  }
  .gas_input-option{
    padding-left: 0;
    .gas-option{
      .token-selector {
        .focus-item{
          font-size: 13px;
          color: #666666;
          padding: 10px 10px 10px 0px;
          border-radius:0;
          border: none !important;
          box-shadow: none !important;
          align-items: center;
          justify-content: center;
          div:first-child {
            margin: 0 10px;
            text-transform: uppercase;
            font-weight: 600;
            white-space: nowrap;
          }
          div:last-child {
            display: flex;
            align-items: center;
            img {
              min-width: 11px;
              content: url(../img/exchange/arrow-down-swap.svg)
            }
          }
        }
        .select-item{
          font-size: 12px;
        }
      }		       
    }
  }
  .select-item{
    width: 100px;
    top: -41px;
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 2px !important;
    margin: 0;
    border: none !important;
    box-shadow: 0 0 5px #aaa;
    .token-item{
      text-transform: uppercase;
      color: #666;
      &:hover {
        background: #F9F8FB;
      }
    }
  }
  .title {      
    font-size: 20px;
    padding-bottom: 0.5rem;
    color: #4B4A60;
    font-weight: 600;
    // position: relative;
    // z-index: 1;
  }

  input{
    border-radius: 3px;
    margin-bottom: 0.6rem;
    border: none;
    margin: 0;
    box-shadow: none;
    &:focus{
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .des-up{
    font-size: 0.86rem;
    padding-bottom: 1rem;
    line-height: 1.36;
    letter-spacing: 0.3px;
    color: #666666;
  }

  .des-down{
    font-size: 0.86rem;
    padding-bottom: 1rem;
    line-height: 1.36;
    letter-spacing: 0.3px;
    color: #666666;
  }

  .error{
    .gas-change{
      border: 1px solid $error-color;
    }
      input{
          // border: 1px solid $error-color;
          background: transparent;
          color: #e8827f;
      }
      .error-text{
          color: $error-color;
          font-size: 0.8rem;
      }
  }

  .min-rate, .gas-config {
    .sub_title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
      color: #4B4A60;
    }
  }

  .min-rate{
    margin-bottom: 0.75rem;
    .rc-slider {
      .rc-slider-rail {
        height: 1px !important;
      }
    }
    .rc-slider-handle {
      margin-top: -13px;
      &:focus, &:active {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  .gas-config{
    .sub_title {
      font-size: 0.9rem;
    }
    p.sub_title {
      margin-top: 0;
    }
    .des-down {
      opacity: 0.5;
      font-style: italic;
      margin-top: 5px;
    }
    input{
      height: auto;
      min-height: auto;
      background: transparent;
    }
    .advanced-content {
      padding: 40px 0;
      transition: 0.3s;
      font-size: 0.8em;
      &[disabled] {
        padding: 0px;
        height: 0px;
        overflow: hidden;
        pointer-events: none;
      }
      .gas-price, .min-rate{
        margin: 0 auto;
        label{
          text-align: left;              
          color: $white;
          margin-top: 7px;
          font-size: inherit;
          @include breakpoint(medium){
            text-align: right;
          }
        }
        input{
          margin-bottom: 8px;
          background-color: #1b2e36;
          color: #a5a5a5;
          // border-radius: 25px;
        }
      }
      .error-text{
        color: $error-color;
      }
      .gas-price{
        input{
          padding-right: 50px;
        }
        .unit{
          position: absolute;
          top: 9px;
          right: 25px;
          color: inherit;
        }
        .gas-select{
          margin-bottom: 10px;
          margin-top: 15px;
          button{
            padding: 7px 13px;
            border-radius: 20px;
            background-color: #1b2e36;
            color: #a5a5a5;
            min-width: 80px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover{
              border-color: $k-success;
              color: $k-success;
              background-color: #2b4552;
            }
          }
        }
      }
    }
    .transaction-fee{
      font-weight: 600;      
      margin-top: 1.2rem;
      border-top: 1px solid #ddd;
      padding-top: 0.5rem;
      color: #6A6B7D;
      .title-fee{
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0.4rem;
      }

      .title-fee,
      div:nth-child(2) {
        font-weight: bold;
        color: #222;
      }

      div:nth-child(2) {
        font-size: 18px;
      }
    }
    .custom-radio{
      margin-top: 1rem
    }
  }
}

.custom-radio {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
    
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label{
    display: block;
    position: relative;      
    font-size: 0.8em;
    padding: 5px 0px 0px 20px;
    color: #A2A2AE;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    text-transform: uppercase;
  }

  ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #EBEBEB;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 9px;
    z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 16px;
    width: 16px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    // border: 2px solid $radio-color;
    border: none;
  }
  
  input[type=radio]:checked ~ .check::before{
    // background: $radio-color;
    background-image: url("../img/checked.svg")
  }
  
  input[type=radio]:checked ~ label{
    color: $radio-color;
  }
}
