.advance-config {
  font-size: 11px;
  &__block {
    margin: 11px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e4eb;
  }

  &__gas-tooltip{
    opacity: 1;
  }

  &__title {
    // font-size: 14px;
    font-weight: 600;
    color: #141927;
    margin-bottom: 10px;
  }
  &__title-info{
    margin-left: 5px;    
  }

  &__option {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    margin-bottom: 0;

    span {
      color: #0a0a0a;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--with-input {
      display: flex;
      align-items: center;
    }
  }

  &__rate-input-error-trigger {
    width: 0;
    height: 0;    
  }

  .__react_component_tooltip{
    position: absolute;
    z-index: 1 !important;
    background-color: #FFCAD1;
    width: 100% !important;
    left: 0px !important;
    top: 25px !important;
    >div {
      color: #222;
      font-size: 11px;
    }
    &:after{
      border-bottom-color: #FFCAD1 !important;
      right: 20px;
      left: auto;
    }

    @include screen-max-width(medium) {
      left: 10px !important;
      top: 32px !important;

      &:after {
        border-left: 8px solid transparent !important;
        border-right: 8px solid transparent !important;
        top: -6px;
        // left: 50%;
        margin-left: -8px;
        border-bottom-color: #FFCAD1 !important;
        right: 20px;
        left: auto;
      }
    }
  }
  
  &__radio {
    position: absolute;
    visibility: hidden;
    pointer-events: none;

    &:checked {
      ~.advance-config__checkmark {
        border-color: #1DB1FF;
        background-color: #1DB1FF;

        &::after {
          transform: translateY(-50%) scale(1);
        }
      }

      ~.advance-config__input {
        background-color: white !important;
        pointer-events: initial;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border: solid 2px #e9e9e9;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%) scale(0);
      transition: all .5s;
    }
  }

  & &__input {
    width: 100px;
    height: 27px;
    margin: 0 0 0 5px;
    padding: 0 20px !important;
    border: solid 1px #e8e8e8 !important;
    min-height: unset !important;
    box-shadow: none !important;
    color: #0a0a0a !important;
    text-align: right !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border-radius: 3px;
    transition: background-color .3s;
    pointer-events: none;
    position: relative;
    
    &--suffix {
      color: #666666;
      position: absolute;
      right: 8px;
    }

    &-error {
      border: 1px solid #EE344E !important;
    }
  }

  &__info {
    // font-size: 13px;
    font-style: italic;
    color: #5a5e67;
    margin-top: 15px;
  }

  &__gas-amount {
    // font-size: 16px;
    letter-spacing: 1px;
    color: #141927;
  }

  &__gas-mode {
    // font-size: 12px;
    color: #5a5e67;
    text-transform: uppercase;
  }

  // @media screen and (max-width: 900px) {
  //   padding: 0 0 5px 20px;
  // }

  // @media screen and (max-width: 390px) {
  //   &__option-container {
  //     display: block;
  //   }

  //   &__option {
  //     display: flex;
  //     align-items: center;
  //     margin-bottom: 5px;
  //   }

  //   &__gas-amount {
  //     margin-right: 5px;
  //   }
  // }
}
