.advance-config {
  font-size: 11px;

  &__gas {
    border-bottom: 1px solid transparent;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &--no-border {
      border: none;
    }
  }

  &__block {
    margin-top: 10px;
  }

  &__gas-tooltip{
    opacity: 1;
  }

  &__title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    position: relative;
  }

  &__title-info{
    margin-left: 5px;    
  }

  &__option {
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 0;

    &-percent {
      position: relative;
      top: 1px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: wrap;

      &--rate {
        justify-content: right;

        .advance-config__option:first-child {
          margin-right: 81px;
        }
      }
    }

    &--with-input {
      display: flex;
      align-items: center;
    }
  }

  &__rate-input-error-trigger {
    width: 0;
    height: 0;    
  }

  .__react_component_tooltip{
    z-index: 1 !important;
    background-color: #FFCAD1;
    width: 100% !important;
    max-width: 200px;

    >div {
      color: #222;
      font-size: 11px;
    }
  }
  
  &__radio {
    position: absolute;
    visibility: hidden;
    pointer-events: none;

    &:checked {
      ~.advance-config__checkmark {
        border-color: $text-orange;
        background-color: $text-orange;

        &::after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 12px;
    width: 12px;
    border: solid 1px #e9e9e9;
    background-color: #1f2731;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;

    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #1f2731;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%) scale(0);
      transition: all .5s;
    }
  }

  & &__input {
    width: 65px;
    height: 30px;
    margin-left: 10px;
    border: solid 1px transparent;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    outline: none;

    &-error {
      border: 1px solid #EE344E !important;
    }
  }

  &__info {
    font-size: 12px;
    margin-top: 15px;
    line-height: 1.5;
  }

  &__gas-amount {
    letter-spacing: 1px;
  }

  &__gas-mode {
    text-transform: uppercase;
    position: relative;
    top: 1px;
  }
}
