@keyframes rollOut {
  0% {
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
