@import "animation";
@import 'settings';
@import 'broadcast';
@import 'addresses';
@import 'tokens';
@import 'account-balance';
@import "~react-table/react-table.css";
@import "token_select";
@import "advance_config";
@import "exchange";
@import "market";
@import "import_account";
@import "transfer";
@import "cold_wallet";
@import "animation";
@import "slide_down";
@import '~react-linechart/dist/styles.css';
@import "slider";
@import "top-token";
@import "pagination";
@import "limit-order";
@import "quote-market";
@import "components/trading-view";
@import "themes/index";

@font-face{
  font-family: 'text-security-disc';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url(../fonts/text-security-disc.ttf);
}

* {
  box-sizing: border-box;
}

html body {
  font-family: $font-roboto;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

#swap-app{
  max-width: 1440px;
  margin: 0 auto;
}

.security{
  font-family: 'text-security-disc';
  font-size: 25px;
}

.hide{
  display: none;
}
