.broadcast-animation {
  display: inline-block;
  margin-bottom: 20px;
  animation-duration: 1s;
  @include breakpoint(medium) {
    margin-bottom: 0;
    margin-top: -25px;
  }
  svg {
    width: 100%;
  }
}