.tx-title {
  font-size: 18rem;
  margin-top: 35px;
  text-align: center;

  .tx-title-text {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
  }
}

.tx-hash {
  margin-top: 5px;
  position: relative;

  a {
    padding:  13px 10px;

    &:first-child{
      width: 100%;
      border: 1px solid #E5E5E5;
      padding-right: 50px;
      color: #666;
      white-space: nowrap;
      overflow:hidden !important;
      text-overflow: ellipsis;
      border-radius: 23px;
      font-size: 16px;
      text-align: left;
      display: inline-block;
      font-weight: 600;
      padding-left: 25px;

      @include screen-max-width(medium) {
        background-color: white;
      }
    }

    &.copy-tx {
      padding: 8px 10px;
      // background-color: #F5F5F5;
      border-radius: 6px;
      position: absolute;
      right: 5px;
      top: 6px;

      img {
        position: relative;
        bottom: 1px;
        width: 20px;
      }
    }
  }

  &--error {
    a:first-child {
      border-color: $error-color;
      background-color: #FFE7EB;
    }
  }
}


.broadcast-animation{
  //width: 120px;
  height: 120px;
  //background-color: #243c47;
  padding: 17px;
  border-radius: 50%;
  margin: 0 auto;
  img{
    max-height: 100%;
    }
  }
ul.broadcast-steps {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  p{
    margin: 40px 0 20px;
    text-align: left;
    color: #666;
    font-size: 14px;

    .tx-underline{
      border-bottom: 1px solid;
      padding-bottom: 2px;
    }
  }
  .text-success {
    line-height: 35px;
  }
  .pending, .success, .failed{
    h4{
      font-size: 1.2rem;
    }
  }
  .pending{
    h4{
      display: flex;
      align-items: center;
      margin-top: 10px;
      color: #666;
      font-size: 13px;
    }
    
    .cssload-container{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  ul.address-balances{
    display: block;
    width: 90%;
    margin: 20px auto 0;
    border-collapse: collapse;

    li{
      border-top: 1px solid #45616f;
      span{
        padding: 10px 0;
        font-weight: 100;
      }
      .balance{
        width: 68px;
      }
      .name{
        width: 50px;
      }
    }
  }
  > li {
    font-size: 14px;
    font-weight: bold;    
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top 2px left;
    width: 100%;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.success {
      text-align: center;
      // margin-top: 20px;
      font-size: 20px;
      font-weight: normal;
      .title{
        // color: #EF8102;
        color: #222222;
        font-weight: 500;
      }
      .content{
        font-size: 18px;
        span{
          margin-left: 5px;
          color: #999999;
          strong{
            font-weight: 600;
            color: #141927;
          }
        }
      }
    }
    &.failed {
      h4 {
        cursor: pointer;
        // margin-top: 10px;
        display: inline-block;
        border-bottom: 1px solid #F1637D;
        color: #F1637D;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        margin-left: 45px;

        &::before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          position: absolute;
          top: 2px;
          left: -27px;
          background-image: url($image-path + 'exchange/error-icon.svg');
        }
      }
      .list-err {
        div {
          margin-top: 5px;

          &:first-child.analyze-panel {
            display: block;
            margin: 7px 0 0 0;
            background-color: #FFCDD4;
            padding: 10px 20px;
            font-weight: 500;
            border-radius: 5px;
            position: relative;

            &::before {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid #FFCDD4;
              position: absolute;
              top: -7px;
              left: 20px;
            }
          }
        }
      }
      .reason{
        margin-top: 20px;
        a{
          text-decoration: underline;
        }
      }
    }
  }
  
  .analyze{
    margin-left: 15px;
    padding: 4px 12px;
    border-radius: 17px;
    border: 1px solid #ff5d00;
    color: #f7f7f7;
    font-weight: normal;
  }
}

.tx-actions{
  text-align: center;
  padding: 30px 48px 60px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--error {
    justify-content: center;
  }

  a {
    max-width: 165px;
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 23px;
    font-size: 14px;
    font-weight: 600;

    @include screen-max-width(medium) {
      max-width: 135px;
    }    
  }

  .new-transaction {
    color: #fff;
    font-size: 14px;
    background-color: #EF8102;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all .3s;
  }

  .change-path {
    border: 1px solid #ef8102;
    color: #ef8102;
  }

  @include screen-max-width(medium) {
    padding: 30px 0 50px;
    display: block;
    a, .new-transaction {
      display: block;
      max-width: 200px;
      margin: 0 auto;
    }

    .new-transaction {
      margin-top: 12px;
    }
  }
}

.tx-title{
  >*{
    margin-right: 15px;
    font-size: 16px;
  }  
  .copy-tx{
   img{
     width: 14px;
   }
  }
}

.tx-loading{
  .info{
    margin-bottom: 1.5rem !important;
    margin-top: 0.9rem !important;
  }
  .broadcast-steps{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    h4{
      text-align: center;
      font-weight: normal;
      border-bottom: none !important;
    }
    .reason{
      font-weight: normal;
      color: #EF8102;
      font-size: 20px;
      text-align: center;
    }
  }
}
.reason-analyze{
  padding: 20px 0;
  .reason-item{
    display: flex;
    &::before{
      content: '-';
      margin-right: 10px;
    }
  }
}


.analyze-panel{
  font-weight: normal;
  display: list-item;
  margin-left: 20px;
  margin-top: 20px;
  color: #666;
  &:not(.loading){
    list-style-type: disc;
  }

  .analyze-link {
    font-size: 12px;
  }
}


.tx-explorer{  
  display: flex;
  justify-content: space-between;

  width: 350px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  @include screen-max-width(medium){
    width: 100%;
  }
  a{
    color: inherit !important;
    font-size: 10px;
    padding: 5px 10px;
    background-color: #F1F3F8;
    border-radius: 20px;
    /* margin-left: 25px; */
    font-weight: 500;
    span{
      margin-left: 6px;
    }
  }
}
