.broadcast-animation{
  width: 120px;
  height: 120px;
  background-color: #243c47;
  padding: 17px;
  border-radius: 50%;
  margin: 0 auto;
  img{
    max-height: 100%;
    }
  }
ul.broadcast-steps {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  ul.address-balances{
    display: table;
    width: 90%;
    margin: 35px auto 0;
    border-collapse: collapse;
    @include breakpoint(medium){
      width: 65%;
    }
    li{
      border-top: 1px solid #45616f;
      span{
        padding: 10px 0;
        font-weight: 100;
      }
    }
  }
  > li {
    font-size: 14px;
    font-weight: bold;
    color: $k-success;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top 2px left;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.success {
      // background-image: url(../img/success.svg);
      font-weight: bold;
    }
    &.failed {
      // background-image: url(../img/failed.svg);
      font-weight: bold;
      .reason {
        margin-top: 5px;
        color: $alert-color;
        font-weight: normal;
      }
    }
    &.pending {
      // background-image: url(../img/waiting.svg);
    }
  }
}