.page-3{
  background-color: $k-primary
}

.broadcast-animation{
  //width: 120px;
  height: 120px;
  //background-color: #243c47;
  padding: 17px;
  border-radius: 50%;
  margin: 0 auto;
  img{
    max-height: 100%;
    }
  }
ul.broadcast-steps {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  .pending, .success, .failed{
    h4{
      font-size: 1.2rem;
    }
  }
  ul.address-balances{
    display: block;
    width: 90%;
    margin: 20px auto 0;
    border-collapse: collapse;
    @include breakpoint(medium){
      width: 75%;
    }
    li{
      border-top: 1px solid #45616f;
      span{
        padding: 10px 0;
        font-weight: 100;
      }
      .balance{
        width: 68px;
      }
      .name{
        width: 50px;
      }
    }
  }
  > li {
    font-size: 14px;
    font-weight: bold;
    color: $k-success;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top 2px left;
    width: 100%;
    @include breakpoint(500px){
      width: 430px;
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.success {
      font-weight: bold;
    }
    &.failed {
      h4{
        color: $alert-color;
      }
      .reason {
        text-align: center;
        margin-top: 5px;
        color: $white;
        font-weight: normal;
      }
      img{
        width: 20px;
        vertical-align: baseline;
        margin-right: 5px;
      }
    }
  }
  
  .analyze{
    margin-left: 15px;
    padding: 4px 12px;
    border-radius: 17px;
    border: 1px solid #ff5d00;
    color: #f7f7f7;
    font-weight: normal;
  }
}
.new-transaction{
  background: #263d48!important;
  border: 2px solid #3ee6c1;
  padding: 18px 70px;
  border-radius: 35px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  &:hover{
    color: #fff;
  }
}

.tx-title{
  >*{
    margin-right: 15px;
    font-size: 16px;
  }  
  .copy-tx{
   img{
     width: 14px;
   }
  }
}

.tx-loading{
  .info{
    margin-bottom: 1.5rem !important;
    margin-top: 0.9rem !important;
  }
}
.reason-analyze{
  padding: 20px 0;
  .reason-item{
    display: flex;
    &::before{
      content: '-';
      margin-right: 10px;
    }
  }
}
.k-progress{
  display: flex;
  .bar{
    height: 7px;
    background-color: #263643;
    margin: 5px 0;
    > div{
      background-color: $k-success;
      animation: progress;
      animation-timing-function: linear;
      height: 100%;
    }
  }
}
@-webkit-keyframes progress {
  0%   { width: 0%}
  100% { width: 100%}
}