.page-3{
  background-color: $k-primary
}


.tx-title{
  font-size: 0.8rem;
  margin-top: 0.8rem;
  font-weight: bold;
}

.tx-hash{
  margin-top: 1rem;
  a{
    padding: 10px;
    &:first-child{
      border: 1px solid #aaa;
      padding-right: 100px;
      color: #A4CCB6;
      background-color: #F4FDF6;
    }
    &.copy-tx{
      border-bottom: 1px solid #aaa;
      border-right: 1px solid #aaa;
      border-top: 1px solid #aaa;
    }
  }
}


.broadcast-animation{
  //width: 120px;
  height: 120px;
  //background-color: #243c47;
  padding: 17px;
  border-radius: 50%;
  margin: 0 auto;
  img{
    max-height: 100%;
    }
  }
ul.broadcast-steps {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  p{
    margin-top: 4rem;
    text-align: center;
    color: black;
    .tx-underline{
      border-bottom: 1px solid;
      padding-bottom: 2px;
    }
  }
  .broadcast-img{
    text-align: center;
    margin-top: 4rem;
    div{
      text-align: center;
      margin-top: 0.6rem;
      font-size: 1rem;
      color: #9EC8B1;
    }
  }
  .text-success {
    line-height: 35px;
  }
  .pending, .success, .failed{
    h4{
      font-size: 1.2rem;
    }
  }
  ul.address-balances{
    display: block;
    width: 90%;
    margin: 20px auto 0;
    border-collapse: collapse;
    @include breakpoint(medium){
      width: 75%;
    }
    li{
      border-top: 1px solid #45616f;
      span{
        padding: 10px 0;
        font-weight: 100;
      }
      .balance{
        width: 68px;
      }
      .name{
        width: 50px;
      }
    }
  }
  > li {
    font-size: 14px;
    font-weight: bold;
    color: $k-success;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top 2px left;
    width: 100%;
    // @include breakpoint(500px){
    //   width: 430px;
    // }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.success {
      font-weight: bold;
    }
    &.failed {
      h4{
        color: $alert-color;
      }
      .reason {
        text-align: center;
        margin-top: 5px;
        color: $white;
        font-weight: normal;
      }
      img{
        width: 20px;
        vertical-align: baseline;
        margin-right: 5px;
      }
    }
  }
  
  .analyze{
    margin-left: 15px;
    padding: 4px 12px;
    border-radius: 17px;
    border: 1px solid #ff5d00;
    color: #f7f7f7;
    font-weight: normal;
  }
}

.tx-actions{
  text-align: right;
  margin-top: 1rem;
  .new-transaction{
    background: white;
    padding: 15px 25px;
    display: inline-block;
    color: blue !important;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #aaa;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.tx-title{
  >*{
    margin-right: 15px;
    font-size: 16px;
  }  
  .copy-tx{
   img{
     width: 14px;
   }
  }
}

.tx-loading{
  .info{
    margin-bottom: 1.5rem !important;
    margin-top: 0.9rem !important;
  }
}
.reason-analyze{
  padding: 20px 0;
  .reason-item{
    display: flex;
    &::before{
      content: '-';
      margin-right: 10px;
    }
  }
}