//   &.reveal-cold-wallet {
//     max-width: 630px;
//     border-radius: 5px;
//     padding: 0;
//     overflow: unset;
//     #cold-wallet {
//       .address-list-path {
//         .content {
//           background-color: #f6f7fa;
//           padding: 50px 35px 20px;
//           .top-wrapper {
//             padding: 20px 0px 10px;
//             .title {
//               margin-top: 0;
//               padding: 0 .9375rem;
//               margin-bottom: 30px;
//               color: #141927;
//             }
//             .token-selector {
//               .focus-item {
//                 border-radius: 23px;
//                 border: 1px solid #e5e5e5;
//                 padding: 10px 5px;
//                 background-color: white;
//                 >div {
//                   color: #5F5F5F;
//                   overflow: hidden;
//                   white-space: nowrap;
//                   text-overflow: ellipsis;
//                   padding: 0 10px 0 8px;
//                   &:hover {
//                     color: #5F5F5F;
//                   }
//                 }
//                 div:nth-child(2) {
//                   padding: 0 10px 0 15px;
//                   border-left: 1px solid #eee;
//                   img {
//                     width: 16px;
//                   }
//                 }
//               }
//               .select-item {
//                 top: -45px;
//                 box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
//                 border-radius: 5px;
//                 max-height: 450px;
//                 overflow-y: auto;
//                 border: none;
//                 .list-item {
//                   .token-item {
//                     >div {
//                       color: #232323;
//                     }
//                     div:nth-child(2) {
//                       color: #bbb;
//                     }
//                     &:hover {
//                       background-color: #eee;
//                     }
//                     >img {
//                       width: 16px;
//                       margin-left: 20px;
//                     }
//                   }
//                   .input-custom-path {
//                     width: 100%;
//                     padding: 3px;
//                     border: 1px solid #eee;
//                     border-radius: 5px;
//                     background-color: white;
//                     >div {
//                       display: flex;
//                       align-items: center;
//                       justify-content: center;
//                       input {
//                         margin: 0;
//                         border: none;
//                         border-radius: 0;
//                         box-shadow: none;
//                         height: unset;
//                         padding: 0 10px;
//                         &::placehoder {
//                           font-style: italic;
//                           color: #ccc;
//                         }
//                       }
//                       img {
//                         width: 35px;
//                         height: 35px;
//                         padding: 10px;
//                         border-radius: 8px;
//                         background-color: #8F8FB6;
//                       }
//                     }
//                   }
//                 }
//               }
//             }
//           }
//           &.white {
//             padding: 0px 35px;
//           }
//         }
//       }
//     }
//     @include screen-max-width(medium) {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }
.import-modal {
  &__header {
    &.cold-wallet {
      padding-bottom: 30px;
    }
  }

  .cold-wallet {
    &__path {
      &--title {
        font-size: 14px;
        font-weight: bold;
        color: #141927;
      }

      &--choose-path {
        border-radius: 3px;
        border: solid 1px #e1e4eb;
        background-color: #f6f7fa;
        margin: 20px 0;
        .focus-item {
          div:first-child{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: normal;
            color: #5a5e67;
          }
          div:nth-child(2) {
            padding: 0 10px;
          }
        }
        .dropdown__content  {
          width: 100%;
          .select-item {
            top: -45px;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 1px 10px 0 rgba(0,0,0,.12);
            border-radius: 5px;
            max-height: 450px;
            overflow-y: auto;
            border: none;
            background-color: #f1f5fb;
            .list-item {
              overflow-y: auto;
              &.custom-scroll {
                &::-webkit-scrollbar-track {
                  border-radius: 8px;
                  background-color: rgba(163, 165, 175, .2);
                }
          
                &::-webkit-scrollbar {
                  width: 4px;
                }
          
                &::-webkit-scrollbar-thumb {
                  border-radius: 8px;
                  background-color: rgba(163, 165, 175, 1);
                }
              }
              .note {
                color: #bbb;
              }
              .token-item>img {
                width: 16px;
                margin-left: 20px;
              }
            }
          }
        }

        .input-custom-path {
          width: 100%;
          padding: 3px;
          border: 1px solid #eee;
          border-radius: 5px;
          background-color: #fff;
          color: #232323;
          >div {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
              margin: 0;
              border: none;
              border-radius: 0;
              box-shadow: none;
              height: unset;
              padding: 0 10px;
            }
            img {
              width: 35px;
              height: 35px;
              padding: 10px;
              border-radius: 8px;
              background-color: #8f8fb6;
            }
          }
        }
      }
    }
    &__address {
      padding: 0 5px;
      &--title {
        font-size: 14px;
        font-weight: 500;
        color: #5a5e67;
        margin-bottom: 12px;
      }

      .address-list {
        .address-item {
          display: flex;
          justify-content: space-between;
          padding: 3px 0;
          flex-wrap: wrap;
          &__address {
            font-size: 14px;
            @include screen-max-width(medium) {
              padding: 5px 0;
            }
          }
          &__import {
            display: flex;
            align-items: center;
            .balance {
              font-size: 14px;
              color: #5a5e67;
              text-align: right;
            }
            .import {
              padding: 6px 16px;
              font-size: 11px;
              color: #ff9008;
              text-align: center;
              margin-left: 20px;
              border-radius: 3px;
              border: solid 1px #ff9008;
              cursor: pointer;
              transition: all 0.3s ease;
              &:hover {
                background-color: #ff9008;
                color: #ffffff;
              }
            }
          }

          @include screen-max-width(medium) {
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }

  &__footer {
    &--cold-wallet {
      justify-content: space-between !important;
    }
    .address-button {
      .address-arrow {
        background-size: contain;
        width: 15px;
        height: 16px;
        opacity: 0.8;
        background: url($image-path + "icon-back.svg") no-repeat center;
        cursor: pointer;
        &-right {
          transform: rotate(180deg);
        }
      }
      &.disabled {
        .address-arrow {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
}
