.container {
  max-width: $container-max-width;
  padding: 0 $container-side-padding;
  margin: 0 auto;
}

.cssload-container {
  width: 100%;
  height: 49px;
  text-align: center;
}

.cssload-double-torus {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 5px solid;
  border-radius: 50%;
  border-color: #DFCF2B #8B8BB1 #8B8BB1;
  animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
