.ReactModal__Body--open{
    overflow: hidden;
}
@media (min-width: 640px){
    .react-modal{
        margin-bottom: 50px!important; 
    }
    .reveal.large{
        top: 54px;
    }
    
    $half: -50%;
    .reveal.tiny{
        top: 40%;
        -ms-transform: translateY($half);
        -webkit-transform: translateY($half);
        -moz-transform: translateY($half);
        transform: translateY($half);
    } 
}

.address-path-stamp.active{
    background: linear-gradient(135deg, #2A9A8D, #5F7921);
    box-shadow: 0 10px 40px 0 rgba(42, 154, 141, 0.3);
    .name{
        color: #fff;
    }
    .note{
        color: #BBDAD5;
    }
}

button:focus{
    outline: none;
}
#header{
    a.active{
        color: #656876!important;
    }
}

.ReactModalPortal > * {
    opacity: 0;
}
.ReactModal__Overlay {
    transition: opacity 200ms;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
        .react-modal{
            margin-top: 0px!important;
        }
    }
    &--before-close {
        opacity: 0;
    }
    .react-modal{
        transition: margin-top 200ms;
        margin-top: -20px;
    }
}
.input-reveal {
    position: relative;
    input {
        margin-bottom: 0;
        padding-left: 35px;
        padding-right: 35px;
    }
    .toggle {
        opacity: .4;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contains;
        background-position: center;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 12px;
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        background-image: url(../img/lock.svg);
    }
    &.unlock .toggle {
        // opacity: 1;
        background-image: url(../img/unlock.svg);
    }
}
.address-list-path{
    .button{
        margin-bottom: 0;
        line-height: unset;
        border: none;
    }
    .address-list-navigation a{
        transition: background-color 0s ease-in-out;        
    }
}