


.ReactModal__Body--open{
    overflow: hidden;
}
// .react-modal{
//     margin-left: 50% !important; 
//     @include breakpoint(small only) {
//         margin-left: 0% !important;
//     }
// }
// .confirm-exchange{
//     margin-left: 0% !important;
// }
@include breakpoint(medium){
    .react-modal{
        margin-bottom: 50px!important; 
    }
    // .reveal.large{
    //     top: 54px;
    // }
    
    $half: -50%;
    .reveal.tiny{
        max-width: 70%;
        width: 500px;
        top: 40%;
        -ms-transform: translateY($half);
        -webkit-transform: translateY($half);
        -moz-transform: translateY($half);
        transform: translateY($half);
    } 
}
@include breakpoint(large){
    .reveal.tiny{
        max-width: 45%;
        width: 420px;
    } 
}

button:focus{
    outline: none;
}
.width-f{
    width: 100%;
}
.ReactModalPortal > * {
    opacity: 0;
}
.ReactModal__Overlay {
    transition: opacity 200ms;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
        .react-modal{
            margin-top: 0px!important;
        }
    }
    &--before-close {
        opacity: 0;
    }
    .react-modal{
        transition: margin-top 200ms;
        margin-top: -20px;
    }
}
.input-reveal {
    position: relative;
    input {
        margin-bottom: 0;
        padding-left: 35px;
        padding-right: 35px;
    }
    .toggle {
        opacity: .4;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contains;
        background-position: center;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 12px;
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        background-image: url(../img/lock.svg);
    }
    &.unlock .toggle {
        background-image: url(../img/unlock.svg);
    }
}
a.disabled{
    opacity: 0.7;
    cursor: not-allowed;
    color: #676767!important;
}
.import-account>.column{
    padding: 0;
}
.large-2dot4{
    @media screen and(min-width: 64em){
        width: 20%;
    }
}

@include breakpoint(medium){
    @media screen and (max-height: 790px){
        .frame{
            padding: 20px 0;
        }
        .token-input{
            margin-top: 5px!important;
            min-height: auto;
            input{
                height: 50px;
            }
            .info:before{
                height: 40px;
                top: 59%;
            }
        }
        #transfer-screen{
            label{
                margin-bottom: 0;
                input.hash{
                    margin-bottom: 15px;
                    margin-top: 5px;
                }
            }
            // .address-balance{
            //     margin-top: 5px;
            // }
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.custom-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: #eee;
}
.custom-scroll::-webkit-scrollbar{
    width: 6px;
    background-color: #eee;
}
.custom-scroll::-webkit-scrollbar-thumb{
    background-color: #aaa;
}
.column:last-child:not(:first-child){
    float: left;
}
.__react_component_tooltip{
    font-weight: initial;
}

.exchange-content{
    max-width: 98rem;
}
.content-exchange-body{
    padding: 0 3rem;
}

.rc-slider-handle:focus {
    box-shadow: none;
}
.rc-slider-handle:active {
    box-shadow: none;
}

.rc-slider-disabled{
    background-color: transparent !important;
    .rc-slider-track{
        background-color: transparent !important;
    }
}
