.ReactModal__Body--open{
    overflow: hidden;
}
@media (min-width: 640px){
    .react-modal{
        margin-bottom: 50px!important; 
    }
    .reveal.large{
        top: 54px;
    }
    
    $half: -50%;
    .reveal.tiny{
        top: 40%;
        -ms-transform: translateY($half);
        -webkit-transform: translateY($half);
        -moz-transform: translateY($half);
        transform: translateY($half);
    } 
}

.address-path-stamp.active{
    background: linear-gradient(135deg, #2A9A8D, #5F7921);
    box-shadow: 0 10px 40px 0 rgba(42, 154, 141, 0.3);
    .name{
        color: #fff;
    }
    .note{
        color: #BBDAD5;
    }
}

button:focus{
    outline: none;
}
#header{
    a.active{
        color: #656876!important;
    }
}

.ReactModalPortal > * {
    opacity: 0;
}
.ReactModal__Overlay {
    transition: opacity 200ms;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
        .react-modal{
            margin-top: 0px!important;
        }
    }
    &--before-close {
        opacity: 0;
    }
    .react-modal{
        transition: margin-top 200ms;
        margin-top: -20px;
    }
}