
// input{
//   &.hashAddr {
//     font-size: 18px;
//     text-align: center;
//     letter-spacing: 1.25px;
//     //background-color: #415b68;
//     height: 155px;
//     border: 1px solid #ddd;
//     //color: $white;
//     resize: none;
//     margin-bottom: 0;
//     outline: none;
//     padding: 10px;
//     width: 100%;
//   }
// }

.transaction-label{
  font-size: 14px;
  font-weight: 600;
  color: #474d5f;
}

.unlock input {
  height: 50px;
  color: $white;
}
input {
  &[type=password],
  &[type=number],
  &[type=text] {
    padding: 10px 15px 10px 15px;
    min-height: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 0;
  }
  &[type=password]{
    font:small-caption;
    font-size: 30px;
  }
  // &::-webkit-input-placeholder,
  //   &::-moz-placeholder,
  //   &::-ms-input-placeholder{
  //     font:normal !important;
  //     font-size: 14px !important;
  //     color: red;
  //   }
  &[type=number], &.address, &.hash {
    font-weight: bold;
  }
  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: $light-gray;
  }
  &:-ms-input-placeholder {
    color: $light-gray;
  }
  &:-moz-placeholder {
    color: $light-gray;
  }
}

label {
  color: white;
  letter-spacing: .5px;
  font-weight: normal;
  font-size: 12px;
  //margin-bottom: 10px !important;
  //text-transform: uppercase;

  .exchange-label{
    font-size: 14px;
  }
  margin-bottom: 20px;
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
  input[type=number], input[type=number]:focus{
    background-color: transparent;
    text-align: right;
    color: white;
    border-top: 1px solid #2a4654;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 20px;
  }
  > input[type=text],
  > input[type=number],
  > .token-input {
    margin-top: 15px;
    margin-bottom: 0;    
  }
  &.title {
    margin-bottom: 15px;
  }
}

.error > input,
input.error {
  box-shadow: inset 0 -1px 0 0 rgba($alert-color, .25), 0 10px 40px 0 rgba($alert-color, .1);
}

.error + span.error-text,
.error span.error-text {
  color: $error-color;
  font-size: 14px;
  font-weight: normal;
  display: block;
  text-transform: none;
  margin-top: 10px;
  a{
    color: $k-success;
  }
}

@keyframes button-accent-waiting {
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 10px 40px 0 rgba($primary-color, .5);
    transform: translateY(-5px);
  }
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
}

.button {
  &.accent {
    line-height: 54px;
    padding: 0 45px;
    border-radius: 1000px;
    background: $accent-gradient;
    font-size: 13px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    border: none;
    color: #fff;
    cursor: default;
    &.waiting {
      color: rgba(white, .5);
      pointer-events: none;
      animation: button-accent-waiting 2s ease infinite;
      position: relative;
    }
    &.next{
      cursor: pointer;
    }
  }
  &.process-submit{
    background: white;
    font-weight: bold;
    color: #3D4B9C;
    box-shadow: 0 0 2px #555;
    &.next{
      cursor: pointer;
      color: #3D4B9C;
    }
    &.waiting{
      color: #aaa;
    }
  }  
}

.row {
  &.gutter-15 {
    .column {
      padding: 0 7.5px;
    }
  }
  &.tokens {
    margin-top: 5px;
    margin-bottom: -10px;
  }
}

.has-tip {
  border-bottom: none;
}

a.has-tip {
  cursor: pointer;
}

.tooltip {
  padding: 10px 12px;
  max-width: 300px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  background-color: $dark-gray;
  box-shadow: 0 3px 10px 0 rgba(black, .2);
  &.top:before {
    border: 7px solid transparent;
    border-top-color: $dark-gray;
  }
  &.left:before {
    border: 7px solid transparent;
    border-left-color: $dark-gray;
  }
  &.right:before {
    border: 7px solid transparent;
    border-right-color: $dark-gray;
  }
  &.bottom:before {
    border: 7px solid transparent;
    border-bottom-color: $dark-gray;
  }
}
.frame-tab{
  text-align: center
}
h1.title {
  font-size: 24px;
  // font-weight: 500;
  color: #666666;
  letter-spacing: .5px;
  padding: 20px 0;
  &.frame-tab {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    @include screen-max-width(large) {
      margin: 0 10px;
    }
  }
  div{
    display: inline-block;
    box-shadow: 0 2px 6px 0 rgba(184, 184, 184, 0.5);
  }
  .switch-button{
    @include breakpoint(small only) {
      width: 100%;
      a{
        width: 50%;
      }
    }
  }
  div.back-home {
    box-shadow: none;
    float: left;
    line-height: 2.4;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    @include breakpoint(small only) {
      display: none;
    }
    img.back-arrow {
      padding: 5px;
      border-radius: 50%;
      background-color: #EFEFEF;
      margin-right: 10px;
    }
    span {
      font-size: 15px;
    }
  }
  /* Transfer: */
  a{
    background-color: #FCFCFE;
    min-width: 150px;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: rgba(71, 77, 95, .5);
    text-transform: uppercase;

    &.disable{
      color: #fff;
      background-color: #3C4664;
      cursor: initial;
      pointer-events: none;
    
    }
  }
}
.frame {
  // padding: 30px 0;
  // background-color: $k-primary;
  // color: $white;
  .title{
    font-size: 1.2rem;
    // &.main-title{
    //   margin-bottom: 2.5rem;
    // }
  }      
  .sub_title{
    font-size: 0.7rem;
    // font-weight: 550;
    color: #4B4860;
  }
  .exchange-pd{
    padding: 2rem 1.5rem;
  }
  .frame-left, .frame-right{
    padding-top: 1rem;
  }
  .frame-left{
    box-shadow: 0 7px 25px #ddd;
    padding:0px;
  }
  .button.accent{
    position: relative;
    margin-top: -25px;
  }
  .columns-nopading{
    padding: 0px;
  }
  .info {
    margin: 0;
    label {
      margin: 20px 0 25px 0;
    }
    input {
      margin-bottom: 0;
      cursor: default;
      text-align: center;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.75;
  }
}

p.note {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  // color: $medium-gray;
  margin: 0 0 15px 0;
}

.base-line {
  display: table-cell;
  > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}

span.help {
  background-image: url(../img/help.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

// .transaction-footer{
//   position: relative;
//   background-color:#FDFDFD; 
//   margin-top: 10px;
//   padding-bottom: 2rem;
//   .term, .adv-btn{
//     position: absolute;
//     top: -45px;
//     -moz-transform: translateY(-50%);
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//   }
//   .adv-btn{
//     right: 0.9375rem;
//   }
//   label{
//     margin-bottom: 0px;
//     display: flex;
//     align-items: center;
//   }
//   .term-services{
//     margin-bottom: 0px;
//     display: flex;
//     align-items: center;
//     .view-term{
//       border: 1px solid white;
//       padding: 5px;
//     }
//     span{
//       line-height: 15px;
//       font-size: 13px;
//       &:not(:first-child){
//         margin-left: 15px;
//       }
//       &:nth-child(2){
//         color: #ccc;
//       }
//     }
//   }
// }
// advanced switch

.switch {
  &.accent {
    .switch-paddle {
      background: #1b2e36;
      border-radius: 1000px;
      transition: background .3s ease-in-out;
      width: 50px;
      margin-bottom: 0px;
      height: 28px;
      &:after {
        background: white;
        box-shadow: 0 1px 5px 0 rgba($medium-gray, .4);
        border-radius: 1000px;
        width: 28px;
        height: 28px;
        left: 0;
        top: 0;
      }
    }
    .switch-input:checked + .switch-paddle {
      background: $k-success;
      &:after {
        left: 22px;
      }
    }
  }
}

.advanced-switch {
  user-select: none;
  display: flex;
  .switch-caption{
    margin-right: 10px;
    font-weight: 600;
    font-size: inherit;
  }
}

label.switch-caption {
  padding-left: 15px;
}

input.search-input {
  border-radius: 3px;
  margin-bottom: 0.6rem;
  border: 1px solid #ccc;
  
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 0.3rem;
  background-size: auto 65%;
  text-indent: 30px;
  outline: none;  
}


.network_error {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #EE344E;
  padding: 10px;
  justify-content: center;
  >span{
    &:not(:first-child){
      margin-left: 5px;
      position: relative;
      bottom: 1px;
      line-height: 1;

      > span {
        > span {
          opacity: 0;
          margin-left: 2px;
          font-size: 19px;
          animation: waiting 1.4s infinite;

          &:nth-child(2) {
            animation-delay: .2s;
          }

          &:nth-child(3) {
            animation-delay: .4s;
          }

          @keyframes waiting {
            20% {
              opacity: 1;
            }

            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
