input {
  &[type=password],
  &[type=number],
  &[type=text] {
    padding: 10px 15px 10px 15px;
    min-height: 40px;
    height: 40px;
    font-size: 13px;
    border-radius: 0;
  }
  &[type=number], &.address, &.hash {
    font-weight: bold;
    font-family: $font-family-monospace;
  }
  &.hash {
    font-size: 14px;
    letter-spacing: 1.25px;
  }
  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: $light-gray;
  }
  &:-ms-input-placeholder {
    color: $light-gray;
  }
  &:-moz-placeholder {
    color: $light-gray;
  }
}

label {
  color: white;
  letter-spacing: .5px;
  font-weight: normal;
  font-size: 12px;
  //margin-bottom: 10px !important;
  //text-transform: uppercase;
  .select-token-panel{
    background-color: #415b68;
  }
  .exchange-label{
    font-size: 14px;
  }
  margin-bottom: 20px;
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
  input[type=number], input[type=number]:focus{
    background-color: transparent;
    text-align: right;
    color: white;
    border-top: 1px solid #2a4654;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 20px;
  }
  > input[type=text],
  > input[type=number],
  > .token-select,
  > .token-amount,
  > .token-input {
    margin-top: 15px;
    margin-bottom: 0;    
  }
  &.title {
    margin-bottom: 15px;
  }
}

.error > input,
input.error {
  box-shadow: inset 0 -1px 0 0 rgba($alert-color, .25), 0 10px 40px 0 rgba($alert-color, .1);
}

span.error-text {
  display: none;
}

.error + span.error-text,
.error span.error-text {
  color: $alert-color;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  display: block;
  text-transform: none;
  margin-top: 10px;
}

@keyframes button-accent-waiting {
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 10px 40px 0 rgba($primary-color, .5);
    transform: translateY(-5px);
  }
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
}

.button {
  &.accent {
    line-height: 54px;
    padding: 0 45px;
    border-radius: 1000px;
    background: $accent-gradient;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    position: relative;
    //margin-bottom: 50px;
    white-space: nowrap;
    &.waiting {
      color: rgba(white, .5);
      pointer-events: none;
      animation: button-accent-waiting 2s ease infinite;
      position: relative;
    }
  }
}

.row {
  &.gutter-15 {
    .column {
      padding: 0 7.5px;
    }
  }
  &.tokens {
    margin-top: 5px;
    margin-bottom: -10px;
  }
}

.has-tip {
  border-bottom: none;
}

a.has-tip {
  cursor: pointer;
}

.tooltip {
  padding: 10px 12px;
  max-width: 300px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  background-color: $dark-gray;
  box-shadow: 0 3px 10px 0 rgba(black, .2);
  &.top:before {
    border: 7px solid transparent;
    border-top-color: $dark-gray;
  }
  &.left:before {
    border: 7px solid transparent;
    border-left-color: $dark-gray;
  }
  &.right:before {
    border: 7px solid transparent;
    border-right-color: $dark-gray;
  }
  &.bottom:before {
    border: 7px solid transparent;
    border-bottom-color: $dark-gray;
  }
}
h1.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
  letter-spacing: .5px;
  padding: 20px 0;
  @include breakpoint(medium) {
    margin: 10px 0 25px 0;
  }
  a{
    color: white;
    &:first-child{
      margin-right: 15px;
    }
    &.disable{
      color: #91a1a7;
      cursor: initial;
      pointer-events: none;
    }
  }
}
.frame {
  padding: 30px 0;
  background-color: $bg-primary;
  color: $white;
  .info {
    margin: 0;
    label {
      margin: 20px 0 25px 0;
    }
    input {
      margin-bottom: 0;
      cursor: default;
      text-align: center;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.75;
  }
}

p.note {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  color: $medium-gray;
  margin: 0 0 15px 0;
}

.importer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-top: 100%;
  position: relative;
  @include breakpoint(large){
    height: 240px;
    padding-top: 0;
    img {
      margin-top: 20px;
    }
  }
  border-radius: 4px;
  border-radius: $global-radius;
  overflow: hidden;
  box-shadow: 0px 1px 13px $bg-divider;
  &.json {
    background-image: url(../img/json.jpg)
  }
  &.pkey {
    background-image: url(../img/pkey.jpeg)
  }
  &.trezor {
    background-image: url(../img/trezor.jpg)
  }
  &.ledger {
    background-image: url(../img/ledger.jpg)
  }
  &.metamask {
    background-image: url(../img/metamask.jpg)
  }
  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba($dark-gray, .7);
    text-align: center;
    &:hover {
      background: linear-gradient(135deg, rgba(#4ca294, .9), rgba(#3b8a8a, .9));
    }
  }
  img {
    width: 100%;
  }
  .description {
    margin-top: 20px;
    padding: 0 15px;
    color: $white;
    font-size: 15px;
    line-height: 1.6;
  }
}

.base-line {
  display: table-cell;
  > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}

span.help {
  background-image: url(../img/help.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}



.exchange-footer{
  display: flex;
  align-items: center;
  label{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    &.term-services{
      input{
        margin: 0px;
        margin-right: 10px;
      }
      span{
        line-height: 14px;
        color: #ccc;
      }
    }
  }
}
// advanced switch

.switch {
  &.accent {
    .switch-paddle {
      background: white;
      box-shadow: 0 10px 40px 0 rgba($light-gray, .5);
      border-radius: 1000px;
      transition: background .3s ease-in-out;
      width: 57px;
      margin-bottom: 0px;
      height: 31px;
      &:after {
        background: white;
        box-shadow: 0 1px 5px 0 rgba($medium-gray, .4);
        border-radius: 1000px;
        width: 22px;
        height: 22px;
        left: 5px;
        top: 4px;
      }
    }
    .switch-input:checked + .switch-paddle {
      background: $accent-gradient;
      &:after {
        left: 30px;
      }
    }
  }
}

.advanced-switch {
  margin: 10px 0 25px 0;
  user-select: none;
  display: flex;
  .switch-caption{
    margin-right: 10px;
    font-weight: bold;
  }
}

label.switch-caption {
  padding-left: 15px;
}


.gas-config{
  // padding: 15px 0px;
  background-color: #243c48;
  input{
    color: white;
  }
  // .result{
  //   color: white;
  // }
}
.advanced-content {
  padding: 10px;
  transition: 0.3s;
  &[disabled] {
    // opacity: .3;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    pointer-events: none;
  }
  .transaction-fee {
    display: flex;
    justify-content: center;
    align-items: center;
    >label{
      margin-bottom: 0px;
      margin-right: 20px;
      font-size: 14px;
    }
    .symbol {
      line-height: 40px;
      text-align: center;
      color: #8e9aa1;
    }
    .result {
      line-height: 40px;
      text-align: center;
      display: block;
      color: #00ffd6;
      font-weight: bold;
      font-family: $font-family-monospace;
      font-size: 14px;
      white-space: nowrap;
      &:before {
        content: '= ';
      }
    }
    @include breakpoint(medium) {
      .gas-limit,
      .gas-price {
        float: left;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #8e9aa1
      }
      .symbol {
        width: 5%;
        float: left;
      }
      .result {
        width: 25%;
        float: left;
        text-align: right;
      }
    }
    .gas-limit {
      position: relative;
      
      // &:before {
      //   content: 'Gas Limit';
      //   position: absolute;
      //   left: 12px;
      //   top: 13px;
      //   white-space: nowrap;
      //   font-size: 11px;
      //   font-weight: bold;
      //   text-transform: uppercase;
      //   text-align: left;
      // }
      span:first-child{
        margin-right: 10px;
      }
      // input {
      //   width: 70px;
      //   padding-left: 80px;
      //   text-align: right;
      //   margin: 0;
      //   font-size: 14px;
      //   margin-left: 10px;
      //   &[readonly] {
      //     background-color: transparent
      //   }
      // }
    }
    .gas-price {
      position: relative;
      // &:before {
      //   content: 'Gas Price';
      //   position: absolute;
      //   left: 12px;
      //   top: 13px;
      //   white-space: nowrap;
      //   font-size: 11px;
      //   font-weight: bold;
      //   text-transform: uppercase;
      // }
      // &:after {
      //   content: 'gwei';
      //   position: absolute;
      //   right: 12px;
      //   top: 13px;
      //   white-space: nowrap;
      //   font-size: 11px;
      //   font-weight: bold;
      //   text-align: right;
      // }
      input {
        width: 136px;
        padding: 0px;
        text-align: right;
        margin: 0 10px;
        background-color: #12323a;
        color: white;
      }
    }
  }
}