input {
  &[type=password],
  &[type=number],
  &[type=text] {
    padding: 10px 15px 10px 15px;
    min-height: 40px;
    height: 40px;
    box-shadow: 0 10px 40px 0 rgba($light-gray, .5);
    font-size: 13px;
    border-radius: 1000px;
    &:focus {
      box-shadow: 0 10px 40px 0 rgba($light-gray, .5);
    }
  }
  &[type=number], &.address, &.hash {
    font-weight: bold;
    font-family: $font-family-monospace;
  }
  &.hash {
    font-size: 14px;
    letter-spacing: 1.25px;
  }
  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: $light-gray;
  }
  &:-ms-input-placeholder {
    color: $light-gray;
  }
  &:-moz-placeholder {
    color: $light-gray;
  }
}

label {
  color: lighten($medium-gray, 10);
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
  > input[type=text],
  > input[type=number],
  > .token-select,
  > .token-amount,
  > .token-input {
    margin-top: 15px;
    margin-bottom: 0;
  }
  &.title {
    margin-bottom: 15px;
  }
}

.error > input,
input.error {
  box-shadow: inset 0 -1px 0 0 rgba($alert-color, .25), 0 10px 40px 0 rgba($alert-color, .1);
}

span.error-text {
  display: none;
}

.error + span.error-text,
.error span.error-text {
  color: $alert-color;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  display: block;
  text-transform: none;
  margin-top: 10px;
}

@keyframes button-accent-waiting {
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 10px 40px 0 rgba($primary-color, .5);
    transform: translateY(-5px);
  }
  0% {
    box-shadow: 0 2px 5px 0 rgba($primary-color, 1);
    transform: translateY(0);
  }
}

.button {
  &.accent {
    line-height: 54px;
    padding: 0 45px;
    border-radius: 1000px;
    background: $accent-gradient;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    white-space: nowrap;
    box-shadow: 0 10px 40px 0 rgba($primary-color, .4);
    &.waiting {
      color: rgba(white, .5);
      pointer-events: none;
      animation: button-accent-waiting 2s ease infinite;
      position: relative;
    }
  }
}

.row {
  &.gutter-15 {
    .column {
      padding: 0 7.5px;
    }
  }
  &.tokens {
    margin-top: 5px;
    margin-bottom: -10px;
  }
}

.has-tip {
  border-bottom: none;
}

a.has-tip {
  cursor: pointer;
}

.tooltip {
  padding: 10px 12px;
  max-width: 300px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  background-color: $dark-gray;
  box-shadow: 0 3px 10px 0 rgba(black, .2);
  &.top:before {
    border: 7px solid transparent;
    border-top-color: $dark-gray;
  }
  &.left:before {
    border: 7px solid transparent;
    border-left-color: $dark-gray;
  }
  &.right:before {
    border: 7px solid transparent;
    border-right-color: $dark-gray;
  }
  &.bottom:before {
    border: 7px solid transparent;
    border-bottom-color: $dark-gray;
  }
}

.frame {
  background-color: #ECF6F4;
  padding: 30px 0;
  margin-bottom: 30px;
  @include breakpoint(medium) {
    padding: 45px 0;
    margin-bottom: 35px;
  }
  h1.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-gray;
    margin: 0 0 20px 0;
    letter-spacing: .5px;
    @include breakpoint(medium) {
      margin: 30px 0 35px 0;
    }
    .info {
      font-size: 14px;
      text-transform: none;
      font-weight: normal;
      margin-top: 10px;
      line-height: 1.75;
      strong {
        margin-right: 10px;
      }
      a.hash {
        font-weight: bold;
        font-family: $font-family-monospace;
        cursor: pointer;
      }
    }
  }
  .info {
    margin: 0;
    label {
      margin: 20px 0 25px 0;
    }
    input {
      margin-bottom: 0;
      cursor: default;
      text-align: center;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.75;
  }
}

p.note {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  color: $medium-gray;
  margin: 0 0 15px 0;
}

.importer {
  background-position: center;
  background-repeat: no-repeat;
  background-color: $light-gray;
  background-size: cover;
  height: 0;
  padding-top: 100%;
  position: relative;
  border-radius: $global-radius;
  overflow: hidden;
  box-shadow: 0 10px 40px 0 rgba($light-gray, .5);
  &.json {
    background-image: url(../img/json.jpg)
  }
  &.trezor {
    background-image: url(../img/trezor.jpg)
  }
  &.ledger {
    background-image: url(../img/ledger.jpg)
  }
  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba($dark-gray, .7);
    text-align: center;
    &:hover {
      background: linear-gradient(135deg, rgba(#2A9A8D, .9), rgba(#5F7921, .9));
    }
  }
  img {
    width: 100%;
  }
  .description {
    margin-top: 8px;
    padding: 0 15px;
    color: $light-gray;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 1.6;
  }
}

.base-line {
  display: table-cell;
  > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}

span.help {
  background-image: url(../img/help.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

// advanced switch

.switch {
  &.accent {
    .switch-paddle {
      background: white;
      box-shadow: 0 10px 40px 0 rgba($light-gray, .5);
      border-radius: 1000px;
      transition: background .3s ease-in-out;
      width: 57px;
      height: 31px;
      &:after {
        background: white;
        box-shadow: 0 1px 5px 0 rgba($medium-gray, .4);
        border-radius: 1000px;
        width: 22px;
        height: 22px;
        left: 5px;
        top: 4px;
      }
    }
    .switch-input:checked + .switch-paddle {
      background: $accent-gradient;
      &:after {
        left: 30px;
      }
    }
  }
}

.advanced-switch {
  margin: 10px 0 25px 0;
  user-select: none;
}

label.switch-caption {
  padding-left: 15px;
}

.advanced-content {
  transition: opacity .4s ease-in-out;
  &[disabled] {
    opacity: .3;
    pointer-events: none;
  }
  .transaction-fee {
    .symbol {
      line-height: 40px;
      text-align: center;
    }
    .result {
      line-height: 40px;
      text-align: center;
      display: block;
      color: $medium-gray;
      font-weight: bold;
      font-family: $font-family-monospace;
      font-size: 14px;
      white-space: nowrap;
      &:before {
        content: '= ';
      }
    }
    @include breakpoint(medium) {
      .gas-limit,
      .gas-price {
        width: 35%;
        float: left;
      }
      .symbol {
        width: 5%;
        float: left;
      }
      .result {
        width: 25%;
        float: left;
        text-align: right;
      }
    }
    .gas-limit {
      position: relative;
      &:before {
        content: 'Gas Limit';
        position: absolute;
        left: 12px;
        top: 13px;
        white-space: nowrap;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
      }
      input {
        width: 100%;
        padding-left: 80px;
        text-align: right;
        margin: 0;
        &[readonly] {
          background-color: darken(white, 3)
        }
      }
    }
    .gas-price {
      position: relative;
      &:before {
        content: 'Gas Price';
        position: absolute;
        left: 12px;
        top: 13px;
        white-space: nowrap;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:after {
        content: 'gwei';
        position: absolute;
        right: 12px;
        top: 13px;
        white-space: nowrap;
        font-size: 11px;
        font-weight: bold;
        text-align: right;
      }
      input {
        width: 100%;
        padding-left: 80px;
        padding-right: 45px;
        text-align: right;
        margin: 0;      
      }
    }
  }
}