#exchange {
  @media print, screen and (min-width: 40em) {
    .medium-5 {
      width: 45%;
      padding-right: 0;
      padding-left: 0;
    }
    .medium-2 {
      width: 10%;
      padding-left: 0;
      padding-right: 0;
    }
  }  
  @include screen-max-width(large) {
    box-shadow: 0 7px 25px #ddd;
    margin: 10px;
  }
  @include screen-max-width(large) {
    @include screen-min-width(medium){
      .swap-wrapper{
        border-left: 1px solid #ddd;
      }
    }
    .exchange-col-1, .exchange-col-2, .exchange-col-3{
      padding: 1rem;
    }
    .exchange-col-1-2{
      margin-top: 30px
    }
    .exchange-wrapper-btn{
      .button{
        width: 100%;
      }
    }
    .amount-input{
      margin-top: 1rem;
    }
  } 
  @include screen-min-width(large) {
    .balance-wrapper{
      border: 1px solid #ddd;
    }
    .exchange-wrapper-btn{
      text-align: center;
    }
    .exchange-col-1{
      padding: 0 3rem;
      border: 1px solid #ddd;
      border-left: none;
    }    
    .exchange-col-2{
      padding-left: 20px;
    }
    .exchange-col-3{
      >div{
        position: relative;
        .exchange-wrapper-btn{
          position: absolute;
          margin-top: -230px;
          width: 100%;
        }
      }
    }
    .exchange-col{
      position: relative;
      height: 100%;
    }
  }

  .exchange-icon{
    text-align: center;
    margin-top: 50px;
    @include screen-max-width(large) {
      display: none;
    }    
  }
  .main-title  {
    line-height: 1.2;
    letter-spacing: -0.1px;
    
    font-size: 24px;
    color: #141927;
    margin-bottom: 20px;
    @include screen-min-width(large) {
      margin-top: 1.5rem;
      margin-bottom: 1.2rem;
    }
  }
  .token-input {
    .info {
      height: auto;
      transition: width .4s ease-in-out;
    }
    input {
      transition: width .4s ease-in-out;
    }
  }
  label{
    margin-bottom: 8px;
  }

  .accent {
    margin-top: 50px;
    line-height: 55px;
    padding: 0 35px;
    background: #ef8102;
    font-size: 1.3rem;
    border-radius: 4px;
    box-shadow: 0 10px 15px #ccc;
    @include screen-max-width(large) {
      margin-top: 30px;
    }
  }

  .token-compare {
    color: #666666;
    font-size: 14px;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1rem;


    

    // div {
    //   font-size: 0.97rem;
    //   letter-spacing: 0.1px;
    // }
    .seperator{
      @include screen-max-width(large) {
        display: none;
      }
    }


    @include screen-min-width(large) {
      width: 400px;
      margin: 0 auto;
      margin-top: 1rem;
    }

    @include screen-max-width(large) {
      text-align: left;      
    }
    // div:first-child {
    //   text-align: right;
    // }

    // div:nth-child(3) {
    //   text-align: left;
    // }
  }

  .show-on-choose-token-pair {
    display: none;
  }
  .hide-on-choose-token-pair {
    display: block;
  }
  &.choose-token-pair {
    .title {
      &:after {
        content: 'Select Token Pair';
        font-size: 14px;
        margin-left: 20px;
        color: lighten($dark-gray, 20);
      }
    }
    .token-input {
      opacity: 0.5;
      input {
        width: 0;
        opacity: 0;
        padding: 0;
      }
      .info {
        width: 100%;
        &:before {
          opacity: 0;
        }
      }
    }
  }
  .hide-on-choose-token-pair {
    display: none;
  }
  .show-on-choose-token-pair {
    display: block;
  }
  .token-selector {
    .dropdown {
      &.dropdown--active {
        .focus-item{
          border-color: #aaa;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .focus-item {
      border-radius: 5px;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      background-color: #ffffff;
      border: solid 0.8px rgba(204, 204, 204, 0.72);
      padding: 10px 12px;
      align-items: center;
      font-size: 15px;
      &.d-flex{
        justify-content: space-between;
      }
      .d-flex{
        align-items: center;
      }
      .focus-name{
        color: #222222;
        text-transform: initial;
        font-size: 15px;
      }
      .focus-balance{
        color: #666666;
        font-size: 14px;
        .token-symbol{
          margin-left: 5px;
        }
      }
      .icon{
        margin-right: 10px;
        img{
          vertical-align: top;
        }
      }
      i.k-angle {
        background-image: url(../img/exchange/arrow-down-swap.svg);
        height: 10px;
        width: 13px;
        background-size: 13px 13px;
      }
    }
  }
  .gas-option {
    .focus-item {
      padding-left: 0;
    }
  }
}
.confirm-exchange{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  
  .title {
    line-height: 1;
    font-weight: normal;
    letter-spacing: -0.1px;
    color: #141927;
    padding: 0;
    text-align: center;
    font-size: 36px;
    margin: 60px 0 20px;

    .icon {
      width: 100px;
      height: 100px;
      margin: 0 auto 20px;
      background-size: contain;
      background-repeat: no-repeat;

      &--broadcasted {
        background-image: url($image-path + 'broadcasted-circle.svg');
      }

      &--failed {
        background-image: url($image-path + 'failed.svg');
      }

      &--success {
        background-image: url($image-path + 'checked-circle-orange.svg');
      }
    }
  }
  .recap-transfer{
    display: flex;
  padding: 10px;
  border: 1px solid #ebebeb;
  margin-top: 25px;
    >div{
      margin-right: 10px;
    }
  }
  .overlap {
    display: inherit;
    width: 100%;
    text-align: left;
    background-color: #f5f5f5;
    padding: 20px 50px 50px 30px;
    align-items: center;
    span{
      &:not(.error-text){
        font-size: 1rem;
        line-height: 1;
        color: #666666;
      }
    }
    .type-password{
      padding-top: 20px;
      font-size: 14px;
      color: #666666;
    }
    .button {
      border-radius: 3px;
      padding: 14px 50px 14px 10px;
      color: #fff;
      font-size: 14px;
      background-color: #EF8102;
      font-weight: normal;
      margin: 0;
      cursor: pointer;
      position: relative;
      transition: all .3s;
      border: none;
      outline: none;
      box-shadow: none;

      &::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 28px;
        right: 11px;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.1) url($image-path + 'arrow-right-thick.svg') center center no-repeat;
      }
    }
   
  }
  .content {
    padding: 0 50px;
    @include screen-max-width(medium){
      padding: 0 10px;
    }
    &.with-overlap {
      padding-bottom: 25px;
    }
    .block-title {
      @include clearfix;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
      img.loading {
        height: 21px;
        float: right;
        margin-left: 10px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.7;
    }
    .gas-configed{
      width: 95%;
      white-space: nowrap;
      text-align: left;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 1rem;
      opacity: 0.77;
      
      @include screen-min-width(medium){
        border: solid 1px #ebebeb;
        padding: 25px;
        margin: 0 auto;
      }
      @include screen-max-width(medium){
        margin-top: 20px;
      }
      .font-w-b{
        font-size: 1rem;
        line-height: 1.03;
        color: #666666;
        padding-bottom: 10px;
      }
      .font-w-i{
        font-size: 0.8rem;
        line-height: 1.03;
        color: #666666;
        // padding-bottom: 10px;
      }
    }
    .des{
      display: flex;
      margin-left: 10px;
      img{
        padding-right: 10px;
        padding-top: 6px;
      }
      .description{
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.8px;
        color: #999999;
      }
    }
  }
  .confirm-exchange-modal{
    .amount{
      display: flex;
      margin-top: 0.8rem;
      justify-content: space-between;
      .amount-item{
        width: 100%;
        box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
        background-color: #ffffff;
        border: solid 0.8px rgba(204, 204, 204, 0.72);
        border-radius: 1px;
        color: unset;
        padding: 10px;
        @include screen-max-width(medium){
          .item-icon {
            margin-bottom: 10px;
          }
        }
        // .d-flex{
        //   padding: 10px 10px 10px 20px;
        //   span{
        //     padding-left: 10px;
        //   }
        // }
      }
      .amount-left{
        margin-right: -15px;
      }
      .amount-right{
        margin-left: -15px;
      }
      .space{
        position: relative;
        padding-top: 4px;
        img{
          width: 70px;
        }
      }     
    }
    
    .title-description{
      font-size: 1rem;
      line-height: 0.92;
      color: #666666;
      padding-top: 10px;
      margin-bottom: 35px;
    }
  }
  #passphrase{
    background-color: #ffffff;
    color: #141927;
    text-align: left;
    border: none;
    box-shadow: none;
    padding-bottom: 20px;
    padding-top: 20px;
    &.security{
      font-family: 'text-security-disc';
      font-size: 14px;
    }
  }
  .password-input{
    text-align: left;
    width: 100%;
    >span{
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    
  }
  .input-confirm{
    padding: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
  }
  .input-passpharse{
    margin-top: 10px;
    @include screen-min-width(medium){
      .process-submit{
        float: right;
      }
    }
    @include screen-max-width(medium){
      .process-submit{
        margin-top: 20px;
        width: 100%;
      }
    }
    .input-reveal{
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e5e5e5;
      input{
        background-color: #ffffff;
        font-size: 14px;
        font-style: italic;
        line-height: 1.43;
        color: #141927;
      }
      .toggle {
        opacity: .4;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contains;
        background-position: center;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 12px;
        left: unset;
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        background-image: url(../img/unlock-pass.svg);
      }
      &.unlock .toggle {
        background-image: url(../img/lock-pass.svg);
      }
      .tootip{
        opacity: .4;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contains;
        background-position: center;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 12px;
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        background-image: url(../img/lock.svg);
      }
    }
  }
  .approve-modal{
    .title{
      padding-left: 50px;
      text-align: left;
    }
    .message{
      font-weight: bold;
      font-size: 0.8rem;
      margin-top: 1rem;
    }
    .tx-title{
      text-align: left;
    }
    .address{
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
     >span{
       &:first-child{
         color: #aaa;
         font-weight: bold;
       }
       &:last-child{
         margin-right: 10px;
         font-weight: bold;
       }
     } 
    }
    .content{
      max-width: 90%;
    }
    .gas-configed{
      margin-top: 2rem;
    }
  }
}


.swap-navigation{
  display: flex;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 20px;
  @include screen-max-width(large){
    margin: 20px 10px 10px 10px;
  }
  >div{
      margin-right: 10px;
      a{
        color: #999999;
    }
  }
  .active{
    a{
      color: #666666;
    }
  }
}