.exchange-header {
  padding: 30px 0 25px;
  background-image: linear-gradient(to right, #fc9920, #eeb43d);
}

.exchange-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  position: relative;
  margin: 0 auto;

  &__item {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    transition: all .3s;

    &--disabled {
      opacity: 0.65;
    }

    &:last-child {
      position: relative;
      left: 32px;
    }

    &:hover {
      opacity: 1;
      color: white !important;
    }
  }

  &__separator {
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: .65;
  }
}

.exchange-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1050px;
  margin: 0 auto;

  &-wrapper {
    background-image: linear-gradient(to right, #fc9920, #eeb43d);
    position: relative;
    z-index: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    &--left,
    &--right {
      width: calc(50% - 2px);
      height: 48px;
      background-color: white;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      border: solid 0.8px rgba(204, 204, 204, 0.72);
    }

    &--left {
      padding: 0 25px 0 20px;
    }

    &--right {
      padding: 0 20px 0 25px;
    }

    &--absolute {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: #ef8102;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #999999;

    &.error {
      position: relative;
      color: #ee344e;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(../img/exchange/error-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        left: -30px;
      }
    }

    &--dropdown {
      padding-right: 15px;
      position: relative;

      &::after {
        content: '';
        width: 10px;
        height: 5px;
        display: block;
        background-image: url($image-path + 'icon-dropdown-grey.svg');
        position: absolute;
        top: 9px;
        right: 0;
      }
    }
  }

  &__select {
    min-width: 215px;
  }

  &__input-container {
    border-left: 1px solid #cccccc;
    height: 36px;
    display: flex;
    align-items: center;
    margin-left: 7px;

    .error {
      margin-bottom: 0 !important;
      padding-bottom: 3px !important;
    }

    .dropdown__content {
      position: unset;

      .show-item {
        position: absolute;
        width: 490px;
        height: 65px;
        top: -10px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 3px;
        z-index: 10;
        left:-1px;
        color: #666666;
        font-weight: normal;
        background-color: white;

        .input-content {
          display: flex;
          align-items: center;
          height: 100%;
          input {
            height: 50px;
            margin: 0;
            border: none;
            font-size: 24px;
            outline: none;
            box-shadow: none;
            font-weight: normal;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
          .token-symbol {
            font-size: 14px;
            color: #666666;
            font-weight: 600;
            letter-spacing: -0.4px;
            margin: 0 15px;
          }
        }

        &.dest-item {
          right: -1px;
          left: unset;
        }

        &.error {
          height: unset;
          color: #ee344e;
          .input-content {
            margin-top: 5px;
            input {
              color: #ee344e;
            }
            .token-symbol {
              position: relative;
              color: #ee344e;
              &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url(../img/exchange/error-icon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                left: -30px;
              }
            }
          }
          .error {
            color: #ee344e;
            font-size: 14px;
            padding: 10px 15px;
            border-top: solid 0.5px #cccccc;
            margin-bottom: 10px;
            span {
              margin-top: 0;
              padding-bottom: 7px;
            }
          }
        }

        @media screen and (max-width: 900px) {
          right: 0;
          left: unset;
          width: calc(100% - 259px);
        }

        @media screen and (max-width: 650px) {
          width: 75%;
        }
      }
    }

    &--to {
      border-left: none;
    }
  }

  & &__input {
    color: #666;
    font-size: 24px;
    margin: 0;
    padding: 0 17px 0 15px;
    min-height: 32px;
    height: 32px;
    outline: none;
    border: none !important;
    box-shadow: none !important;

    &.error {
      color: #ee344e;
    }
  }

  @media screen and (max-width: 900px) {
    $labelWidth: 35px;
    $selectorWidth: 200px;

    display: block;

    &__item {
      width: 100%;
      border: none;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);

      &--left {
        margin-bottom: 1px;
        padding-right: 20px;
      }

      &--right {
        padding-left: 20px;
      }

      &--absolute {
        background-color: white;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__select {
      min-width: unset;
      width: $selectorWidth;
    }

    &__label {
      width: $labelWidth;

      &--right {
        text-align: right;
      }

      &--wide {
        width: 80px;
      }
    }

    &__input-container {
      width: calc(100% - (#{$labelWidth} + #{$labelWidth} + #{$selectorWidth}));

      &--to {
        width: calc(100% - 80px);

        .exchange-content__input {
          width: 100%;
          padding-left: 2px;
        }
      }

      .big-input-wrapper,
      .dropdown {
        width: 100%;
      }
    }

    .k.k-exchange {
      background-image: url($image-path + 'icon-swap-down.svg');
    }

    .k.k-transfer {
      background-image: url($image-path + 'icon-transfer-down.svg');
      background-size: 50%;
    }
  }

  @media screen and (max-width: 650px) {
    &__item {
      padding: 0 5px;
      justify-content: space-between;

      &--absolute div {
        display: none;
      }
    }

    &__label {
      display: none;
    }

    &__select {
      width: unset;
    }

    &__input-container {
      margin-left: 0;
      border-left: none;
      width: 200px;
    }

    &__input-container--to {
      width: 100%;

      .exchange-content__input {
        padding: 0 15px 0 12px;
        width: 100%;
      }
    }

    &__input {
      padding-right: 10px;
      text-align: right;
    }
  }
}

.exchange-rate {
  color: white;

  &-container {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0;
    padding-bottom: 15px;
  }

  &__balance {
    color: white;
  }

  &__balance-text {
    font-size: 14px;
  }

  &__balance-amount {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__unit {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.6px;
    position: relative;
    bottom: 5px;
    margin-right: 5px;
  }

  &__amount {
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__equal {
    font-size: 12px;
    margin: 0 13px;
  }

  &__bracket {
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    position: relative;
    bottom: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 650px) {
    &-container {
      flex-direction: column-reverse;
    }
  }
}

.exchange-account {
  background-color: #f9f9f9;

  &__container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px 1rem 20px;
  }

  &__content {
    display: flex;
    border-bottom: 1px solid rgba(204, 204, 204, 0.36);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  &__balance {
    width: 65%;
    padding-right: 45px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 88%;
      background-color: rgba(204, 204, 204, 0.36);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__adv-config {
    width: 35%;
    padding-left: 35px;
  }

  @media screen and (max-width: 900px) {
    &__content {
      display: block;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
    }

    &__balance {
      width: 100%;
      padding: 10px 10px 0 42px;
      border-top: solid 1px #cccccc;

      &::after {
        display: none;
      }
    }

    &__adv-config {
      width: 100%;
      padding: 0 10px 0 42px;
    }
  }

  @media screen and (max-width: 400px) {
    &__container {
      padding-bottom: 5px;
    }

    &__content {
      margin-bottom: 25px;
    }
  }
}

.exchange-button {
  text-align: center;
  margin-bottom: 10px;

  &__button {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #ef8102;
    text-transform: uppercase;
    padding: 15px 46px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #f8f8f8 !important;
    transition: background-color .3s;

    i {
      margin-right: 15px;
      bottom: 1px !important;
    }

    &:hover {
      background-color: #F2A657;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }

  @media screen and (max-width: 400px) {
    &__button {
      width: 100%;
      padding: 10px 46px;
    }
  }
}

.exchange-terms {
  font-size: 12px;
  font-style: italic;
  color: #666666;

  &__link {
    color: #ef8102 !important;

    &:hover {
      text-decoration: underline;
    }
  }
}


.swap-balance-modal{
  position: relative;
  z-index: 1;

  .dropdown__content {
    right: 0;
    width: 170px;
    top: 25px;
  }
  .select-item{
    background-color: white;
    border: 1px solid #eee;
    .list-item {
      >div{
        padding: 10px;
        cursor: pointer;
        &:hover{
          background-color: #eee;
        }
      }
    }
  }
}
