.exchange-header {
  padding: 30px 0 25px;
  background-image: linear-gradient(to right, #fc9920, #eeb43d);
}

.exchange-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  position: relative;
  margin: 0 auto;

  &__item {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: all .3s;

    &--disabled {
      opacity: 0.65;
    }

    &:last-child {
      position: relative;
      left: 32px;
    }

    &:hover {
      opacity: 1;
      color: white !important;
    }
  }

  &__separator {
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: .65;
  }
}

.exchange-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1050px;
  margin: 0 auto;

  &-wrapper {
    background-image: linear-gradient(to right, #fc9920, #eeb43d);
    position: relative;
    z-index: 1;
  }

  &__item {
    display: flex;
    align-items: center;

    &:first-child,
    &:last-child {
      width: calc(50% - 2px);
      height: 48px;
      background-color: white;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      border: solid 0.8px rgba(204, 204, 204, 0.72);
    }

    &--absolute {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: #ef8102;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    &--left {
      padding: 0 25px 0 20px;
    }

    &--right {
      padding: 0 20px 0 25px;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #999999;
  }

  &__select {
    min-width: 200px;
  }

  &__input-container {
    border-left: 1px solid #cccccc;
    height: 36px;
    display: flex;
    align-items: center;
    margin-left: 7px;
  }

  & &__input {
    color: #666;
    font-size: 24px;
    margin: 0;
    padding: 0 15px;
    min-height: 32px;
    height: 32px;
    border: none !important;
    box-shadow: none !important;
  }
}

.exchange-rate {
  color: white;

  &-container {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0;
    padding-bottom: 15px;
  }

  &__balance {
    color: white;
  }

  &__balance-text {
    font-size: 14px;
  }

  &__balance-amount {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__unit {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.6px;
    position: relative;
    bottom: 5px;
    margin-right: 5px;
  }

  &__amount {
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  &__equal {
    font-size: 12px;
    margin: 0 13px;
  }

  &__bracket {
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    position: relative;
    bottom: 2px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.exchange-account {
  background-color: #f9f9f9;

  &__container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px 1rem 20px;
  }

  &__content {
    display: flex;
    border-bottom: 1px solid rgba(204, 204, 204, 0.36);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  &__balance {
    width: 65%;
    padding-right: 55px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 88%;
      background-color: rgba(204, 204, 204, 0.36);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__adv-config {
    width: 35%;
    padding-left: 50px;
  }
}

.exchange-button {
  text-align: center;
  margin-bottom: 10px;

  &__button {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #ef8102;
    text-transform: uppercase;
    padding: 15px 46px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #f8f8f8 !important;
    transition: background-color .3s;

    i {
      margin-right: 15px;
      bottom: 1px !important;
    }

    &:hover {
      background-color: #F2A657;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.exchange-terms {
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #666666;

  &__link {
    color: #ef8102 !important;

    &:hover {
      text-decoration: underline;
    }
  }
}
