#footer{
    margin:30px 0px;
    letter-spacing: .5px;
    font-size: 0.8rem;
    line-height: 25px;
}
.footer-menu {
    font-size: 0.8rem;
    ul.links {
      padding: 0;
      list-style: none;
      margin: 0px;
      margin-bottom: 5px;
      > li {
        display: inline-block;
        &:not(:last-child) > a:after {
          content: '|';
          font-size: 12px;
          font-weight: lighter;
          color: $light-gray;
          margin: 0 15px;
        }
        > a {
          color: $medium-gray;
          display: block;
          
          &:hover {
            color: $dark-gray;
          }
        }
        span{
          vertical-align: middle;
        }
      }
      @include breakpoint(small only){
        margin: 0 auto;
      }
    }
    @include breakpoint(large up){
      >div{
        .link-group{
          display: inline-block;
          &:first-child{
            &:after {
              content: '|';
              font-size: 12px;
              font-weight: lighter;
              color: $light-gray;
              margin: 0 15px;
              display: inline-block;
            }
            ul{
              display: inline-block;
            }
          }
        }
      }
      
    }
    @include breakpoint(small only){
      text-align: center;
      .footer-social{
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
      }
    }
}