#history-exchange {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #2c2c2c;
  
  &.loading{
    position: relative;
    &:after{
      content: ' ';
      position: absolute;
      width: 100%;
      z-index: 2;
      background: white;
      opacity: 0.5;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
    }
  }
  .history-content{
    .history-stamp{
      position: relative;
      background-color: white;
      border: 1px solid rgba(187, 218, 213, 0.5);
      padding: 15px 15px 15px 75px;
      font-size: 13px;
      border-radius: 4px;
      margin-bottom: 20px;
      img{
        &.token-from, &.token-to{
          width: 28px;
          height: 28px;
          position: absolute;
          top: 15px;
          left: 15px;
        }
        &.token-from {
          opacity: .5;
        }
        &.token-to {
          margin-top: 14px;
          margin-left: 14px;
        }
      }
      .amount strong {
      //  font-family: "Roboto Mono", Consolas, "Liberation Mono", Courier, monospace;
      }
      .link {
       // font-family: "Roboto Mono", Consolas, "Liberation Mono", Courier, monospace;
        font-weight: bold;
      }
      .timestamp {
        color: #999;
      }
    }
  }
  .history-pargination{
    @include clearfix;
    padding: 0 15px;
    div{
      &:first-child{
        float:left
      }
      &:last-child{
        float:right
      }
    }
    a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .5px;
      padding: 7px 15px;
      border-radius: 1000px;
      background-color: #ECF6F4;
      &:not(.disabled){
        transition: background-color .4s ease-in-out;
        background-color: #ECF6F4;
        color: $dark-gray;
        &:hover {
          background-color: $light-gray;
        }
      }
      &.next{
        margin-left: 20px;
      }   
    }
  }
  .column:last-child:not(:first-child){
    float: left;
  }
}