#history-exchange {
  margin-top: 30px;
  margin-bottom: 50px;
  .history-content{
    
    overflow-x: auto;
  }
  table{
    min-width: 750px;
    font-size: 13px;
    caption{
      text-align: left;
      font-weight: normal;
      font-style: italic
    }
    thead{
      display: block;
      tr{
        width: 100%;
        display: flex;
      }
      th{
        //text-align: center;
        display: block;
      }
    }
    tbody{
      display: block;
      max-height: 300px;
      overflow-y: auto;
      tr{
        display: flex;
      }
    }
    tbody td, thead tr th{
      &:first-child{
        width: 25%
      }
      &:nth-child(2){
        width: 55%
      }
      &:last-child{
        width: 20%
      }
    }
  }
  .history-pargination{
    @include clearfix;
    div{
      &:first-child{
        float:left
      }
      &:last-child{
        float:right
      }
    }
    a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-gray;
      letter-spacing: .5px;
      transition: background-color .4s ease-in-out;
      padding: 7px 15px;
      border-radius: 1000px;
      background-color: #ECF6F4;
      &:hover {
        background-color: $light-gray;
      }
    }
  }

  .button{
    margin: 0px;
    line-height: 0px;
  }
  
}