@mixin rotate-icon($deg){
    -moz-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

.k{
    width: 10px;
    height: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
    &.left{
        @include rotate-icon(90deg);
    }
    &.up{
        @include rotate-icon(180deg);
    }
    &.right{
        @include rotate-icon(270deg);
    }
    &.k-angle{
        background-image: url(../img/arrow.svg);
        &.white{
            background-image: url(../img/arrow-white.svg);
        }
    }
    &.k-exchange{
        background-image: url(../img/exchange.svg);
        background-size: 80% 80%;
        background-position: center;

    }
    &.k-link{
        background-image: url(../img/link-white.svg);
    }
    &.k-info{
        background-image: url(../img/info-button.svg);
    }
    &.k-arrow{
        background-image: url(../img/arrow-right.svg);
    }
}
@for $i from 1 through 3{
    .k-#{$i}x{
        -moz-transform: scale($i);
        -webkit-transform: scale($i);
        transform: scale($i);
    }
}