.import-account {
  &__choose-wallet-container {
    padding: 0 1rem 20px;
  }

  &__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    margin: 30px 0 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;

    &--mobile {
      display: block;

      .import-account__item {
        margin: 10px 0;
        width: auto;
        height: auto;
        &.download-app{
          .import-account__block-right{
            background-color: #EF8102;
            border: none;
            color: #fff;
          }
        }
      }

      .import-account__block {
        background-color: #E7EDF5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: unset;
        cursor: initial;
        border-radius: 50%;

        &:hover {
          border-color: #ccc;
          background-color: #fafafa;

          .import-account__name {
            color: #222222;
          }
        }
      }

      .import-account__block-left {
        display: flex;
        align-items: center;
      }

      .import-account__icon {
        width: 21px;
        height: 46px;
        // border-radius: 50%;
        // background-color: #ef8102;
        // background-size: 12px;

        &.kyberapp {
          background-size: 100%;
          background-image: url($image-path + '/v3/kyber-logo.svg');
          background-color: transparent;
        }

        &.promo-code {
          background-image: url($image-path + '/v3/kyber-promo-mobile.svg');
        }

        &.private-key {
          background-image: url($image-path + '/v3/private-key-mobile.svg');
        }
      }

      .import-account__name {
        font-size: 14px;
        font-weight: 600;
        color: #222222;
        margin-bottom: -2px;
      }

      .import-account__desc {
        font-size: 11px;
        color: #666666;
      }

      .import-account__block-right {
        display: block;
        font-size: 12px;
        color: #677C94;
        width: 100px;
        padding: 4px 0;
        text-align: center;
        cursor: pointer;
        transition: all .3s;
        border: 1px solid #677C94;
        border-radius: 20px;

        &:hover {
          color: white;
          border-color: #ef8102;
          background-color: #ef8102;
        }
      }
    }
  }

  &__item {
    width: 146px;
    height: 30px;
    border-radius: 23px;
    background-color: #e7edf5;
    margin: 0 0 12px;

    >div {
      height: 100%;
    }

    &-ledger, &-trezor {
      >div >div {
        height: 100%;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--inactive {
      .import-account__icon.metamask {
        background: url($image-path + 'import-account/wallet-icon/metamask_gray.svg') no-repeat center;
      }
      .import-account__icon.ledger {
        background: url($image-path + 'import-account/wallet-icon/ledger_gray.svg') no-repeat center;
      }
      .import-account__icon.trezor {
        background: url($image-path + 'import-account/wallet-icon/trezor_gray.svg') no-repeat center;
      }
      .import-account__icon.json {
        background: url($image-path + 'import-account/wallet-icon/keystore_gray.svg') no-repeat center;
      }
      .import-account__icon.private-key {
        background: url($image-path + 'import-account/wallet-icon/private_key_gray.svg') no-repeat center;
      }
      .import-account__icon.promo-code {
        background: url($image-path + 'import-account/wallet-icon/promocode_gray.svg') no-repeat center;
      }
    }
  }

  &__block {
    height: 100%;
    background-color: #e7edf5;
    display: flex;
    padding: 5px 15px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
    outline: none;

    &:hover {
      border-color: transparent;
      background-color: #ef8102;

      .import-account__name {
        color: white;
      }

      .metamask {
        background-image: url($asset-url + 'wallets/metamask-white.svg');
      }

      .json {
        background-image: url($asset-url + 'wallets/keystore-white.svg');
      }

      .trezor {
        background-image: url($asset-url + 'wallets/trezor-white.svg');
      }

      .ledger {
        background-image: url($asset-url + 'wallets/ledger-white.svg');
      }

      .private-key {
        background-image: url($asset-url + 'wallets/privatekey-white.png');
      }

      .promo-code {
        background-image: url($asset-url + 'wallets/promo_code-white.svg');
      }
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: center no-repeat;
    background-size: contain;

    &.metamask {
      background-image: url($asset-url + 'wallets/metamask.svg');
    }

    &.json {
      background-image: url($asset-url + 'wallets/keystore.svg');
    }

    &.trezor {
      background-image: url($asset-url + 'wallets/trezor.svg');
    }

    &.ledger {
      background-image: url($asset-url + 'wallets/ledger.svg');
    }

    &.private-key {
      background-image: url($asset-url + 'wallets/privatekey.svg');
    }

    &.promo-code {
      background-image: url($asset-url + 'wallets/promo_code.svg');
    }
  }

  &__name {
    font-size: 13px;
    font-weight: 600;
    color: #666666;
  }

  .column-block {
    margin: 0;
  }

  &__wallet-container {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px 1rem;
  }

  &__wallet-connect {
    padding-right: 20px;
    width: 120px;
    margin-right: 30px;
    font-size: 13px;
    color: #666666;
    border-right: 1px solid #cccccc;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: #ef8102;
      text-decoration: underline;
    }
  }

  &__wallet-type {
    display: flex;
    align-items: center;

    &.mobile {
      display: none;
    }
  }

  &__wallet-image {
    height: 30px;
    margin-right: 20px;
  }

  &__wallet-content {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
  }

  &__wallet-title {
    font-size: 16px;
  }

  &__wallet-name {
    font-size: 18px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 900px) {
    border: none;
    box-shadow: none;

    &__wallet-type {
      padding: 5px 10px;
      display: none;

      // &.mobile {
      //   display: flex;
      // }
    }

    &__wallet-container {
      display: block;
      padding-bottom: 10px;
    }

    &__wallet-connect {
      padding: 0 0 0 25px;
      width: unset;
      border: none;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url($image-path + 'icon-back.svg');
        position: absolute;
        top: 1px;
        left: 0;
      }
    }

    &__wallet-image {
      width: 20px;
      margin-right: 12px;
      height: unset;
    }

    &__wallet-title,
    &__wallet-name {
      font-size: 14px;
    }
  }
}

.import-privatekey {
  padding: 0px !important;
  .title {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 0;
    padding-top: 70px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: -0.4px;
    color: #141927;
  }

  .content {
    &.with-overlap {
      padding-left: 30px !important;
      padding-right: 30px !important;
      input {
        outline: none;
        box-shadow: none;
        border-color: #e5e5e5;
      }
    }
  }
  .overlap {
    justify-content: center;
    // background-color: #f5f5f5;
    margin-top: 10px;
    padding: 20px 45px 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .accent {
      line-height: 45px;
      padding: 0 35px;
      background: #ef8102;
      font-size: 14px;
      border-radius: 4px;
      width: 100%;
      max-width: 200px;
      border-radius: 60px;
      font-weight: 600;
    }
  }
  #private_key {
    text-align: left;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 23px;
    color: #666666;
    height: 45px;
    padding-left: 55px;
  }
}
