// .import-account-modal {
//   @include breakpoint(medium) {
//     &.large {
//       // top: 125px;
//       width: 70%;
//     }
//   }
  #import-account{
    // background: linear-gradient(180deg, #6292A7 50%, $white 50%);
    padding-top: 4rem;
    
    .title{
      font-weight: bold;
      color: #000;
      text-align: center;
      font-size: 2.5rem;
    }
    .sub-title {
      font-size: 0.8rem;
      color: $white;
      padding: 0px 50px 30px 50px;
    }

    

    .import-account {
      padding: 0 60px;
      text-align: center;
      justify-content: center;

      .column {
        padding: 7px;
        .column-block {
          padding: 0px;
          margin-bottom: 6rem;
          .importer {
            position: relative;
            height: 270px;
            border-radius: 2px;
            overflow: hidden;
            background-color: #fff;
            padding: 15px;
            margin-top: 35px;
            
            max-width: 200px;
            >div{
              &:not(.how-to-use){
                margin-top: 20px;
              }
            }

            .how-to-use{
              width: 20px;
              height: 20px;
              position: absolute;
              top: 10px;
              right: 10px;
              background-image: url(../img/landing/notice.svg);
              &:hover{
                background-image: url(../img/landing/notice_grey.svg);
              }
            }



            // box-shadow: 0px 1px 13px $k-divider;
            // &.json {
            //   background-image: url(../img/json.jpg)
            // }
            // &.pkey {
            //   background-image: url(../img/pkey.jpg)
            // }
            // &.trezor {
            //   background-image: url(../img/trezor.jpg)
            // }
            // &.ledger {
            //   background-image: url(../img/ledger.jpg)
            // }
            // &.metamask {
            //   background-image: url(../img/metamask.jpg)
            // }
            > a {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: block;
              background-color: rgba($dark-gray, .7);
              text-align: center;
              &:hover{
                background: linear-gradient(178deg, rgba(54, 217, 172, 0.7), rgba(4, 150, 150, 0.7));
              }
            }
            button{
              padding: 10px;
            background-color: #EF8102;
            color: #fff;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            }
            // img {
            //   width: 100%;
            // }
            // .description {
            //   @include breakpoint(large){
            //     margin-top: 20px;
            //   }
            //   @include breakpoint(medium only){
            //     margin-top: 15px;
            //   }
            //   @include breakpoint(small only){
            //     margin-top: 5px;
            //   }
              
            //   padding: 0 15px;
            //   color: $white;
            //   font-size: 15px;
            //   line-height: 1.6;
            // }
          }
          .description {
            padding: 25px 0 10px 10px;
            text-transform: uppercase;
            color: blue;
            font-weight: 500;
            font-size: 0.9rem;
            border: 0.5px solid #ddd;          
          }
        }
      }
    }
  }

// }

.import-privatekey {
  .title {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 50px 50px 10px 50px;
  }
  .content {
    padding-left: 30px;
  }
  .overlap {
    justify-content: center;
    background-color: $white;
    .accent {
      // margin-top: 50px;
      line-height: 55px;
      padding: 0 35px;
      background: #510CA7;
      font-size: 1.3rem;
      border-radius: 50px;
      box-shadow: 0 10px 15px #ccc;
    }
  }
  #private_key {
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #32AB7B;
  }
}
