.swap-wrapper {
  &--agreed.swap-wrapper--mobile {
    padding-bottom: 0;

    .swap-button-wrapper {
      padding: 0;
      position: initial;
    }

    .token-compare {
      margin: 15px 0;
      text-align: left !important;
      position: initial !important;
    }
  }

  &--transfer.swap-wrapper--mobile {
    .swap-button-wrapper {
      margin-top: 50px;
    }
  }
}

.swap-content {
  @include screen-min-width(large){
    padding: 65px 0 220px
  }
  position: relative;
  height: 100%;

  .dropdown {
    &__content {
      .select-item {
        top: 1px;
        border: .8px solid hsla(0,0%,80%,.72);
      }
    }
    &.dropdown--active {
      .dropdown__content {
        .select-item {
          // border: .8px solid hsla(0,0%,80%,.72);
          border: none;
          box-shadow: 0 24px 24px 0 rgba(0,0,0,.24), 0 12px 24px 0 rgba(0,0,0,.12);;
        }
        .search-item {
          input {
            border-color: #ebebeb;
          }
        }
      }
    }
  }

  &--agreed {
    padding-bottom: 75px;

    .token-compare {
      bottom: 10px !important;
    }

    &.swap-content--mobile {
      position: static;
      padding-bottom: 0;
    }
  }

  &--imported {
    padding-bottom: 0;

    .token-compare {
      position: initial !important;
    }
    &__change-wallet {
      .token-compare {
        position: absolute !important;
      }
    }
  }

  &--transfer {
    padding-bottom: 188px;

    &.swap-content--agreed {
      padding-bottom: 0;

      #import-account {
        margin: 50px 0;
      }
    }

    &.swap-content--imported {
      padding-bottom: 0;
    }

    #get-start .account-type {
      margin-top: 25px;
    }
    .transfer-col-1-2 {
      .amount-input {
        margin-top: 1rem;
      }
    }
  }
}

@include screen-max-width(large) {
  .swap-wrapper {
    position: relative;
    padding-bottom: 230px;

    &--agreed {
      padding-bottom: 510px;
    }

    &--imported {
      padding-bottom: 0 !important;

      .exchange-col {
        position: relative;
        padding-bottom: 150px;
      }

      .swap-button-wrapper {
        bottom: 20px !important;
      }
    }

    &--transfer {
      &.swap-wrapper--agreed {
        padding-bottom: 480px;
      }

      &.swap-wrapper--agreed.swap-wrapper--mobile {
        padding-bottom: 0;
      }
    }
  }

  .swap-button-wrapper {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    left: 0;

    #import-account {
      margin: 0 !important;
    }
  }

  .swap-content {
    position: initial;
    padding-bottom: 0;

    &--agreed {
      .swap-button-wrapper {
        width: 100%;
        bottom: 80px;
      }

      .token-compare {
        bottom: -60px !important;
      }
    }

    &--transfer {
      &.swap-content--agreed .swap-button-wrapper {
        bottom: 35px;
      }

      &.swap-content--imported .swap-button-wrapper {
        bottom: 50px !important;
      }
    }
  }
}

#get-start {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;

  .term-services {
    &__accept,
    &__text {
      font-size: 14px;
      color: #757575;
    }

    &__text {
      display: inline-block;
      position: relative;
      transition: all .3s;
      color: $swap-color;

      &:hover {
        color: $swap-color;
      }

      // &::after {
      //   content: '';
      //   display: block;
      //   width: 100%;
      //   height: 2px;
      //   background-color: $swap-color;
      //   position: relative;
      //   bottom: 2px;
      // }
    }

    &__btn {
      margin-top: 8px;
      padding: 13px 26px;
      font-size: 20px;
      font-weight: 600;
      color: #f8f8f8;
      border-radius: 4px;
      background-color: $swap-color;
      cursor: pointer;
    }
  }

  .account-type {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 19%;
      padding: 11px 5px;
      color: rgba(102, 102, 102, .45);
      font-size: 13px;
      font-weight: 600;
      border-radius: 3px;
      background-color: rgba(245, 245, 245, .73);
      >div {
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      img {
        display: none;
      }
      @include screen-max-width(medium) {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        >div {
          display: none;
        }
        img {
          display: block;
          max-height: 25px;
        }
      }
    }

    @include screen-max-width(large) {
      margin-top: 70px;
    }
  }
}

#content {
  .swap-navigation-ctrl {
    position: relative;
    margin-bottom: 25px;
    h1.title.frame-tab {
      position: absolute;
      z-index: 2;
      left: calc(50% - 150px);
        padding-top: 0;
    }
    @include screen-max-width(large) {
      margin-bottom: 0;
      h1.title.frame-tab {
        position: relative;
        left: unset;
        padding-top: 20px;
      }
    }
  }
}
