#landing_page{
  background-image: url(../img/landing/swap.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#get-start{
  margin-bottom: 140px;
  padding: 0 15px;
  color: #000;
  text-align: center;

  .frame{
    padding: 80px 0 0;

    >div {
      max-width: 70rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .convert-tokens {
        width: 100%;
        // width: 50%;
        h1 {
          font-weight: 550;
        }
        p{
        }
        button {
          border-radius: 3px;
          padding: 10px;
          color: #fff;
          background-color: #EF8102;
          font-weight: 550;
          margin: 0;
          cursor: pointer;
          &.disable{
            cursor: initial;
          }
        }
      }
      .group {
        text-align: center;
      }
    }
  }
  .title{
    margin-top: 70px;
    font-weight: 600;
    font-size: 44px;
    @include breakpoint(small only){
      font-size: 31px;
    }
    .flag{
      img{
        margin-top: -38px;
        margin-left: 8px;
        width: 28px;
        + span{
          margin-left: -24px;
        }
      }
    }
  }
  .subtitle{
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0.6rem;
  }
  .term-services{
    height: 65px;
    background-color: #fff;
    color: #757575;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 50px #aaa;
    position: relative;
    .term-text{
      vertical-align: text-top;
      font-weight: 500;
      padding: 20px;
      padding-right: 40px;
      font-size: 15px;
    }
  }
  // button{
  //   padding: 0 30px;
  //   margin-bottom: 70px;
  //   min-width: 135px;
  //   cursor: pointer;
  //   &.disable{
  //     cursor: initial;
  //   }
  // }
  // a:hover, a:focus{
  //   color: $k-success;
  // }
    a{
      border-bottom: 1px solid #EF8102;
      color: inherit
    }
    .accept-btn{
      position: absolute;
      right: -18px;
    }
  .accept-term{
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 356px;
  }

  .account-type {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;

    &__content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &__item {
      background: white;
      width: 185px;
      height: 170px;
      margin: 0 12px 25px;
      position: relative;
      top: 50px;
      box-shadow: 0 4px 10px #666;
    }

    &__text {
      color: #ccc;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 1060px) {
    .account-type {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 480px) {
    .accept-term {
      left: 20px;

      .accept-btn {
        position: relative;
        right: 20px;
      }
    }

    .account-type {
      margin-top: 30px;
    }
  }
}
/* Accept Terms and Con: */
// #comming-soon {
//   background-image: url(../img/landing/landing.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   .notification {
//     color: $white;
//     text-align: center;
//     h1{
//       font-size: 40px;
//       padding-top: 10rem;
//     }
//     // h4 {
//     //   color: #ddd;
//     // }
//   }
//   .notice {
//     margin-top: 5rem;
//     text-align: center;
//     color: $white;
//     background-color: rgba(0, 0, 0, 0.4);
//     p {
//       padding: 15px;
//       text-align: center;
//       color: #ddd;
//       font-family: "Montserrat", "My-Montserrat", sans-serif;
//       @media screen and (max-width: 40em) {
//         font-size: 15px;
//       }
//       a {
//         color: $white;
//         padding: 3px 0;
//         margin-left: 6px;
//         font-weight: bold;
//         border-bottom: 1px solid #00D8A0;
//         &:hover {
//           color: $white;
//         }
//       }
//     }
//   }
// }
