.language-list{
  .token-stamp{
    text-align: left;
    display: block;
    background-color: white;
    padding: 12px;
    border-radius: $global-radius;
    margin-bottom: 15px;
    &:not(.empty){
      cursor: pointer;
    }
    img{
      background-color: transparent;
      margin-right: 10px;
    }
    &.empty {
      opacity: .5;
      cursor: initial;
    }
    &.selected{
      background: $k-success-gradient;
      .name {
        color: white;
      }
    }
    .name {
      font-weight: bold;
      vertical-align: middle;
      text-transform: capitalize;
    }
  }
}