

.language-list{
  .token-stamp{
    text-align: left;
    &:not(.empty){
      cursor: pointer;
    }
    img{
      background-color: transparent
    }
    span{
      vertical-align: middle;
    }
  }
}