@import "./modals.scss";
@import "./components/_button.scss";
@import "~react-tippy/dist/tippy.css";
// -------------------------
// ----- Common styles -----
// -------------------------
%react-table-layout {
    position: relative;

    .ReactTable {
        height: 310px;
        overflow: auto;
        margin: 15px 30px 30px 30px;
        border: none;

        .rt-thead {
            overflow-y: scroll;
            font-size: 12px;
            font-weight: 600;
            box-shadow: none;
            border-bottom: 2px solid #cccccc;
            height: 44px;
            margin-bottom: 5px;

            .rt-th {
                font-weight: 600;
                color: #999999;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0;
                overflow: visible;

                &.-sort-asc, .-sort-asc {
                    box-shadow: none;
                }

                &.-sort-desc, .-sort-desc {
                    box-shadow: none;
                }
            }
        }

        // .rt-expandable {
        //     display: none !important;
        // }

        .rt-tbody {
            font-size: 13px;
            font-weight: 500;
            color: #222222;
            $row-height: 50px;

            .rt-td {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px 0;
            }

            .rt-tr-group {
                height: $row-height;
                max-height: $row-height;
                border: none;
            }
        }
    }


    @mixin cell-flex ($position) {
        &-header {
            justify-content: $position !important;
            span {
                padding-right: 10px;
            }

            .drop-down {
                display: inline;
                cursor: pointer;
            }
        }
        justify-content: $position !important;
    }

    .cell-flex-start {
        @include cell-flex(flex-start);
    }

    .cell-flex-end {
        @include cell-flex(flex-end);
    }

    .cell-flex-center {
        @include cell-flex(center);
    }

    .cell-condition {
        &-header {
            cursor: pointer;

            .dropdown__trigger {
                color: #999999;
            }
        }

        // span {
        //     padding-right: 5px;
        // }
    }

    .cell-status {
        &-header {
            cursor: pointer;

            .dropdown__trigger {
                color: #999999;
            }
        }

        padding: 2px 8px;
        border-radius: 3px;
        font-size: 11px;
        font-weight: 500;
        // width: 66px;
        margin: 0 auto;
        text-align: center;

        &--open {
            background-color: #eae6ff;
            color: #403294;
        }

        &--cancelled {
            background-color: #ffebe5;
            color: #bf2600;
        }


        &--invalidated {
            background-color: #fff0b3;
            color: #172b4d;
        }

        &--in_progress {
            background-color: #deebff;
            color: #0049b0;
        }

        &--filled {
            background-color: #e2ffee;
            color: #006644;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            >div:first-child {
                margin-right: 8px;
            }
        }
    }

    .order-status-info {
        border-radius: 3px;
        background-color: #172b4c !important;
        font-size: 10px !important;
        font-weight: 500 !important;
        color: #ffffff !important;
    }

    .cell-action {
        .btn-cancel-order {
            height: 20px;
            width: 70px;
            font-size: 11px;
            font-weight: 600;
            color: #666666;
            border-radius: 18px;
            // border: solid 1px #bdc4c8;
            background-color: #f5f6f8;
            cursor: pointer;

            &:hover {
                background-color: #666666;
                color: #ffffff;
            }

            @include screen-max-width(medium) {
                height: 25px;
                width: 90px;
            }
        }
    }

    .line-indicator {
        width: 10px;
        height: 1px;
        border: solid 1px #979797;
    }

    .cell-from, .cell-to {
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    %number-cell {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .from-number-cell {
        @extend %number-cell;
        max-width: 100px;

        // @include screen-max-width(medium) {
        //     max-width: 100px;
        // }
    }

    .to-number-cell {
        @extend %number-cell;
        max-width: 100px;
    }
}

// Checkmark radio
%checkmark-radio {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    border: solid 1px #d1d8dd;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translateY(-50%);
    transition: all .3s;

    &::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%) scale(0);
        transition: all .5s;
    }
}

%checkmark-radio--checked {
    border: solid 4px #ff9008;

    &::after {
        transform: translateY(-50%) scale(1);
    }
}

// Checkmark checkbox
%checkmark-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    border: solid 1px #d1d8dd;
    border-radius: 2px;
    // border: solid 4px #ff9008;
    background-color: #ffffff;
    transform: translateY(-50%);
    transition: all .3s;

    &::after {
        content: '';
        display: block;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 4px;
        height: 7px;
        transform: translateX(-50%) translateY(-65%) rotate(45deg);
        // transition: all .5s;
    }
}

%checkmark-checkbox--checked {
    border: solid 1px #ff9008;
    background-color: #ff9008;

    &::after {
        opacity: 1;
    }
}
// -------------------------

.limit-order-container {
    background-color: #eff4fa;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

    .select-token.error .__react_component_tooltip{
        top: 50px !important;
    }
}

.limit-order-body {
    padding-bottom: 60px;

    &--form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        padding: 0 1rem;

        @include screen-max-width(medium) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            padding: 0;
        }
    }

    &--list {
        display: flex;
    }
}

.limit-order-account {
    padding-top: 25px;
    padding-bottom: 25px;

    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 600;
        color: #222222;
        margin: 0 25px 10px;

        @include screen-max-width(medium) {
            border-top: 1px solid #e1e4eb;
            padding-top: 15px;
        }
    }

    .import-account {
        &__title {
            font-size: 14px;
            color: #5A5E67;
            font-weight: 600;
            margin: 0 0 25px 12px;
            text-align: start;
        }

        &__item {
            width: 135px;
        }

        &__name {
            font-size: 10px;
            color: #677c94;
        }
    }

    // Override
    .top-token {
        width: 100%;
        padding: 0;
        padding: 0 25px;
        display: flex;
        flex-wrap: wrap;

        @include screen-max-width(medium) {
            justify-content: flex-end;

            &-content {
                width: 100%;
            }
        }
        
        &-item {
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            color: #666666;
    
            &.active {
                color: #222222;
                opacity: 1;
                font-weight: 600;
            }
    
            &__symbol {
                text-decoration: none;
            }
        }

        &-more {
            font-size: 11px;
            font-weight: 500;
            color: #666666;
            text-decoration: underline;
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }

            &:after {
                background-image: none;
                content: "";
            }
        }
    }

    &__advance {
        width: calc(100% - 25px);
        height: 252px;
        padding: 10px 20px;
        margin: 15px 0 0 25px;
        border-radius: 6px;
        box-shadow: 0 4px 12px 0 rgba(87, 102, 119, 0.14);
        background-color: #ffffff;
        position: relative;

        @include screen-max-width(medium) {
            width: 100%;
            margin: 15px 0 0 0;
            height: 280px;
        }

        @include animation(slideInDown) {
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
          };

        .advance-close {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 2;
            padding: 10px;
            cursor: pointer;
            @include screen-max-width(large) {
                right: 0px;
                top: -5px;
            }
            &_wrapper {
                background-image: url("../img/v3/Close-3.svg");
                width: 16px;
                height: 16px;
            }

            @include screen-max-width(medium) {
                top: 5px;
            }
        }

        // Override
        .account-balance {
            &__address-text {
                font-size: 16px;
                font-weight: 600;
                color: #ef8102;
            }

            &__wallet-name {
                font-size: 12px;
                font-weight: 500;
                color: #141927;
            }

            &__address-link {
                font-size: 12px;
                font-weight: 500;
            }

            &__content-search-container {
                &::before {
                    width: 16px;
                    height: 16px;
                }
            }

            & &__content-search {
                &::placeholder {
                    color: #b8babe;
                    font-weight: 500;
                }
            }

            &__sort-dropdown {
                font-weight: 500;
                color: #5a5e67;
            }

            &__token-item {
                font-size: 12px;
                font-weight: 500;
                color: #5a5e67;
            }
        }
    }

    .reimport-msg {
        font-size: 12px;
        font-weight: 500;
        color: #8690ad;
        text-decoration: underline;
        cursor: pointer;
    }
}

.limit-order-fee {
    margin: 0 25px;
    border-top: 1px solid #e1e4eb;
    padding-top: 15px;
    font-size: 12px;
    color: #666666;
    font-weight: 500;

    &__text {
        font-weight: 600;
        color: #666666;
        margin-bottom: 9px;
    }

    a {
        text-decoration: underline;
    }
}

.limit-order-submit {
    text-align: center;
    padding: 20px 0 30px;

    .accept-button {
        margin: 0 auto;
        width: 244px;
        height: 54px;
        line-height: 54px;
        border-radius: 27px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background: linear-gradient(164deg, #ffb046, #f52880) 0 100%;
        background-size: auto 150%;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-bottom: 17px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            background-position: 0 0;
        }
        &.disable{
            pointer-events: none;
            background: #bfbfbf;
            box-shadow: none;
        }
        &.waiting{
            pointer-events: none;
            cursor: initial;
        }
    }
}

.limit-order-list {
    width: 936px;
    height: 381px;
    color: #5a5e67;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;

    &--empty {
        background-color: #e8eff6;
        height: 185px;
    }

    &--title {
        display: flex;
        justify-content: space-between; 
        margin: 30px 30px 0;

        .title {
            color: #222222;
            font-size: 16px;
            font-weight: 600;

            @include screen-max-width(medium) {
                font-size: 14px;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        @include screen-max-width(medium) {
            margin: 0;
        }

        .setting {
            cursor: pointer;
        }
    }
    
    // For mobile
    &__wrapper {
        background-color: #e8eff6;
        border-radius: 5px;
        margin: 5px 10px;
        padding: 15px 20px;
    }

    &__filter-container {
        display: flex;
        justify-content: space-between;

        .filter {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0 20px 0 0;
            padding: 0;

            li {
                padding-right: 15px;
            }
            li:last-child {
                padding: 0;
            }

            a {
                font-size: 12px;
                font-weight: normal;
                color: #666666;
                display: inline-block;
                text-decoration: none;
            }

            &--active {
                font-weight: bold !important;
            }
        }
    }

    &--table {
        @extend %react-table-layout;
    }

    &--table-mobile {
        @extend %react-table-layout;

        @include screen-max-width(medium) {
            .ReactTable {
                margin: 0;
                height: 100%;
                min-height: 70vh;

                .rt-thead {
                    border-bottom: 1px solid #999999 !important;
                }

                .rt-tr-group {
                    height: 95px !important;
                    max-height: 95px !important;
                    border-bottom: 0.5px solid #cccccc !important;
                }

                .expanded-row {
                    position: relative;
                    height: 215px !important;
                    max-height: 215px !important;
                }

                .cell-pair__mobile {
                    >div {
                        padding: 2px 0;
                    }

                    >div:first-child {
                        font-size: 10px;
                        font-weight: 500;
                        color: #666666;
                    }
                    
                    >div:nth-child(2) {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222222;
                    }

                    &--rate {
                        font-size: 12px;
                        font-weight: 500;
                        color: #222222;
                    }
                }
            }

            .limit-order-modal__detail-order {
                width: calc(100% - 4px);
                height: calc(100% - 10px);
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
                background-color: #fafafa;
                position: absolute;
                padding: 5px;
                margin: 10px 2px 0;

                >div {
                    padding: 5px 5px 10px;
                }

                >div:first-child {
                    display: flex;
                    justify-content: space-between;
                }

                >div:nth-child(2) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                }

                >div:nth-child(3) {
                    display: flex;
                    justify-content: flex-end;
                }

                &__rate {
                    display: flex;
                    align-items: center;
                    text-align: right;
                    font-size: 13px;
                    font-weight: 500;
                    color: #222222;
                }

                &__amount {
                    // padding: 0 15px;
                    
                    &--from {
                        border-right: 1px solid #cccccc;
                    }

                    >div:first-child {
                        font-size: 12px;
                        font-weight: 600;
                        color: #999999;
                    }

                    >div:nth-child(2) {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222222;
                    }
                }
            }

            .limit-order-modal__detail-order--cancel {
                @extend .limit-order-modal__detail-order;

                .cell-pair__mobile {
                    >div {
                        padding: 2px 0;
                    }

                    >div:first-child {
                        font-size: 10px;
                        font-weight: 500;
                        color: #666666;
                    }
                    
                    >div:nth-child(2) {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222222;
                    }

                    &--rate {
                        font-size: 12px;
                        font-weight: 500;
                        color: #222222;
                    }
                }

                height: 100% !important;
                position: relative !important;
            }
        }
    }
}

 // Pair filter modal
 .pair-filter-modal {
    width: 165px;
    border-radius: 6px;
    box-shadow: 0 4px 12px 0 rgba(87, 102, 119, 0.14);
    border: solid 0.9px #d3d7db;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: -30px;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;

    @include screen-max-width(medium) {
        left: 0px;
    }

    &__option {
        color: #5a5e67;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
        text-align: start;
    }

    &__basic {
        border-bottom: solid 1px #d1d8dd;
        padding: 10px 12px 0;
    }

    &__advance {
        padding: 10px 12px 10px;
        height: 164px;
        overflow: scroll;
    }

    &__radio, &__checkbox {
        visibility: hidden;
        pointer-events: none;
        margin: 0;
        width: 0;
        height: 0;

        &:checked {
            ~.pair-filter-modal__checkmark--radio {
                @extend %checkmark-radio--checked;
            }

            ~.pair-filter-modal__checkmark--checkbox {
                @extend %checkmark-checkbox--checked;
            }
        }
    }

    &__checkmark {
        &--radio {
            @extend %checkmark-radio;
        }

        &--checkbox {
            @extend %checkmark-checkbox;
        }
    }
}

// // Status filter modal
// .dropdown-status-filter-modal {
//     width: 105px;
//     position: absolute;
//     top: 0;
//     right: 0;
// }

.status-filter-modal {
    width: 130px;
    height: 170px;
    border-radius: 6px;
    box-shadow: 0 4px 12px 0 rgba(87, 102, 119, 0.14);
    border: solid 0.9px #d3d7db;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: -30px;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;

    @include screen-max-width(medium) {
        left: -46px;
    }

    &__option {
        color: #5a5e67;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
        text-align: left;
    }

    &__checkbox {
        visibility: hidden;
        pointer-events: none;
        margin: 0;
        width: 0;
        height: 0;

        &:checked {
            ~.status-filter-modal__checkmark--checkbox {
                @extend %checkmark-checkbox--checked;
            }

        }
    }

    &__checkmark {
        &--checkbox {
            @extend %checkmark-checkbox;
        }
    }
}

.limit-order-compare-rate {
    font-size: 12px;
    font-weight: 500;
    color: #666666;
    padding-left: 20px;
    text-align: start;

    &__text {
        margin-bottom: 2px;

        .rate {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.balance-order {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 20px;
  padding-right: 20px;
  margin-bottom: 5px;

  &__item {
    padding: 3px 20px;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #8690ad;
    border-radius: 14px;
    border: 1px solid transparent;
    background-color: #e8eff6;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        border: 1px solid #eceef3;
        background-color: #ffffff;
    }
  }
}

// Limit order modal
.limit-order-modal {

    &__body {
        background-color: #f6f7fa;
        padding: 50px 30px 0;

        @include screen-max-width(medium) {
            padding: 20px 20px 0;
        }
    }

    &__footer {
        background-color: #ffffff;
        display: flex;
        justify-content: flex-end;
        padding: 25px 0;
        border-radius: 0 0 10px 10px;

        @include screen-max-width(medium) {
            justify-content: space-around;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        color: #141927;
        line-height: 0.86;
        letter-spacing: -0.1px;

        @include screen-max-width(medium) {
            font-size: 20px;
        }
    }

    &__message {
        font-size: 16px;
        font-weight: 500;
        color: #141927;
        margin-bottom: 15px;

        &--text-small {
            font-size: 14px;
        }
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 2;
        padding: 10px;
        cursor: pointer;
        @include screen-max-width(large) {
            right: 0px;
            top: -5px;
        }
        &-wrapper {
            background-image: url("../img/v3/Close-3.svg");
            width: 16px;
            height: 16px;
        }

        @include screen-max-width(medium) {
            top: 15px;
            right: 15px;
        }
    }

    &__content {
        margin: 30px 0;
    }

    &__table {
        @extend %react-table-layout;
        .ReactTable {
            height: 100%;
            margin: 0;
        }
    }

    &__amount {
        // border-radius: 5px;
        // background-color: #ecedf1;
        display: grid;
        grid-template-columns: auto 140px;

        @include screen-max-width(medium) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    }

    &__pair {
        @extend .confirm-exchange-modal; 
        border-radius: 5px 0 0 5px;
        background-color: #ecedf1;

        @include screen-max-width(medium) {
            border-radius: 0;
        }

        .amount {
            margin: 0;
            padding: 15px 0 20px 15px;
            background-color: #ecedf1;
            border-right: 1px solid #d6d9e0;
            border-radius: 5px 0 0 5px;
            grid-template-columns: auto 30px 1fr;

            @include screen-max-width(medium) {
                border: 0;
                padding: 15px 0;
            }
        }

        .rc-label {
            color: #999999 !important;
        }

        .rc-info {
            font-weight: 500;
        }
    }

    &__fee {
        padding: 25px 15px;
        border-radius: 0 5px 5px 0;
        background-color: #ecedf1;

        @include screen-max-width(medium) {
            border-radius: 0;
            background-color: inherit;
            display: flex;
            padding: 20px 0 0;
        }

        &--title {
            display: flex;
            font-size: 12px;
            font-weight: 600;
            color: #999999;
            margin-bottom: 5px;
            align-items: center;

            >div:first-child {
                margin-right: 3px;
            }

            @include screen-max-width(medium) {
                margin: 0;
                margin-right: 5px;
            }
        }

        &--amount {
            display: flex;
            font-size: 14px;
            font-weight: 500;
            color: #222222;

            >div {
                margin-right: 5px;
            }
        }

        &--info {
            width: 300px;
            border-radius: 5px;
            background-color: #3e5271 !important;
            color: #ffffff !important;
            font-weight: 500 !important;
            font-size: 12px !important;
        }
    }

    &__result {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 500;
        color: #222222;
        text-align: right;

        >span:last-child {
            font-size: 22px;
        }

        &--pending {
            font-size: 14px;
            color: #222222;
            margin-top: 15px;
        }

        &--error {
            font-size: 14px;
            color: #ff5d00;
            margin-top: 15px;
        }

        @include screen-max-width(medium) {
            text-align: left;
        }
    }

    &__success-msg {
        background-color: #e8f9e8;
        color: #222222;
        font-size: 14px;
        display: flex;
        padding: 30px 30px;
        font-weight: 500;
        border-radius: 0 0 10px 10px;

        >span {
            margin-left: 15px;
        }
    }

    .x {
        display: block;
        position: absolute;
        right: 20px;
        top: 5px;
        font-size: 2rem;
        color: #aaa;
    }

    %btn {
        width: 151px;
        height: 40px;
        border-radius: 22.5px;
        padding: 0 25px;
        font-size: 14px;
        font-weight: 600;
        margin-right: 30px;
        cursor: pointer;

        @include screen-max-width(medium) {
            margin: 0;
        }
    }

    .btn-cancel {
        @extend %btn;
        color: #222222;
        background-color: #f5f6f8;
    }

    .btn-confirm {
        @extend %btn;
        color: #ffffff;
        background-color: #ef8102;
        &:hover {
            background-color: $color-swap-light;
        }
     }
}

.wrap-eth-modal{
    .title{
        font-size: 28px;
        font-weight: 600;
        text-align: left;
        margin-top: 50px;
    }
    .message{
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #dFdFdf;
        padding-bottom: 20px;
    }
    .weth-modal-tooltip-icon {
        margin-left: 8px;
        position: relative;
        bottom: 2px;
    }
    .weth-modal-tooltip {
        width: 350px;
        padding: 15px 20px;
    }
    .address-info{
        >div{
            display: flex;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 8px;
        }
        label{
            width: 100px;
            margin: 0 10px 0 0;
            color: #626b86;
        }
        .target-value {
            width: calc(100% - 100px);
            color: #141927;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .balance-info {
            font-size: 16px;
            font-weight: 600;
        }
    }
    .illustration{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 20px;
        .token-item{
            border: 1px solid #cfcfcf;
            border-radius: 40px;
            display: flex;
            align-items: center;
        }
        .token-info{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            span{
                font-weight: 500;
                margin-left: 10px;
            }
        }
        .token-value{
            font-size: 18px;
            font-weight: 500;
            color: #5a5e67;
            padding: 10px 20px 10px 40px;
            background: white;
            border-radius: 0 25px 25px 0;
        }
        .dest-token{
            .token-info{
                padding: 10px 20px;
            }
            span{
                padding-right: 0;
            }
        }
    }
    .btn-wrapper{
        display: flex;
        justify-content: space-between;
        .cancel-process{
            margin-right: 25px;
        }
    }

    @include screen-max-width(xxsmall) {
        .illustration {
            display: block;

            .token-item {
                width: 100%;
            }

            .token-info {
                width: 110px;
            }

            .token-value {
                width: calc(100% - 110px);
                text-align: right;
            }

            .token-connector {
                margin: 15px 0;
                text-align: center;
                transform: rotate(90deg);
            }
        }
    }
}

.rate-warning-tooltip {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgba(87, 102, 119, 0.14);
    border: solid 1px #1e87f0;
    background-color: #ffffff;
    padding: 15px 20px;
    font-size: 12px;
    position: relative;
    

    &::before, &::after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        @include screen-max-width(medium) {
            right: unset;
            top: unset;
            bottom: 100%;
            left: 50%;
        }
    }

    &::after {
        border-right-color: #ffffff;
        border-width: 10px;
        margin-top: -10px;

        @include screen-max-width(medium) {
            margin-left: -10px;
            margin-top: 0;
            border-right-color: transparent;
            border-bottom-color: #ffffff;
        }
    }

    &::before {
        border-right-color: #1e87f0;
        border-width: 11px;
        margin-top: -11px;

        @include screen-max-width(medium) {
            margin-left: -11px;
            margin-top: 0;
            border-right-color: transparent;
            border-bottom-color: #1e87f0;
        }
    }

    &__description {
        font-size: 11px;
        font-weight: 600;
        color: #222222;
        margin-bottom: 15px;
        text-align: left
    }

    &__order-container {
        margin-bottom: 15px;
        max-height: 100px;
        overflow-y: scroll;
    }

    &__order {
        font-size: 12px;
        font-weight: 500;
        color: #222222;
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    .btn-cancel {
        @extend .btn-cancel;
    }

    .btn-confirm {
        @extend .btn-confirm;
    }

    .btn-cancel, .btn-confirm {
        font-size: 11px;
        width: 110px;
        height: 35px;
        padding: 0 15px;
    }
}

// Override React Tippy
.tippy-popper {
    left: -155px !important;
    top: -150px !important;

    @include screen-max-width(medium) {
        left: 17px !important;
        top: -220px !important;
    }

    .tippy-tooltip {
        background-color: transparent;
    }
}
