/*#limit-order-list{
  &--table{
    th {
      font-weight: 500;
      cursor: pointer; 
      text-align: start;

      img {
        margin-left: 3px;
        height: 15px;
      }

      &.active{
        &.asc:after{
          content: url($image-path + 'limit-order/sort-asc-icon.svg');
          margin: 5px
        }

        &.dsc:after{
          content: url($image-path + 'limit-order/sort-desc-icon.svg');
          margin: 5px
        }
      }
    }
  }
} */