.market-wrapper-container {
  background-color: #f5f5f5;
}
.market {
  padding: 0px 20px;
  padding-top: 35px;

  .for-mobile-only{
    // @include screen-max-width(large){
    //   display: none;
    // }
    &:hover {
      cursor: pointer;
    }
    @include screen-min-width(large){
      display: none !important;
    }
  }
  .for-desktop-only{
    @include screen-max-width(large){
      display: none !important;
    }
  }
  @include screen-min-width(large){
    margin-bottom: 80px;
  }
  .market-control{
    margin-bottom: 20px;
  
    @include screen-max-width(large){
      margin-top: 10px;
      >div{
        &:first-child{
          @include screen-max-width(large){
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
              &:first-child{
                font-size: 23px;
                text-transform: capitalize;
                font-weight: 600;
              }
              &:last-child{
                  display: flex;
                  align-items: center;
              }
            }
          }
        }
        
      }
    }
  }

  .market-mobile {
    margin-top: 5px;
    .table-header {
      .small-6 {
        font-size: 19px;
        display: flex;
        align-items: center;
        padding: 18px 0 15px;
        border-bottom: 1px solid #999999;
        font-weight: 550;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 20px;
          width: 13px;
          margin-right: 10px;
        }
        &.th {
          &-token-pair {
            justify-content: flex-start;
          }
          &-sell-price {
            justify-content: flex-end;
          }
          &-token-pair, &-sell-price {
            &.-sort-desc {
              img {
                content:url(../img/landing/sort-active-orange.svg);
              }
            }
            &.-sort-asc {
              img {
                content:url(../img/landing/sort-active-asc-orange.svg);
              }
            }
          }
        }
      }
    }
    .table-body {
      .table-row {
        padding: 16px 0;
        font-size: 19px;
        border-bottom: solid 0.5px #cccccc;
        &:last-child {
          border-bottom: none;
        }
        .small-6 {
          display: flex;
          align-items: center;
        }
        .token-pair {
          position: relative;
          img {
            margin-right: 10px;
            height: 28px;
          }
          .new-token {
            position: absolute;
            top: -10px;
            right: 35px;
            font-size: 10px;
            height: 16px;
            width: auto;
            color: #fff;
            background: #ee344e;
            line-height: 16px;
            padding: 0 5px;
            font-weight: 600;
            border-radius: 2px;
            min-width: 25px;
            text-align: center;
          }
        }
        .sell-price {
          justify-content: flex-end;
          >div {
            text-align: right;
          }
          .price-usd {
            font-size: 14px;
          }
        }
        .full-info-mobile {
          .in-24h {
            text-align: right;
            font-size: 15px;
            margin-top: 3px;
          }

          .row-1, .row-2, .row-4, .in-24h {
            padding: 0 12px;
          }

          .row-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .change-24h {
              span {
                border-radius: 15px;
                padding: 2px 7px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              span.positive {
                background-color: #0eaba3;
                color: white;
                padding: 2px 18px;
                &:before{
                  background-image: url("../img/v3/arrow_up_white.svg");
                  content: " ";
                  width: 13px;
                  height: 14px;
                  position: relative;
                  left: -6px;                      
                }
                // img {
                //   margin-left: 3px;
                // }
              }
              span.negative {
                background-color: #fef4f6;
                color: #ee344e;
                padding: 2px 18px;
                &:before{
                  background-image: url("../img/v3/ic_arrow_downward.svg");
                  content: " ";
                  width: 13px;
                  height: 14px;
                  position: relative;
                  left: -6px;
                  background-size: 14px;
                }
              }
            }
          }
          .row-2 {
            display: flex;
            justify-content: space-around;
            padding-bottom: 20px;
            .price-info {
              div:first-child {
                font-size: 14px;
                color: #5a5e67;
                letter-spacing: 0.3px;
              }
              .price-eth {
                font-weight: 600;
                color: #222222;
                letter-spacing: normal;
              }
              span {
                color: #666666;
              }
              .price-usd {
                color: #5a5e67;
                font-size: 15px;
              }
            }
            div.split-div {
              width: 1px;
              background-color: #cccccc;
            }
          }
          // .row-3 {

          // }
          .row-4 {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-top: 15px;
            background-color: #f5f5f5;
          }
          
        }
        &.full-info {
          border: none;
          box-shadow: 0 1px 3px #cccccc;
          background-color: white;
          padding-bottom: 0px;
          margin-bottom: 15px;
          .row-4 {
            padding-bottom: 8px;
          }
        }
        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }

  &.container {
    // .search-area {
      // .search-icon {
      //   display: none;
      // }
    // }
    input.search-input {
      // background-image: url(../img/search_icon.svg);
      background-size: auto 50%;
      // text-indent: 40px;
      border: none;
      border-radius: 20px;
      background-color: white;
      padding: 5px 20px;
      background-position: 1.2rem;
      max-width: 700px;
      margin: auto;
      @include screen-max-width(large) {
        max-width: 100%;
      }
    }
  }
  .market-wrapper{
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    text-align: center;
    font-family: Montserrat;
    color: #222222;
    font-weight: 600;
    margin-bottom: 30px;
    // font-weight: 600;
    @include screen-max-width(large) {
      display: none;
    }
  }

  &__header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 90%;
      display: flex;

      .focus-item {
        padding: 13px 15px;
        border: 1px solid #EAEAEA;
        
        div:first-child {
          color: #7A7A7A;
        }
      }

      .header-label {
        font-size: 12px;
        color: $base-color;
        text-transform: uppercase;
        padding-bottom: 5px;
      }

      .search-input {
        // padding: 24px 15px;
        height: 3.15rem;
        width: 100%;
        font-size: 14px;
        // background-position: 98%;
        // border: 1px solid #EAEAEA;
        // text-indent: 0;
        // box-shadow: none;

        &::placeholder {
          color: #7A7A7A;
        }
      }
    }

    &-search {
      width: 100%;
      max-width: 300px;
      margin-right: 20px;
    }

    &-currency {
      width: 100%;


      @include screen-min-width(large){
        max-width: 200px;
      }
      
      
      //.market-choose-currency{
        display: flex;
        align-items: center;

        @include screen-max-width(large){
          margin-top: 20px;
          margin-bottom: 10px;
        }
        a{
          display: block;
          padding: 15px 25px;
          // background-color: #EBEBEB;
          border-bottom: solid 1px #f5f5f5;
          color: #999999 !important;
          @include screen-max-width(large){
            width: 50%;
            text-align: center;
          }

          // &:not(:first-child){
          //   margin-left: 10px;
          // }
          &:hover {
            // background-color: #eee;
            // color: inherit;
            color: #666666;
          }
          &.active {
            border-bottom: solid 1px #EF8102;
            color: #EF8102 !important;
          }
        }
      //}
      
      // .token-selector {
      //   .dropdown {
      //     .focus-item {
      //       img {
      //         content: url(../img/exchange/arrow-down-swap.svg);
      //         transition: 0.3s;
      //       }
      //     }
      //     .dropdown__content {
      //       .select-item {
      //         padding: 10px 0 12px;
      //         box-shadow: none;
      //         border: 1px solid #eee;
      //         border-bottom-left-radius: 4px;
      //         border-bottom-right-radius: 4px;
      //       }
      //     }
      //     &.dropdown--active {
      //       .focus-item {
      //         img {
      //           transform: rotate(180deg);
      //         }
      //       }
      //     }
      //   }
      // }
    }

    &-right {
      @include screen-min-width(large){
        position: absolute;
        top: 70px;
        right: 0px;
      }
      .token-selector{
        z-index: 11;
      }
      // width: 10%;
      // display: flex;
      // justify-content: flex-end;

      > div {
        @include screen-min-width(large){
          margin-top: -15px;
          top: 35px;
        }
      }

      .token-selector {
        .dropdown {
          &.dropdown--active {
            .focus-item {
              img {
                transition: 0.3s;
              }
            }
          }
          &.dropdown {
            img {
              transition: 0.3s;
            }
          }
        }
        .d-flex {
          padding: 0;
          width: 35px;
          height: 35px;
          // border: 1px solid #EAEAEA;
          border: none;
          border-radius: 2px;
          background-color: #F5F5F5;
          justify-content: center;
          @include screen-min-width(large){
            opacity: 0.3;
            transition: 0.3s;
            &:hover {
              opacity: 1;
            }
          }
        }

        .dropdown__content {
          .select-item {
            right: calc(100% - 35px);
            width: 325px;            
            border-radius: 0;
            box-shadow: 0 15px 50px #aaa;

            .setting-header {
              img {
                height: 25px;
                margin: 30px 12px 30px 30px;
              }
              span {
                text-transform: uppercase;
                font-size: 15px;
              }
            }

            .list-setting {
              padding: 30px 50px 20px;
              border-top: 1px solid #ccc;

              .show-item {
                label {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    @include screen-max-width(medium) {
      display: flex;
      flex-direction: column-reverse;

      &-left {
        width: 100%;
      }

      &-search {
        max-width: 50%;
      }

      // &-currency {
      //   max-width: 50%;
      // }

      // &-right {
      //   width: 100%;
      // }
    }

    @include screen-max-width(mid-small) {
      &-left {
        flex-wrap: wrap;
      }

      &-search {
        max-width: 100%;
        margin-right: 0;
      }

      &-currency {
        max-width: 100%;
      }

      // &-right {
      //   > div {
      //     margin-top: 15px
      //   }
      // }
    }
  }

  .market-table {
    margin-bottom: 25px;
    padding-bottom: 15px;
    color: #222;
    position: relative;
    // padding-top: 40px;
    .search-space {
      position: absolute;
      // margin-left: 253px;
      top: 3px;
      z-index: 15;
      left: 0px;
      @include screen-max-width(large) {
        left: unset;
        right: 40px;
        top: -10px;
      }
      // width: 25px;
      // @media only screen and (max-width: 1296px) {
      //   margin-left: 243px;
      // }
      // @include screen-max-width(large){
      //   position: absolute;
      //   top: 6px;
      //   margin-left: unset;
      //   right: 45px;
      // }
      input{
        background-image: none;
        width: 297px;
        height: 55px;
        background-color: #fcfcfe;
        border: none;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19), 0 3px 15px rgba(0,0,0,0.1);
        // position: absolute;
        // top: -38px;
        z-index: 15;
        // left: -265px;
        font-size: 15px;
        padding-left: 15px;
        text-indent: 0;
      }
    }
    .search-symbol {
      height: 35px;
      // width: 35px;
      line-height: 35px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      .search-icon {
        display: none;
      }

      .search-input {
        max-width: 700px;
        margin: auto;
        position: relative;
        &:after{
          content: '';
          background-image: url($image-path +  "v3/search_icon.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 20px;
          width: 20px;
          top: 12px;
          right: 15px;
        }

        @include screen-max-width(large) {
          max-width: none;
        }
      }
      @include screen-max-width(large) {
        margin-top: 20px;
      }
    }
    .symbol-price{
      width: 100%;
      display: flex;
      justify-content: center;
      span{
        width: auto !important;
        padding: 0px !important;
        &:first-child{
          margin-right: 5px;
        }
      }
    }
    .ReactTable {
      border: none;
      //overflow: visible;
      overflow: auto;
      
      .rt-table {
        overflow: initial;
        .rt-thead {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          .rt-resizable-header-content{
            width: 100%;
          }
          .rt-td, .rt-th {
            padding: 0;
          }
          &.-header {
            box-shadow: none;
            border-bottom: 1px solid #cccccc;
            padding: 30px 0 0 0;
            margin: 0 0 15px;
            .rt-th-img {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                padding-right: 10px;
                height: 20px;
                width: 20px;
              }
            }
            .rt-th-first-header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 425px;
              .rt-th-header-title{
                font-size: 23px;
                margin-right: 30px;
                cursor: pointer;
                text-transform: capitalize;
              }
              .rt-th-control{
                display: flex;
                align-items: center;
                justify-content: center;
                >div{
                  &:not(:first-child){
                    margin-left: 10px;
                  }
                }
              }
            }
            @include screen-max-width(large) {
              padding-top: 15px;
              .rt-tr {
                padding: 25px 0;
              }
            }
          }
        }
      }
      .rt-tbody {
        overflow: unset;
        .rt-tr-group {
          border-bottom: none;
          &:first-child {
            .rt-rt {
              margin-top: 25px;
            }
          }
          &:last-child {
            .rt-tr {
              border-bottom: none;
            }
          }
          .rt-tr {
            // margin-top: 10px;
            height: 80px;
            // background-color: $white;
            border-bottom: 0.5px solid #cccccc;
            // box-shadow: 0 2px 5px #eee;
            &:hover {
              box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
              background-color: white;
              cursor: pointer;
            }
            div.rt-td {
              padding-top: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #666666;
              &:first-child {
                @include screen-max-width(large) {
                  max-width: 175px;
                }
              }
              &:nth-child(2n+1) {
                color: #222222;
              }
              span {
                padding: 2px 21px;
                // width: 85px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.negative {
                  // background-color: #FEF4F6;
                  color: #EE344E;
                  font-weight: bold;
                  border-radius: 20px;
                  &:before{
                    background-image: url("../img/v3/ic_arrow_downward.svg");
                    content: " ";
                    width: 16px;
                    height: 17px;
                    position: relative;
                    left: -6px;
                  }
                }
                &.positive {
                  // background-color: #0eaba3;
                  color: #31CB9E;
                  font-weight: bold;
                  border-radius: 20px;
                  &:before{
                    background-image: url("../img/v3/ic_arrow_upward.svg");
                    content: " ";
                    width: 16px;
                    height: 17px;
                    position: relative;
                    left: -6px;              
                  }
                }
                &.zero-value {
                  background: #eee;
                  color: #767677;
                  font-weight: bold;
                }
                img {
                  padding: 3px;
                }
              }
              div.token-pair {
                width: 100%;
                text-align: left;
                padding-left: 10px;
                position: relative;
                >div{
                  position: relative;
                  display: inline-block;
                }
                img {
                  margin-right: 10px;
                  width: 24px;
                  height: 24px;
                  position: relative;
                  top: -2px;
                }
                .new-token {
                  position: absolute;
                  top: -20px;
                  right: 40px;
                  font-size: 9px;
                  height: 16px;
                  width: auto;
                  color: white;
                  background: #EE344E;
                  line-height: 16px;
                  padding: 0px 5px;
                  font-weight: 600;
                  border-radius: 2px;
                  min-width: 25px;
                  text-align: center;
                  @media screen and (max-width: 1296px) {
                    right: 0;
                  }
                }
              }
            }
            // .rt-td:nth-child(1), .rt-td:nth-child(3) {
            //   font-weight: 500;
            // }
          }
        }
      }
      .rt-noData {
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
    .rt-th {
      outline: none;
      border-right: none;
      // padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        @include screen-max-width(large) {
          max-width: 175px;
        }
      }
      &:not(:first-child){
        // padding-left: 10px;
      }
      &.-sort-asc, .-sort-asc {
        box-shadow: none;
        .rt-th-img {
          font-weight: bold;
          img {
            content:url(../img/landing/sort-active-asc-orange.svg);
          }
        }
      }
      &.-sort-desc, .-sort-desc {
        box-shadow: none;
        .rt-th-img {
          img {
            content:url(../img/landing/sort-active-orange.svg);
          }
        }
      }
    }
    .rt-td {
      padding-top: 35px;
      text-align: center;
      border: none;
    }
    .pagination-bottom > div {
      height: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      .-btn {
        margin: auto;
        width: 50%;
        background: #ef8102;
        color: $white;
        &:hover {
          background: #ef8102;
          color: $white;
          box-shadow: 0px 0px 5px #eee;
        }
      }
      @include breakpoint(small only) {
        font-size: 13px;
        padding-top: 30px;
        padding-bottom: 30px;
        .-next, .-previous {
          margin: 0 10px;
        }
        .select-wrap {
          display: none;
        }
      }
    }
    .-center {
      .-pageJump {
        input {
          margin-bottom: 0;
        }
      }
      .select-wrap {
        select {
          margin-bottom: 0;
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      padding: 0 0 0 0;
    }
  }

  .show-more {
    text-align: center;
    @include screen-max-width(medium){
      margin-bottom: 20px;
    }
    button {
      height: 40px;
      width: 220px;
      border: 2px solid #E8EBF2;
      border-radius: 3px;
      color: #222222;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        border-color: #222222;
        &.disabled {
          cursor: default;
          border-color: #E8EBF2;
        }
      }
    }
  }

  .column-label{
    // display: block;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666;
    text-transform: uppercase;
    input {
      position: absolute;
      opacity: 0;
      display: none;
    }
    /* Create a custom checkbox */
    .checkmark {
      margin: 5px 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid #eee;
    }
  
    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      border-color: #F08400;
    }
  
    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .checkmark {
      background-color: #F08400;
      border-color: #F08400;
    }

    .item-title {
      color: #F08400;
    }
  
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
  
    /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
      display: block;
    }
  
    /* Style the checkmark/indicator */
    & .checkmark:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @media only screen and (max-width: 1296px) {
    max-width: 60rem;
  }
}


.market-modal{
  background-color: #f1f5fb !important;
  border-radius: 20px;
  height: auto;
  @include screen-max-width(large){
    border-radius: 0;
  }
}
