.market{
    .market-header{
        padding: 1rem 0;
        margin-bottom: 5px;
    }
    .header-label{
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    .search-input{
        padding: 10px;
        width: 250px;
        font-size: 14px;
    }
}