$title-background-color: #DCF0EC;
$footer-background-color: $title-background-color;
$divider-color: darken($title-background-color, 5);

.ReactModal__Body--open {
  overflow: hidden;
}

.reveal-overlay {
  background-color: rgba($dark-gray, .75);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-wrapper {
  @include screen-max-width(medium) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.input-reveal {
  position: relative;

  .tootip {
    opacity: .4;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 22px;
    margin-top: -11px;
    left: 15px;
    transition: opacity .5s ease-in-out;
    background-image: url($image-path + 'lock.svg');
  }

  .toggle {
    opacity: .4;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    left: unset;
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    background-image: url($image-path + 'unlock-pass.svg');
  }

  &.unlock .toggle {
    background-image: url($image-path + 'lock-pass.svg');
  }

  #promo_code {
    padding-right: 60px;
  }

  #private_key {
    padding-right: 42px;
  }

  .qc-code-content {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

.reveal {
  position: relative;
  overflow: visible;
  border-radius: 3px;
  outline: none;
  background-color: #f6f7fa;
  box-shadow: 0 20px 40px 0 rgba($medium-gray, .2);
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
  max-width: 90%;

  @include screen-max-width(medium) {
    padding: 0;
    left: 0;
    top: 0 !important;
    bottom: 0;
    right: 0;
    transform: none !important;
    min-height: 100vh;
    min-width: 100% !important;
  }

  .custom-modal {
    border: solid 1px #5a5e67;

    @include screen-max-width(medium) {
      height: 100vh;
      border: none;
    }
  }

  .text-center {
    text-align: center;
  }

  &.small {
    width: 300px;
  }

  &.tiny {
    width: 450px;
  }

  &.medium {
    width: 600px;
  }

  &.x-medium {
    width: 700px;
  }

  &.large {
    width: 1200px;
    top: 50px;
    transform: initial;
    margin-bottom: 50px;
  }

  .message {
    margin-bottom: 25px;
  }

  a {
    font-size: 14px;
    color: #EF8102;

    &:hover {
      text-decoration: underline;
    }
  }

  .x {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2rem;
    color: #aaa;
    z-index: 10;
    cursor: pointer;
  }

  .title {
    font-size: 1.8rem;
    padding-top: 35px;
    margin-bottom: 20px;
  }

  .overlap {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 20px 45px 40px;
    align-items: center;

    &--single {
      justify-content: center;
    }

    span{
      &:not(.error-text){
        color: white;
      }
    }
    .button {
      margin: 0;
    }
  }

  .content {
    .message-waiting,
    .message-error {
      padding: 15px 45px;
      font-size: 14px;

      @include screen-max-width(medium) {
        padding: 15px 20px;
      }
    }

    &.with-overlap {
      padding-bottom: 25px;

      &.tx-loading {
        padding-bottom: 25px;
      }
    }

    .block-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;

      img.loading {
        height: 21px;
        float: right;
        margin-left: 10px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.7;
    }
    .gas-configed{
      max-width: 100%;
      white-space: nowrap;
      text-align: left;
      font-size: 0.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      >div{
        &:first-child{
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 7px;
        }
      }
      .total-fee {
        font-size: 16px;
        color: #141927;
        font-weight: 600;
        margin-top: 3px;
        white-space: normal;

        &__number {
          margin-right: 15px;
          letter-spacing: 1px;
        }

        &__formula {
          font-size: 13px;
          font-weight: normal;
        }

        @include screen-max-width(mid-small) {
          &__formula {
            display: block;
          }
        }
      }
    }

    .tx-fee-warning {
      padding: 15px;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      white-space: normal;

      img {
        margin-right: 6px;
        position: relative;
        bottom: -1px;
      }
    }

    hr{
      border-color: #a5a5a5;
    }
  
  }
  .footer {
    border-top: 1px solid $divider-color;
    padding: 25px 10px;
    background-color: $footer-background-color;

    &.with-overlap {
      padding-top: 45px;
    }
    .action {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark-gray;
      letter-spacing: .5px;
    }
  }

  &.promocode {
    padding: 0;
  }
}

.exchange-caption {
  .error-text{
    display: block;
    color: $error-color;
  }
  .info-text{
    display: block;
    color: #a5a5a5;
    margin-bottom: 15px;
  }
}

.confirm-exchange-modal{
  .message{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .modal-title{
    font-size: 0.8rem;
    @include screen-max-width(medium) {
      padding: 0 20px;
    }
  }

  .amount {
    display: grid;
    grid-template-columns: 1fr 35px 1fr;
    grid-gap: 10px;
    border-radius: 4px;
    padding: 5px 35px;

    @include screen-max-width(medium) {
      grid-gap: 5px;
      padding: 5px 15px;
    }

    .amount-item{
      padding: 10px;

      .item-icon {
        display: flex;
        justify-content: center;
      }

      .rc-label {
        margin-bottom: 10px;
        color: #ef8102;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -0.4px;
        line-height: 1.17;

        &-icon {
          display: flex;
          justify-content: center;
        }
      }
      .rc-info {
        font-size: 20px;
        letter-spacing: -0.5px;
        display: flex;
        flex-wrap: wrap;

        &-promo-balance {
          max-width: 90px;
        }

        >div:first-child {
          margin-right: 5px;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        
        @include screen-max-width(mid-small) {
          // display: block;
          >div {
            max-width: 100%;
            margin-right: 0;
          }
        }
      }
    }      

    .amount-left{
      font-weight: 600;
    }
    .amount-right{
      font-weight: 600;
    }

    .amount-icon{
      @include screen-max-width(medium) {
        text-align: center !important;
        margin-top: 5px;
      }
      img{
        max-width: 28px;
        max-height: 28px;
      }
    }
    .amount-detail{
      display: grid;
      grid-template-rows: 1fr 1fr;
      @include screen-max-width(medium) {
        // text-align: center !important;
        margin-top: 10px;
      }
      >span{
        &:first-child{
          margin-right: 5px;
        }
      }
    }

    .space {
      position: relative;
      width: 30px;
      display: flex;
      justify-self: center;
      img{
        width: 100%;
      }

      &-arrow-icon {
        max-width: 80px;
        width: auto;

        @include screen-max-width(medium) {
          max-width: 90px;
        }
      }
      
      &--padding {
        padding: 12px 8px;
      }
    }
  }

  .amount-promo-payment {
    // override properties in .amount 
    padding: 10px 15px; 
    min-height: 100px;
    display: grid;
    grid-template-columns: 120px 1fr 110px 1fr 75px;
    grid-gap: 0;

    @include screen-max-width(medium) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &-with-icon {
      grid-template-columns: auto 1fr 80px 60px 90px;

      @include screen-max-width(medium) {
        grid-template-columns: 110px auto 80px 60px 90px;
      }
    }

    .amount-item {
      width: 100%;

      &-promo-balance {
        // max-width: 130px;
        // min-width: 80px;
      }

      .rc-info {
        font-size: 16px;
      }
    }
  }

  .description{
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include screen-max-width(medium) {
      padding: 0 20px;
    }
  }

  .space-container {
    font-size: 12px;
    color: #666666;
    font-weight: 600;
    position: relative;

    &-grid-align {
      @include screen-max-width(medium) {
        grid-column-start: 2;
      }
    }

    .text-above {
      position: absolute;
      top: 10px;
    }

    .text-below {
      position: absolute;
      top: 50px;
      line-height: 1.17
    }

    .space {
      position: absolute;
      top: 30px;
      padding: 0;
    }
  }

  .title-container {

    @include screen-min-width(medium) {
      padding: 0 45px;
    }

    
    display: grid;
    grid-template-columns: 1fr 1fr;



    >div:nth-child(2) {
      border-left: 2px solid #ccc9c9;
      padding-left: 30px;
    }
  }
  
  .title-description{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;

    &-wallet-address {
      color: #5a5e67;
      margin-top: 7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
      >span:nth-child(2) {
        padding: 0 3px;
      }
    }

    &-promo-payment {
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 600;
      padding: 0 45px;

      @include screen-max-width(medium) {
        padding: 0 20px;
      }
    }

    &-expired-notification {
      color: #1e87f0;
      font-size: 13px;
      font-weight: 500;
      margin: 10px 0;
      padding: 0 45px;
      display: flex;
      align-items: center;

      > img {
        padding-bottom: 4px;
        margin-right: 3px;
      }

      @include screen-max-width(medium) {
        padding: 0;
        align-items: flex-start;
      }
    }
  }
 
}

.confirm-modal{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  background-color: #f6f7fa !important;
  border-radius: 3px;

  @include screen-max-width(medium) {
    border-radius: 0;
  }

  @include screen-min-width(large) {
    width: 630px;
  }

  &__cancel-order {
    @include screen-min-width(large) {
      width: 700px;
    }
  }

  .transfer-title {
    padding: 25px 45px;
    background-color: #EBECF2;
    @include screen-max-width(medium) {
      padding: 25px 20px;
    }
  }

  .title {
    padding: 45px 45px 0 45px;
    margin: 30px 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 0.86;
    letter-spacing: -0.1px;

    @include screen-min-width(medium) {
      margin-top: 20px;
    }
  }

  .recap-sum-up {
    font-weight: 600;
    line-height: 0.75;
  }

  .recap-transfer {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #999;

    &__to {
      margin: 0 8px;
    }

    &__dest {
      font-weight: bold;
    }
  }

  .overlap {
    display: inherit;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 0 45px;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    span {
      &:not(.error-text){
        color: #666666;
        font-size: 14px;
        letter-spacing: normal;
      }
    }

    .type-password {
      font-size: 16px;
      font-weight: 600;
      color: #666666;
      margin-bottom: 15px;
    }

    .button {
      display: block;
      min-width: 150px;
      border-radius: 3px;
      padding: 14px 30px 14px 30px;
      color: #fff;
      font-size: 14px;
      background-color: #EF8102;
      font-weight: bold;
      margin: 0;
      cursor: pointer;
      position: relative;
      transition: all .3s;
      border: none;
      outline: none;
      box-shadow: none;
      text-align: center;

      &:hover {
        background-color: $color-swap-light;
      }

      &.cancel-process {
        background-color: #a2a7b2;
        color: white;
        margin-right: 20px;
        &::after {
          content: none;
        }
        &:hover {
          background-color: #6f6f6f;
        }
      }

      &.disabled-button {
        pointer-events: none;
        opacity: 0.6;
      }

      @include screen-max-width(medium){
        min-width: 125px;
      }
    }

    @include screen-max-width(medium){
      padding: 0 20px;
    }
  }

  .content {
    &.with-overlap {
      padding-bottom: 25px;
    }

    .block-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
      img.loading {
        height: 21px;
        float: right;
        margin-left: 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.7;
    }

    .gas-configed {
      white-space: nowrap;
      text-align: left;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 1rem;

      .row {
        &:first-child {
          margin-bottom: 3px;
        }
      }
      
      @include screen-min-width(medium){
        padding: 18px 45px 10px;
        margin: 0 auto;
      }

      @include screen-max-width(medium){
        margin-top: 20px;
      }

      .font-w-b{
        font-size: 1rem;
        line-height: 1.03;
        color: #666666;
        padding-bottom: 10px;
        font-weight: normal;
      }
      .font-w-i{
        font-size: 0.8rem;
        line-height: 1.03;
        color: #666666;
        // padding-bottom: 10px;
      }
    }
    .des{
      display: flex;
      // margin-left: 10px;
      margin-top: 20px;

      img {
        width: 18px;
        height: 18px;
        margin-right: 30px;
      }

      .description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.8px;
      }
    }
    @include screen-max-width(medium){
      .title, .gas-configed {
        padding: 0 20px;
      }
      .confirm-exchange-modal {
        .title-description {
          padding: 0 20px;
        }
        .amount {
          border-radius: 0;
        }
      }
    }
  }
 
  #passphrase{
    background-color: #ffffff;
    color: #141927;
    text-align: left;
    box-shadow: none;
    border: solid 1px #e5e5e5;
    border-radius: 23px;
    padding-left: 50px;
    height: 45px;

    &.security {
      font-family: 'text-security-disc';
      font-size: 14px;
    }
  }

  .password-input{
    text-align: left;
    width: 100%;
    >span{
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    
  }

  .input-confirm {
    padding: 25px 0;
    display: flex;
    justify-content: flex-end;

    &--single {
      display: block;
    }

    &--approve {
      width: 100%;
      text-align: center;
      //justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      padding: 35px 0;

      div:first-child{
        margin-right: 10px;
      }

      .button {
        max-width: 200px;
      }
    }
  }

  .password-input {
    margin-top: 10px;

    &.error {
      #passphrase {
        border-color: #ee344e;
        background-color: #ffe7eb;
      }
    }

    @include screen-min-width(medium){
      .process-submit{
        float: right;
      }
    }

    @include screen-max-width(medium){
      .process-submit{
        margin-top: 20px;
        width: 100%;
      }
    }
  }

  .approve-modal {
    .title {
      margin-top: 40px;
      text-align: left;

      @include screen-max-width(medium) {
        padding-left: 20px;
      }
    }

    .message{
      font-size: 14px;
      margin: 1rem 45px 25px;
      font-weight: normal;
      @include screen-max-width(medium) {
        margin: 1rem 20px 25px;
      }
    }
    .tx-title{
      text-align: left;
      margin: 0 45px;
      padding: 0 15px;

      .address-info {
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 4px;
        padding: 15px 0;
        margin-right: 0;

        div {
          &:first-child {
            color: #ef8102;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 7px;
          }

          &:last-child {
            font-size: 14px;
            font-weight: normal;
            margin-right: 10px;
          }
        }
        @include screen-max-width(medium) {
          display: block;
          padding: 0;
          div {
            &:last-child {
              margin-top: 10px;
              word-wrap: break-word;
            }
          }
        }
      }
    }
    .address{
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      >span{ 
        &:first-child{
          color: #aaa;
          font-weight: bold;
        }
        &:last-child{
          margin-right: 10px;
          font-weight: bold;
        }
      } 
    }
    .content{
      max-width: unset;
    }
    .gas-configed{
      margin-top: 1rem;
    }

    @include screen-max-width(medium) {
      padding-bottom: 100px;

      .overlap {
        position: fixed;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.reveal.transaction-loading {
  @include screen-min-width(medium) {
    width: 650px;
    //padding: 1rem 0 0 0;
  }
}
.transaction-loading {
  .title {
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -0.2px;
    margin-bottom: 30px;
    text-align: center;

    .broadcast-title-container {
      display: flex;
      justify-content: center;    
      align-items: center;      
    }

    .title-status {
      display: flex;
      align-items: center;
      font-size: 28px
    }

    .icon {
      width: 40px;
      height: 40px;
      margin: 0 15px 0 0;
      background-size: contain;
      background-repeat: no-repeat;

      &--broadcasted {
        background-image: url($image-path + 'broadcasted-circle.svg');
      }

      &--failed {
        background-image: url($image-path + 'failed.svg');
      }

      &--success {
        background-image: url($image-path + 'checked-circle.svg');
      }
    }
    .title {
      margin-top: 12px;
      margin-bottom: -15px;
    }
  }

  .final-status {
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.1px;
    font-weight: 600 !important;
    line-height: 1.71;
  }
  .tx-loading {
    padding: 20px 0 60px 0;
    ul.broadcast-steps {
      li.pending {
        h4 {
          justify-content: center;
        }
      }
      .li.failed {
        text-align: center;
      }
    }
  }
  .tx-title {
    .tx-title-text, .tx-hash {
      margin-right: 0;
    }
  }
}

.password-input{
  text-align: left;
  >span{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

.approve-modal{
  .message{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .address{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
   >span{
     &:first-child{
       color: #aaa;
       font-weight: bold;
     }
     &:last-child{
       margin-right: 10px;
       font-weight: bold;
     }
   } 
  }
  .content{
    max-width: 450px;
  }
  .gas-configed{
    margin-top: 2rem;
  }
}


.trading_view_modal_wrapper{
  padding: 10px;
  .trading-view-modal{
      p.trading-title{
        margin-top: 50px;
        text-align: center;
        color: #666;        
      }
  }
}

// css for promo code
#promocode-modal {
  .title {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding-top: 50px;
    line-height: 0.86;
    margin-bottom: 30px;
    letter-spacing: -0.1px;
    padding-left: 45px;
    .error {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      color: #ee344e;
      margin-top: 15px;
    }
  }
  .promo-btn{
    button{
      &.disable{
        cursor: initial;
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }
  .content {
    padding: 16px 30px;
    input.text-center {
      width: 100%;
      border: solid 1px #e5e5e5;
      outline: none;
      box-shadow: none;
      height: 55px;
      font-size: 16px;
      text-align: unset;
      margin-bottom: 20px;
      padding-left: 35px;
      padding-right: 35px;
      border-radius: 3px;
      &::placeholder {
        color: #7f7f7f;
        line-height: 1.25;
        letter-spacing: normal;
      }
    }
    .capcha-wrapper {
      padding: 10px 0;
    }
    .label-text {
      font-size: 16px;
      color: #222222;
      &-bottom {
        margin-bottom: 20px;
      }
    }
    .capcha-wrapper{
      #g-recaptcha{
        >div{
          margin: 0 auto;
        }
      }

      .captcha-hide {
        display: none;
      }
    }
    label.error {
      .input-reveal {
        position: relative;
        &::after {
          content: '';
          background: url(../img/exchange/red-exclaimed.svg) center no-repeat;
          background-size: contain;
          height: 15px;
          width: 15px;
          position: absolute;
          right: 14px;
          top: 18px;
        }
      }
      input.text-center {
        margin-bottom: 10px;
        border-color: #ee344e;
        color: #ee344e;
        &::placeholder {
          color: #ee344e;
        }
      }
      .error-text {
        margin-bottom: 10px;
      }
    }
  }

  .overlap {
    padding: 30px 45px 35px;

    button {
      width: 100%;
      max-width: 150px;
      box-shadow: none;
      text-transform: capitalize;
      letter-spacing: 0.5px;

      &.cancel-buttom {
        background-color: #a2a7b2;
        margin-right: 20px;
      }
    }

    @include screen-max-width(medium) {
      padding-right: 30px;
      padding-left: 30px;
      button {
        max-width: 125px;
      }
    }
  }

  $spCol: #ef8102;
  $spBallSize: 15px;
  $spOpacity: 0.4;
  .loading-3balls, .loading-3balls:before, .loading-3balls:after {
    border-radius: 50%;
    background-color: $spCol;
    width: $spBallSize;
    height: $spBallSize;
    transform-origin: center center;
    display: inline-block;
  }
  .loading-3balls {
    position: relative;
    left: 50%;
    margin-bottom: $spBallSize;
    background-color: rgba($spCol,1);
    opacity: 1;
    animation: spScaleAlpha 1s infinite linear;
  }
  .loading-3balls:before, .loading-3balls:after {
    content: '';
    position: absolute;
    top: 0;
    opacity: 0.25;
  }
  .loading-3balls:before {
    left: 30px;
    animation: spScaleAlphaBefore 1s infinite linear;
  }
  .loading-3balls:after {
    left: -30px;
    animation: spScaleAlphaAfter 1s infinite linear;
  }
  @-webkit-keyframes spScaleAlpha {
    0% { opacity: 1; }
    33% { opacity: $spOpacity; }
    66% { opacity: $spOpacity; }
    100% { opacity: 1; }
  }
  @keyframes spScaleAlpha {
    0% { opacity: 1; }
    33% {  opacity: $spOpacity; }
    66% { opacity: $spOpacity; }
    100% {  opacity: 1; }
  }
  @-webkit-keyframes spScaleAlphaBefore {
    0% { opacity: $spOpacity; }
    33% { opacity: 1; }
    66% { opacity: $spOpacity; }
  }
  @keyframes spScaleAlphaBefore {
    0% { opacity: $spOpacity; }
    33% { opacity: 1; }
    66% { opacity: $spOpacity; }
  }
  @-webkit-keyframes spScaleAlphaAfter {
    33% { opacity: $spOpacity; }
    66% { opacity: 1; }
    100% { opacity: $spOpacity; }
  }
  @keyframes spScaleAlphaAfter {
    33% { opacity: $spOpacity; }
    66% { opacity: 1; }
    100% { opacity: $spOpacity; }
  }
}

.modal-message {
  font-size: 14px;
  padding: 15px 0 10px;
}

.modal-error {
  font-size: 14px;
  color: $error-color;
  padding: 15px 0 10px;

  &.metamask {
    height: 65px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;

    &.full{
      white-space: normal;
    }

    + .show-full{
      font-size: 0.8em;
      margin-top: -20px;
      margin-bottom: 15px;
      cursor: pointer;
      color: #ff5d00;
      font-style: italic;
    }
  }

  @include screen-max-width(medium) {
    padding: 20px 20px 10px;
  }
}

.modal-info {
  &__warning {
    text-align: center;
    margin: 15px 0;
    display: block;

    img {
      margin-right: 5px;
      position: relative;
      bottom: -2px;
    }

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

#waiting {
  &.ledger{
    .caption{
      max-width: none;
      > div{
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
        color: #777;
      }
    }
  }
  background-color: rgba($dark-gray, .5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  &.pending{
    background-color: rgba($white, .3);
    h4{
      font-size: 1.2rem;
    }
  }
  .caption {
    box-shadow: 0 20px 40px 0 rgba($medium-gray, .2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: $medium-gray;
    font-size: 14px;
    text-align: center;
    background-color: white;
    padding: 60px 30px 30px 30px;
    max-width: 300px;
    border-radius: 3px;
    background-image: url(../img/waiting.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center top 30px;
    > div{
      opacity: 0;
      transition: opacity .5s;
      &:not(:empty){
        opacity: 1;
      }
    }
  }
}
.cancel-order-modal {
  padding: 0;
}

.ledger-error-dest{
  padding: 0 20px;
  text-align: left;
}
.wallet-connect-qr{
  .content{
    >div:first-child{
      text-align: center;

      canvas{
        border: 10px solid white;
      }
    }
    .message{
      width: 300px;
      margin: 0 auto;

      div{
        margin-top: 10px;

        span{
          padding: 3px 8px;
          border-radius: 20px;
        }
      }
    }
  }
}

.modal-content {
  padding: 0 45px;

  &__title {
    font-weight: 400;
    font-size: 14px;
  }

  &__text-warning {
    font-size: 14px;
    padding: 10px 16px;
    font-weight: 400;
    border-radius: 3px;
    color: $error-color;
    margin-top: 5px;
    line-height: 1.4;
  }

  .token-compare__item {
    font-size: 16px;
    position: relative;
    bottom: 5px;
  }

  @include screen-max-width(medium) {
    padding: 0 20px;
  }
}