$title-background-color: #DCF0EC;
$footer-background-color: $title-background-color;
$divider-color: darken($title-background-color, 5);

.reveal-overlay {
  background-color: rgba($dark-gray, .75);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.reveal {
  position: relative;
  overflow: visible;
  border-radius: 0;
  //color: $white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  outline: none;
  // background-color: $k-primary;
  // border: 2px solid $white;
  box-shadow: 0 20px 40px 0 rgba($medium-gray, .2);
  @include breakpoint(small only) {
    // top: 0 !important;
    height: auto;
  }
  .message {
    margin-bottom: 25px;
  }
  a{
    color: #00ffd6;
    &.x {
      display: block;
      position: absolute;
      right: 20px;
      top: 0px;
      font-size: 3rem;
      color: #aaa;
    //color: $white;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #141927;
    // font-weight: bold;
    // font-size: 1.8rem;
    padding: 50px 50px 0px 50px;
  //  background-color: $k-primary-darker;
  }
  
  .overlap {
    width: 100%;
    text-align: left;
    // display: flex;
    // justify-content: space-between;
    background-color: #f5f5f5;
    padding: 0px 50px 50px 30px;
    align-items: center;
    .img{
      text-align: center;
      padding-top: 20px;
    }
    img{
      padding: 20px;
    }
    span{
      &:not(.error-text){
        // color: white;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        color: #666666;
      }
    }
    .type-password{
      font-size: 14px;
      color: #666666;
    }
    .button {
      border-radius: 3px;
      padding: 14px 50px 14px 20px;
      color: #fff;
      font-size: 14px;
      background-color: $swap-color;
      font-weight: bold;
      margin: 0;
      cursor: pointer;
      position: relative;
      transition: all .3s;

      &::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 28px;
        right: 11px;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.1) url($image-path + 'arrow-right-thick.svg') center center no-repeat;
      }
      
    }
  }
  .content {
    padding: 0 50px;
    // padding: 20px 10px;
    // @include breakpoint(medium) {
    //   padding: 15px;
    // }
    &.with-overlap {
      padding-bottom: 25px;
    }
    .block-title {
      @include clearfix;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
      img.loading {
        height: 21px;
        float: right;
        margin-left: 10px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.7;
    }
    .gas-configed{
      // width: 270px;
      max-width: 100%;
      white-space: nowrap;
      text-align: left;
      font-size: 0.8rem;
      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 1rem;
      opacity: 0.77;
      border: solid 1px #ebebeb;
      padding: 25px;
      margin-left: 10px;
      >div{
        &:first-child{
          margin-bottom: 0.6rem;
        }
      }
      .font-w-b{
        font-size: 0.8rem;
        line-height: 1.03;
        color: #666666;
      }
      .font-w-i{
        font-size: 0.8rem;
        line-height: 1.03;
        color: #666666;
      }
    }
    .des{
      display: flex;
      margin-left: 10px;
      img{
        padding-right: 10px;
        padding-top: 6px;
      }
      .description{
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.8px;
        color: #999999;
      }
    }
    hr{
      border-color: #a5a5a5;
    }
    .modal-error{
      font-size: 0.9em;
      margin-bottom: 25px;
      color: $alert-color;
      border-top: 1px solid #a5a5a5;
      padding-top: 24px;
      &.metamask{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.full{
          white-space: normal;
        }
        + .show-full{
          font-size: 0.8em;
          margin-top: -20px;
          margin-bottom: 15px;
          cursor: pointer;
          color: #ff5d00;
          font-style: italic;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid $divider-color;
    padding: 25px 10px;
    background-color: $footer-background-color;
    @include breakpoint(medium) {
      padding: 15px;
    }
    &.with-overlap {
      padding-top: 45px;
    }
    .action {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark-gray;
      letter-spacing: .5px;
    }
  }
}

#exchange-from-token-modal,
#exchange-to-token-modal,
#transfer-from-token-modal {
  @include breakpoint(medium) {
    max-width: 860px;
  }
}

#passphrase-modal {
  @include breakpoint(medium) {
    max-width: 360px;
  }
}

#switch-trezor-address-modal {
  @include breakpoint(medium) {
    max-width: 360px;
  }
}

#select-trezor-address-modal {
  @include breakpoint(medium) {
    max-width: 860px;
  }
}

#request-trezor-access-modal {
  @include breakpoint(medium) {
    max-width: 400px;
  }
}

.exchange-caption {
  .error-text{
    display: block;
    color: #ff5d00;
  }
  .info-text{
    display: block;
    color: #a5a5a5;
    margin-bottom: 15px;
  }
}


.confirm-exchange-modal{
  .message{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .modal-title{
    font-size: 0.8rem;
  }
  .amount{
    display: flex;
    margin-top: 0.8rem;
    justify-content: space-between;
    .amount-item{
      width: 100%;
      // height: 50px;
      // padding-bottom: 20px;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      background-color: #ffffff;
      border: solid 0.8px rgba(204, 204, 204, 0.72);
      border-radius: 1px;
      // text-align: center;
      // padding: 10px;
      // width: 45%;
      // background-color: #F2FBF4;
      // color: #A8CEB9;
      // font-size: 1.2rem;
      // border: 1px solid #A8CEB9;
      .d-flex{
        padding: 10px 10px 10px 20px;
        span{
          padding-left: 10px;
        }
      }
    }
    .amount-left{
      margin-right: -15px;
    }
    .amount-right{
      margin-left: -15px;
    }
    .space{
      position: relative;
      padding-top: 4px;
      img{
        width: 70px;
      }
    }     
  }
  
  .title-description{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.92;
    color: #666666;
    padding-top: 10px;
    padding-bottom: 35px;
  }
}
#passphrase{
  background-color: #ffffff;
  color: #141927;
  // width: 250px;
  text-align: left;
  border: none;
  box-shadow: none;
  padding-bottom: 20px;
  &.security{
    font-family: 'text-security-disc';
    font-size: 14px;
  }
}
.password-input{
  text-align: left;
  width: 100%;
  >span{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
}
.input-confirm{
  padding: 50px 0px 0px 0px;
}
.input-passpharse{
  // justify-content: space-between;
  margin-top: 10px;
  // display: flex;
  .input-reveal{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    input{
      background-color: #ffffff;
      font-size: 14px;
      font-style: italic;
      line-height: 1.43;
      color: #141927;
    }
    .toggle {
      opacity: .4;
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contains;
      background-position: center;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 12px;
      left: unset;
      -webkit-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      background-image: url(../img/lock-pass.svg);
    }
    &.unlock .toggle {
      background-image: url(../img/unlock-pass.svg);
    }
    .tootip{
      opacity: .4;
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contains;
      background-position: center;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 12px;
      -webkit-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      background-image: url(../img/toot-tip-pass.svg);
    }
  }
}

.approve-modal{
  .message{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .address{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
   >span{
     &:first-child{
       color: #aaa;
       font-weight: bold;
     }
     &:last-child{
       margin-right: 10px;
       font-weight: bold;
     }
   } 
  }
  .content{
    max-width: 450px;
  }
  .gas-configed{
    margin-top: 2rem;
  }
}


.trading_view_modal_wrapper{
  padding: 10px;
  .trading-view-modal{
      p.trading-title{
        margin-top: 50px;
        text-align: center;
        color: #666;
        font-weight: 600;
      }
  }
}