.Pagination {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #prev:after{
      content: '\2039';
      color: $dark-text;
      width: 10px;
      height: 10px
    }
    #next:after{
      content: '\203a';
      color: $dark-text;
      width: 10px;
      height: 10px
    }
  }

  &__count {
    font-size: 13px;
    padding: 0 10px;
  }

  &__page-selection {
    display: flex;
    align-items: center;
  }

  &__page-item {
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  &__button {
    cursor: pointer;
    padding: 0 10px;
    &--prev:after{
      content: '\2039';
      color: $dark-text;
      width: 10px;
      height: 10px
    }
    &--next:after{
      content: '\203a';
      color: $dark-text;
      width: 10px;
      height: 10px
    }
  }


}