.portfolio {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;

  &__left {
    width: 68%;
  }

  &__right {
    width: 30%;
    padding-top: 0 !important;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__item {
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 58px -20px rgba(0, 0, 0, 0.17);
  }

  &__summary {
    display: flex;
    justify-content: space-between;
  }

  &__account {
    width: 52%;

    &-top,
    &-bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-top {
      border-bottom: 1px solid $grey-light;
      padding-bottom: 20px;

      &-item {
        width: 55%;

        &:first-child {
          width: 45%;
        }
      }
    }

    &-bot {
      padding-top: 20px;
    }

    &-wallet {
      display: flex;
      font-size: 14px;
      font-weight: 400;
    }

    &-type {
      margin-right: 10px;
    }

    &-address {
      &:hover {
        text-decoration: underline;
      }
    }

    &-reimport {
      font-size: 12px;
      text-transform: uppercase;
      color: $blue-light;
      font-weight: 500;
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $text-blue;
      }
    }

    &-txt {
      font-size: 14px;
      font-weight: 400;
    }

    &-txt-small {
      font-size: 10px;
      font-weight: 300;
      font-style: italic;
      margin-left: 7px;
    }

    &-txt-big {
      font-size: 20px;
      font-weight: 400;
    }

    &-tag {
      font-size: 14px;
      font-weight: 400;
      border-radius: 3px;
      padding: 5px 10px;
      border: 1px solid;
      margin-left: 15px;
      position: relative;
      bottom: 6px;
      cursor: pointer;
      float: right;
      transition: all .3s;
    }

    &-change {
      font-size: 12px;
      font-weight: 400;
      margin-left: 5px;

      &--positive {
        color: $text-green;
      }

      &--negative {
        color: $error-color;
      }
    }
  }

  &__equity {
    width: 46%;
  }

  &__performance {
    &-chart {
      width: 100%;
    }
  }

  &__history {

  }

  &__tx {
    &-header {
      padding: 12px 16px;
      font-size: 14px;
      font-weight: 500;
    }

    &-body {
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
    }

    &-left {
      display: flex;
    }

    &-right {

    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &--swap {
        background-image: url($image-path + 'icons/tx-swap.svg');
      }

      &--receive {
        background-image: url($image-path + 'icons/tx-receive.svg');
      }

      &--send {
        background-image: url($image-path + 'icons/tx-send.svg');
      }

      &--limit-order {
        background-image: url($image-path + 'icons/tx-limit-order.svg');
      }

      &--approve {
        background-image: url($image-path + 'icons/tx-approve.svg');
      }
    }

    &-content {
      > div {
        margin-bottom: 5px;
      }
    }

    &-bold,
    &-light {
      font-weight: 500;
    }

    &-bold {
      font-size: 14px;
    }

    &-light {
      font-size: 12px;
    }

    &-type,
    &-status {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-type {
      margin-bottom: 5px;
    }

    &-status {
      &--failed {
        color: $error-color;
      }
    }
  }

  &__not-found {
    font-size: 13px;
    font-weight: 400;
    padding: 8px 15px;
    background-color: $color-swap-light;
    display: inline-block;
    color: white;
    border-radius: 3px;
  }

  .import-account .container {
    padding: 0;
  }
}