#quote-market {
  padding: 1.5em;
  font-size: 14px;
  font-weight: 500;

  .up {
      color: #31cb9e
  }

  .down {
    color: #fa6566
  }

  .star {
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-image: url($image-path + 'common/star.svg');
    background-repeat: no-repeat;

    &--title {
      position: relative;
      top: 3px;
    }
  }

  .star.active {
    background-image: url($image-path + 'common/star_active.svg');
  }

  div#container {
    /*height: 100%;
    overflow-y: auto;*/
  }

  .rate-loading {
    text-align: center;
  }

  #panel {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    #quote_panel {
      width: 100%;
      display: inline-block;
      cursor: pointer;
      margin-top: 5px;
      div{
        display: inline-block;
      }
      span {
        margin-left: 20px;
        padding-bottom: 4px;
        font-weight: 400;
      }

      span.active {
        transition: border-bottom .15s ease-in-out;
        border-bottom: solid 3px #ff9008;

        i {
          color: #ff9008
        }
      }
    };

    #search_panel {
      float: right;
      width: 30%;
      display: inline-block;

      input {
        width: 100%;
        color: white;
        background: rgba(0,0,0,0);
        border: none;
        padding-right: 3em;
        background-image: url($image-path + 'common/icon-search-gray.svg');
        background-position: right 0px;
        background-repeat: no-repeat;
        background-size: 15px;
        padding: 0 0 10px 0;
        cursor: pointer;
        border-bottom: 1px solid transparent;
      };

      input:focus {
        box-shadow: none;
        outline: none;
        border-color: white;
      };
    }
  }
  .table-th {
    margin: 1em 0 5px 30px;

    div{
      cursor: pointer;
      display: inline-block;
      width: 82px;
      .active{
          &.asc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-asc-icon.svg') ;
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.dsc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-desc-icon.svg');
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
    }
  }

  .table{
    margin-left: -5px;
    cursor: pointer;
    .table__header{
      margin-right: 10px;
    }
    .table__body{
      display: block;
      height: 300px;
      overflow-y: auto;
      width: 100%;
      .table__row{
        .overlay{
          position: absolute;
          width: 320px;
          height: 32px;
          margin-left: 30px;
          z-index: 10;
          margin-top: -0.5em;
        }

        &:hover{
          background: rgba(225, 228, 235, 0.3);
          transition-duration: 0.3s;
        }
      }
    }
    .table__row{
      display: flex;
      justify-content: space-between;
      margin-top: 0.5em;
      padding: 0.5em;
      position: relative;

      .c0{
        width: 30px;
      }
      .c1{
        width: 100px;
      }
      .c2{
        width: 82px;
      }
      .c3{
        width: 82px;
      }
      .c4{
        width: 82px;
      }
      span{
        &.active{
          &.asc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-asc-icon.svg') ;
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.dsc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-desc-icon.svg');
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
