#quote-market {
  padding: 1.5em;
  font-size: 14px;
  font-weight: 500;

  .up {
      color: #31cb9e
  }

  .down {
    color: #fa6566
  }

  .star {
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-image: url($image-path + 'common/star.svg');
    background-repeat: no-repeat;
    display: inline-block;

  }

  .star.active {
    background-image: url($image-path + 'common/star_active.svg');
    border-bottom: none!important;
  }

  div#container {
    /*height: 100%;
    overflow-y: auto;*/
  }

  .rate-loading {
    text-align: center;
  }

  #panel {
    //padding-bottom: 0px;
    //border-bottom-style: solid;
    //border-bottom-width: 2px;
    //height: 30px;
    .instruction{
      font-size: 12px;
      font-style: italic;
      margin-bottom: 15px;
      font-weight: 300;
    }
    #quote_panel {
      width: 100%;
      margin-bottom: 10px;

      @include screen-min-width(medium){
        width: 80%;
      }

      .quote_item{
        width: 70px;
        position: relative;
        display: inline-block;
        padding: 8px;
        margin-right: 10px;
        border-radius: 3px;
        top: -2px;
        border: solid 1px rgba(0,0,0,0);
      }

      .quote_item_2{
        position: relative;
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        border-radius: 3px;
        border: solid 1px rgba(0,0,0,0);
      }

      span {
        font-weight: 400;
        cursor: pointer;

      }
      span:nth-child(2){
        margin-left: 0px;
      }

      .quote_item.active, .quote_item_2.active {
        //transition: border-bottom .15s ease-in-out;
        border: solid 1px #ff9008;

        i {
          color: #ff9008
        }
      }
      .dropdown__trigger{
        span:nth-child(1){
          padding: 10px 30px 10px 0;
        }
        .drop-down{
          position: absolute;
          right: 5px;
        }
      }
    };

    #search_panel {
      display: inline;

      input {
        width: 50%;
        font-size: 14px;
        border-width: 0;
        border-radius: 3px;
        background-image: url($image-path + 'common/icon-search-gray.svg');
        background-position: 10px 7px;
        background-repeat: no-repeat;
        background-size: 15px;
        padding: 7px 7px 7px 30px;
        text-align: left;
      };

      input:focus {
        box-shadow: none;
        outline: none;
      };
    }
  }

  .volume_change_panel{
    width: 50%;
    display: inline-block;
    .advance-config__option-container{
      display: flex;
      justify-content: flex-end;
      .advance-config__option{
        font-size: 12px;
        margin-right: 20px;
      }
    }
  }
  .table-th {
    margin: 1em 0 5px 30px;

    div{
      cursor: pointer;
      display: inline-block;
      width: 82px;
      .active{
          &.asc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-asc-icon.svg') ;
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.dsc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-desc-icon.svg');
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
    }
  }

  .table{
    margin-left: -5px;
    cursor: pointer;
    .table__header{
      margin-right: 10px;
      .table__row span{
        display: inline-block;
        width: 100%;
      }
    }
    .table__body{
      display: block;
      height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;

      .table__row{
        .overlay{
          position: absolute;
          width: 320px;
          height: 32px;
          margin-left: 30px;
          z-index: 10;
          margin-top: -0.5em;
        }

        &:hover{
          background: rgba(225, 228, 235, 0.3);
          transition-duration: 0.3s;
        }
      }
    }
    .table__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em;
      padding: 0.5em;
      position: relative;

      .c0{
        width: 30px;
        position: relative;
        bottom: 1px;
      }
      .c1{
        width: 100px;
        font-size: 12px;
      }
      .c2{
        text-align: right;
        width: 120px;
      }
      .c3{
        text-align: right;
        width: 120px;
      }
      span{
        &.active{
          &.asc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-asc-icon.svg') ;
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.dsc:after{
            content: "";
            background-image: url($image-path + 'limit-order/sort-desc-icon.svg');
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
