// Colors
$error-color: #F1637D;
$base-color: #666;
$swap-color: #EF8102;
$color-swap-light: #F2A657;
$light-gray: #BBDAD5;
$medium-gray: #262C41;
$dark-gray: #0B0F1A;
$black: #2c2c2c;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.56);
$accent-gradient: linear-gradient(169deg, #36d9ac, #049696);
$alert-color: #ff5d00;

// Paths
$image-path: '../img/';
$asset-url: 'https://files.kyber.network/DesignAssets/';

// Breakpoints
$breakpoints: (
  small: 0,
  mid-small: 480px,
  xxsmall: 530px,
  medium: 640px,
  mid-medium: 768px,
  xxmedium: 850px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// Fonts
$font-roboto: 'Roboto', sans-serif;


// Mixins
@mixin screen-max-width($breakpoint) {
  @media screen and (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 1px)) {
    @content;
  }
}

@mixin screen-min-width($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
