.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  -webkit-transform: translateZ(0);
}


#rate-bar {
  // background-color: $k-primary;
  // color: $white-light;
  min-height: 0px !important;
  padding: 15px 0;
  // border-top: 1px solid $k-divider;
  .bx-wrapper {
    &:after {
      pointer-events: none;
      content: '';
      width: 90px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(90deg, transparent, #0E1320);
    }
  }
  div.rate {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    div.slick-slide {
      display: inline-block;
      padding-right: 70px;
      &:not(:last-child) {
        border-right: 1px solid $k-divider;
        margin-right:30px;
      }
      .pair {
        font-size: 12px;
        font-weight: bold;
      }
      .value {
        font-size: 14px;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}