.slide-down {
  transition: all .3s;

  &__trigger {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    margin-bottom: 10px;

    &-container {
      display: flex;
      align-items: center;

      .slide-arrow-container {
        padding: 10px 12px 10px 20px;
        margin-left: 15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: background-color .3s;
      }

      .slide-arrow {
        width: 12px;
        height: 12px;
        background: url($image-path + 'arrow-down-black.svg') center no-repeat;
        background-size: contain;
        transform: rotate(-180deg);
        transition: all 0.3s;
      }

      &--align-right {
        justify-content: flex-end;
      }
    }

    &-bold {
      font-size: 14px;
      color: #222222;
      font-weight: 600;
    }

    &-light {
      font-size: 13px;
      color: #666666;
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
  }

  &__fade-in {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
  }

  &--active {
    .slide-down__trigger {
      &::after {
        transform: rotate(0);
      }

      .slide-arrow {
        transform: rotate(0);
      }
    }

    .slide-down__content {
      max-height: unset;
    }

    .slide-down__fade-in {
      opacity: 1;
      transform: translateY(0);
    }

    .slide-arrow-container {
      background-color: #ebebeb;
    }
  }

  @media screen and (max-width: 900px) {
    &__trigger-container {
      justify-content: space-between;
    }
  }
}
