.slide-down {
  &__trigger {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    transition: all .3s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 7px;
      width: 12px;
      height: 7px;
      background-image: url($image-path + 'arrow-down-black.svg');
      transform: rotate(-90deg);
      transition: all .3s;
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: all .3s cubic-bezier(0, 1, 0, 1);
  }

  &--active {
    .slide-down__trigger {
      &::after {
        transform: rotate(0);
      }
    }

    .slide-down__content {
      max-height: 9999px;
      transition: max-height 1s ease-in-out;
    }
  }
}
