$headingColor: #00c784;
$warningColor: #d0a623;
$termBackgoundColor:#2c2d34;

.term-text{
  font-size: 0.85em;
}
.term-page{
  .term-content{
    word-wrap: break-word;
    color: #aaa;
    margin: 30px 0px;
    text-align: justify;
    *{
      font-size: 18px;
    }
    h2{
      color: $headingColor;
      text-align:center;
      margin-bottom: 20px;
    }
    h3{
      color: $headingColor;
      margin-top: 30px;
      text-align: left;
    }
    h3.warning{
      color: $warningColor;
      margin-top: 30px;
      text-align: center;
    }
    .gap {
      height: 60px;
    }
  }
}
