

.token-selector{
  
  position: relative;
  color: white;
  cursor: pointer;

  background-color: #415b68;
  &.open{
    background-color: #243c48;
  }

  &.open > .focus-item{
    border-top: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    border-right: 2px solid #fefefe;
    border-bottom: 0.05em solid #4c636f;
  }
  &.open > .select-item{
    border-bottom: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    border-right: 2px solid #fefefe; 
  }

  
  input{
    background-color: #1d2f37;
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    color: white;
    height: 40px;

    &:-webkit-outer-spin-button,
    &:-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
  .focus-item{
    padding: 15px 20px;
    display: flex;
    >div{
      display: flex;
      align-items: center;
    }
    >div:first-child{
      margin-right: 5px;
      border-radius: 20px;
      background-color: white;
      border: 1px solid white;
    }
    >div:last-child{
      margin-left: 10px;
      font-size: 15px;
    }
  }
  .select-item{
    padding-bottom: 20px;
    position: absolute;
    transition: 0.2s;
    width: 100%;
    z-index: 2;
    background-color: #243c48;
    .search-item{
      padding: 10px 15px 0px 15px;
      margin-bottom: 10px;
    }
  }

  .list-item{
    height: 200px;
    overflow-y: auto;
    .token-item{
      padding: 9px 20px;
      display: flex;
      justify-content: space-between;
      >div{
        .item-name{
          margin-left: 10px;
          margin-right: 5px;
        }
      }
      >img{
        width: 30px;
      }
      .unsupported{
        color:red;
      }
      &:hover{
        background-color: #00716b;
      }
    }
  }
  &.open{
   // border: 2px solid white;
  }
  &.close{
    .select-item{
      //display: none;
      height: 0px;
      overflow: hidden;
      padding: 0;
    }
  }
}