

.top-token{
    padding: 10px 20px;

    @media screen and (max-width: 320px) {
        padding: 10px;
    }
    
    display: flex;
    justify-content: space-between;
    .top-token-content{
        width: 70%;
    }
    
    &-content{
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
    &-item{
        cursor: pointer;
        &.active{
            opacity: 0.3;
            // pointer-events: none;
        }
        &__symbol{
            text-decoration: underline;
        }
        &--deactivated {
            pointer-events: none;
        }

        @media screen and (max-width: 320px) {
            margin-right: 8px;
        }
    }
    &-more{
        font-size: 13px;
        cursor: pointer;
        margin-top: 5px;
        background-color: #EAEEF5;
        padding: 2px 18px 2px 10px;
        border-radius: 10px;
        height: 25px;
        position: relative;
        transition: all .3s;
        &:hover{
            background-color: white;
        }
        &:after{
            background-image: url("../img/v3/arrow_more.svg");
            content: " ";
            position: absolute;
            width: 7px;
            height: 4px;
            top: 10px;
            right: 7px;
        }
    }

    &-number {
        font-size: 13px;
        background-color: #EAEEF5;
        padding: 2px 10px;
        border-radius: 10px;
        cursor: pointer;

        &-enter {
            opacity: 0;
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            &-active {
                opacity: 1;
                transform: rotateX(0deg);
                -webkit-transform: rotateX(0deg);
                transition: all 0.3s ease-out;
            }
        }

        &-exit {
            opacity: 1;
            transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            &-active {
                opacity: 0;
                transform: rotateX(180deg);
                -webkit-transform: rotateX(180deg);
                transition: all 0.3s ease-in;
            }
        }
    }

}