
$small-break-point : 40rem;
$padding-col : 1rem;

$padding-col-left : 2rem;

#transfer-screen{
  .swap-wrapper{
    @include screen-max-width(large){
      background-color: white;
    }

    @include screen-min-width(medium){
      border-left: 1px solid #ddd;
    }
  }
  .amount-input{
    >div{
       &:first-child{
        width: 100%;
       }
      
    }
  }
  .receiveAddress{
    margin-bottom: 15px;
    input{
      width: 100%;
      height: 55px;
      border-radius: 5px;
      padding: 10px;
      outline: none;
      border: solid 0.8px rgba(204, 204, 204, 0.72);
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
    }
  }

  @include screen-max-width(large){
    margin:  0 10px 10px 10px;
    box-shadow: 0 7px 25px #ddd;
    .transfer-col {
      background-color: white;
    }
  }

  .transfer-col{
    @include screen-min-width(large) {
      padding-left: 2rem;  
      padding-right: 2rem;  
    }
    padding: 1rem;
    &.transfer-advanced {
      padding-bottom: 0;
      @include screen-min-width(large) {
        padding: 0 0 0 20px;
      }
    }
  }

  .transfer-col-1 {
    background: white;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include screen-min-width(large){
    .transfer-col-1{
      border: 1px solid #ddd;
      border-left: none;
      box-shadow: $box-shadow-tab;
      z-index: 1;
      // min-height: 550px;
    }
    .transfer-col-3-1{
      position: relative;
      top: -130px;
      left: -50px;
      text-align: center;
    }
  }
  //.frame {
    // .exchange-pd {
      // padding-left: 2.5rem;
      // padding-right: 2.5rem;
      // .row {
        
        .transfer-col-3{
          // .transfer-col-3-1{
          //   @include breakpoint(medium) {
          //     padding-left: $padding-col-left;
          //   }
          // }
          .submit-transfer{
            @include screen-max-width(large) {
              width: 100%;
            }
          }
        }
        .transfer-detail {
          @include screen-max-width(large) {
            background-color: white;
            padding-top: 15px;
          }

          // .transfer-col-1-2{
          //   @include breakpoint(medium up) {
          //     padding-left: $padding-col-left;
          //   }
          // }
          

          
          .change-amount{
            
              padding-left: 1.2rem;
              @include breakpoint(small only) {
                @media screen and (min-width: 40em){
                  height: 153px;        
                }
                padding-left: 0;
              }
          }
          .select-token-panel {
            margin-top: 0;

            @include screen-min-width(large){
              border-radius: 5px;
              box-shadow: 0 1px 5px 0 hsla(0,0%,56%,.15);
              border: .8px solid hsla(0,0%,80%,.72);
              
              .dropdown--active{
                .focus-item{
                 // max-width: 100%;
                  box-shadow: 0 24px 24px 0 rgba(0,0,0,.24), 0 12px 24px 0 rgba(0,0,0,.12);
                }
              }
              .dropdown{
                &:not(.dropdown--active){
                  .focus-item{
                    justify-content: initial !important;
                    .k-angle{
                      margin-left: 25px;
                    }
                  }
                }
              }
              .focus-item{
                box-shadow: none;
                border:none;
              //  border-radius: 0;
              }
              .amount-input{
                border-bottom: none;
                input{
                  text-align: right;
                  max-width: 200px;
                  float: right;
                  margin-top: -7px;
                  margin-right: 6px;              
                }
              }
            }
            
          }
          // .hashAddr {
          //       font-size: 18px;
          //       text-align: center;
          //       letter-spacing: 1.25px;
          //       //background-color: #415b68;
          //       height: 140px;
          //       border: 1px solid #ddd;
          //       //color: $white;
          //       resize: none;
          //       margin-bottom: 0;
          //       outline: none;
          //       padding: 10px;
          //       width: 100%;
          //       border-radius: 5px;
            
          //   // @media screen and (min-width: 40em){
          //   //   height: 153px;        
          //   // }
          //   @include breakpoint(small only) {
          //     margin-bottom: 20px;
          //     height: 120px;
          //   }
          // }
        }
      //}
    //}
  //}
  label{
      margin-bottom: 8px;
  }
  .main-title {
    // padding-top: 1.5rem;
    padding-bottom: 0;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    @include screen-max-width(medium) {
      display: none;
    }
  }
  .transaction-label{
	  font-size: 14px;
	 	text-transform: uppercase;
	 	padding-left: 0;
  }
  .transfer-btn {
    text-align: center;

    .accent {
      margin-top: 50px;
      line-height: 55px;
      padding: 0 35px;
      background: #ef8102;
      border-radius: 4px;
      font-size: 20px;
      font-weight: 600;
      text-transform: unset;

      @include screen-max-width(large) {
        width: 100%;
      }
    }

    &.error {
      .accent {
        @include screen-min-width(large) {
          margin-top: 40px;
        }
      }
    }
  }
  .text-center {
  	display: flex;
  	justify-content: center;
  }
  .token-selector {
    .dropdown {
      &.dropdown--active {
        position: relative;
        z-index: 1;
        .focus-item{
          border-color:hsla(0,0%,80%,.72);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .focus-item {
      border-radius: 5px;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      background-color: #ffffff;
      border: solid 0.8px rgba(204, 204, 204, 0.72);
      padding: 8px 12px;
      align-items: center;
      font-size: 15px;
      &.d-flex{
        justify-content: space-between;
      }
      .k-angle {
        background-image: url(../img/exchange/arrow-down-swap.svg);
        width: 13px;
      }
      .d-flex{
        align-items: center;
      }
      .focus-name{
        color: #222222;
        font-weight: 600;
        text-transform: initial;
      }
      .focus-balance{
        color: #666666;
        font-size: 14px;
        font-weight: 600;
        .token-balance{
          margin-right: 5px;
        }
        // .token-symbol{
        //   margin-left: 5px;
        // }
      }
      .icon{
        margin-right: 10px;
        img{
          vertical-align: top;
        }
      }
    }
  }
  
  .gas-option {
    .focus-item {
      padding-left: 0;
    }
  }
}
