.transaction-list-item{
    border-bottom: 1px solid #eee; 
    cursor: pointer;
    &:hover{
      background-color: #eee;
    }
}

.example-enter {
   opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  
  .example-leave {
    display: none;
  }
  
  .example-leave.example-leave-active {
    display: none;
  }

.transaction-list{
  overflow-x: auto;
  text-align: left;
  .wrapper{
    min-width: 445px;
  }
  .header{
    background-color: #eee;
    font-weight: normal;
    padding: 15px 0;
  }
  .body{
    cursor: pointer;
    > div{
      padding: 20px 0;
      border-bottom: 1px solid #eee;
      &:hover{
        background-color: #f0f0f0;
      }
    }
  }
}