$small-break-point : 40rem;
$padding-col : 1rem;
$padding-col-left : 2rem;

.transfer {
  &__arrow {
    display: block;
    margin: 5px auto 0;
    width: 13px;
    height: 13px;
    background-image: url($image-path + 'exchange/arrow-right-orange.svg');
    cursor: pointer;
  }

  @include screen-max-width(xxmedium) {
    &__arrow {
      transform: rotate(90deg);
    }
  }
}

#transfer-screen{
  margin-top: 25px;
  .balance{
    margin-left: 15px;
  }
}
@include screen-max-width(large){
  margin:  0 10px 10px 10px;
  box-shadow: 0 7px 25px #ddd;
  .transfer-col {
    background-color: white;
  }
}

.transfer-col{
  padding: 1rem;
  &.transfer-advanced {
    padding-bottom: 0;
    @include screen-min-width(medium) {
      padding: 1rem 1rem 0 2rem;
    }
  }
}

.transfer-col-1 {
  background: white;
}

@include screen-min-width(large){
  .transfer-col-1{
    min-height: 510px;
  }
  .transfer-col-3-1{
    position: relative;
    top: -160px;
  }
}
.frame {
  .transfer-detail {
    @include screen-max-width(large) {
      background-color: white;
    }

    .change-amount{
      padding-left: 1.2rem;
    }
    .select-token-panel {
      margin-top: 0;
    }
    .receive-addr{
      border-radius: 5px;
      border: 1px solid #ddd;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .qc-code-content{
        padding-right: 10px;
      }
      .hashAddr {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1.25px;
        //background-color: #415b68;


        //color: $white;
        resize: none;
        margin-bottom: 0;
        outline: none;
        padding: 10px;
        width: 100%;
        border: none;
        height: 100%;

        border-radius: 10px;


      }
    }

  }
  //}
  //}
}
label{
  margin-bottom: 8px;
}
.main-title {
  padding-top: 1.5rem;
  padding-bottom: 0;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  @include screen-max-width(medium) {
    display: none;
  }
}
.transaction-label{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 0;
}
.transfer-btn {
  .accent {
    margin-top: 15px;
    line-height: 55px;
    padding: 0 35px;
    background: #ef8102;
    border-radius: 4px;
    //box-shadow: 0 10px 15px #ccc;
    font-size: 20px;
    font-weight: 600;
    text-transform: unset;
  }
  &.error {
    .accent {
      @include screen-min-width(large) {
        margin-top: 40px;
      }
    }
  }
}

.gas-option {
  .focus-item {
    padding-left: 0;
  }
}

.qc-modal{
  padding: 20px;
  .qc-title{
    text-align: center;
    // margin-top: 30px;
    padding-top: 25px;
    h2{
      font-size: 25px;
    }
  }
  .qc-code-wrapper{
    // padding: 25px;
    padding-top: 40px;
    position: relative;
  }
  .qc-error{
    // margin-top: 40px;
    // padding: 20px;
    h2{
      margin-bottom: 10px;
    }
    
  }
  .qc-nav-bar{
    span{
      &:not(:first-child){
        margin-left: 20px;
        position: relative;
        &:before{
          background-image: url("../img/arrow-qc.svg");
          content: "";
          position: absolute;
          width: 7px;
          height: 14px;
          left: -14px;
          background-repeat: no-repeat;
          top: 2px;
        }

      }
    }
  }
  .cancel-qc-btn{
    cursor: pointer;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 100%;
    background-color: #d0021b;
    border-radius: 5px;
    font-weight: bold;
  }
}
