
$small-break-point : 40rem;
$padding-col : 1rem;

$padding-col-left : 2rem;

#transfer-screen{
  // display: inline-block;
  // width: 100%;
  @include screen-max-width(large){
    margin: 10px;
    box-shadow: 0 7px 25px #ddd;
  }

  .transfer-col{
    padding: $padding-col;
  }
  @include screen-min-width(large){
    .transfer-col-1{
      box-shadow: 0 7px 25px #ddd;
      min-height: 550px;
    }
    .transfer-col-3-1{
      position: relative;
      top: -200px;
    }
  }
  .frame {
    // .exchange-pd {
      // padding-left: 2.5rem;
      // padding-right: 2.5rem;
      // .row {
        
        .transfer-col-3{
          .transfer-col-3-1{
            @include breakpoint(medium) {
              padding-left: $padding-col-left;
            }
          }
          .submit-transfer{
            @include breakpoint(small only) {
              width: 100%;
            }
          }
        }
        .transfer-detail {


          .transfer-col-1-2{
            @include breakpoint(medium up) {
              padding-left: $padding-col-left;
            }
          }
          

          
          .change-amount{
            
              padding-left: 1.2rem;
              @include breakpoint(small only) {
                @media screen and (min-width: 40em){
                  height: 153px;        
                }
                padding-left: 0;
              }
          }
          .select-token-panel {
            margin-top: 0;
          }
          .hashAddr {
                font-size: 18px;
                text-align: center;
                letter-spacing: 1.25px;
                //background-color: #415b68;
                height: 155px;
                border: 1px solid #ddd;
                //color: $white;
                resize: none;
                margin-bottom: 0;
                outline: none;
                padding: 10px;
                width: 100%;
                border-radius: 5px;
            
            // @media screen and (min-width: 40em){
            //   height: 153px;        
            // }
            @include breakpoint(small only) {
              margin-bottom: 20px;
              height: 120px;
            }
          }
        }
      //}
    //}
  }
  label{
      margin-bottom: 8px;
  }
  .main-title {
    padding-top: 1.5rem;
    font-size: 1.25rem;
    padding-bottom: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .transaction-label{
	  font-size: 14px;
	 	text-transform: uppercase;
	 	padding-left: 0;
	}
  .accent {
    margin-top: 50px;
    line-height: 55px;
    padding: 0 35px;
    background: #ef8102;
    font-size: 1.3rem;
    border-radius: 4px;
    box-shadow: 0 10px 15px #ccc;
  }
  .text-center {
  	display: flex;
  	justify-content: center;
  }
  .token-selector {
    .dropdown {
      &.dropdown--active {
        .focus-item{
          border-color: $white;
        }
      }
    }
    .focus-item {
      border-radius: 5px;
      box-shadow: 0 1px 5px 0 rgba(142, 142, 142, 0.15);
      background-color: #ffffff;
      border: solid 0.8px rgba(204, 204, 204, 0.72);
      padding: 10px 12px;
      align-items: center;
      font-size: 15px;
      &.d-flex{
        justify-content: space-between;
      }
      .k-angle {
        background-image: url(../img/exchange/arrow-down-swap.svg);
      }
      .d-flex{
        align-items: center;
      }
      .focus-name{
        color: #545268;
        text-transform: initial;
        font-size: 14px;
      }
      .focus-balance{
        color: #9997A5;
        font-size: 0.8rem;
        .token-symbol{
          margin-left: 5px;
        }
      }
      .icon{
        margin-right: 10px;
        img{
          vertical-align: top;
        }
      }
    }
  }
}
