
.bg-light{
    background-color: #f5f5f5;
}
.bg-primary{
    background-color: $k-primary;
}
.text-light{
    color: #a5a5a5;
}
.text-white{
    color: $white;
}
.text-success{
    color: $k-success;
    .color-white{
        color: #fff;
        margin: 0 5px;
    }
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.font-s-up-1{
    font-size: 1.15em;
}
.font-s-down-1{
    font-size: .85em!important;
}
.font-w-b{
    font-weight: 700;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.cur-pointer{
    cursor: pointer!important;
}
.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.d-none-md{
    display: block;
}
@include breakpoint(medium){
    .d-inline-block-md{
        display: inline-block;
    }
    .d-none-md{
        display: none;
    }
}
.w-100{
    width: 100%;
}
.text-xs-only-center{
    @include breakpoint(small only){
        text-align: center;
    }
}
@include breakpoint(medium){
    .float-left-md{
        float: left;
    }
    .float-right-md{
        float: right;
    }
}

@for $i from 0 through 8{
    $space: ($i * .3rem)#{'!important'};
    .px-#{$i}{
        padding-left: $space;
        padding-right: $space;
    }
    .py-#{$i}{
        padding-top: $space;
        padding-bottom: $space;
    }
    .p-#{$i}{ padding: $space }
    .pt-#{$i}{ padding-top: $space }
    .pl-#{$i}{ padding-left: $space }
    .pr-#{$i}{ padding-right: $space }
    .pb-#{$i}{ padding-bottom: $space }

    .mx-#{$i}{
        margin-left: $space;
        margin-right: $space;
    }
    .my-#{$i}{
        margin-top: $space;
        margin-bottom: $space;
    }
    .m-#{$i}{ margin: $space }
    .mt-#{$i}{ margin-top: $space }
    .ml-#{$i}{ margin-left: $space }
    .mr-#{$i}{ margin-right: $space }
    .mb-#{$i}{ margin-bottom: $space }
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}