@import 'components/header';
@import 'components/common';
@import 'components/dashboard';
@import 'components/transaction';
@import 'components/wallet';
@import 'components/exchange';
// @import 'components/exchange_2';
body{
	background-color:#ccc;
	font-family: 'Lato', sans-serif;
}

$widthBody : 1200px;
$headerWidth:200px;
.k-header{
	  width: $headerWidth;
    height: 100%;
    position:fixed;
}
.k-contenter{
	margin-left:$headerWidth;
	min-height: 100vh;
	//min-height:100%;
	//position:fixed;
	width:$widthBody - $headerWidth;
}

.k-body{
	width:$widthBody;
	margin:0 auto;
	background-color:#fff;
	display:flex;
}
.k-contenter{
	background-color: #fbfcfb;
	padding:30px 20px  20px 20px;
	// width:100%;
	// .k-content{
	// 	background-color:#fff;
	// 	height: 100%;
	// }
}
