@import 'components/header';
@import 'components/common';
@import 'components/dashboard';
@import 'components/transaction';
@import 'components/wallet';
@import 'components/exchange';
//@import 'components/exchange_2';
@import 'components/rate';
body {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

$widthBody: 1170px;
$backgoundColor: #555;
$headerWidth:220px;

$bodyColor:#15161d;




body {
    background-color: $bodyColor;
}

.k-header {
    width: $headerWidth;
    min-width: $headerWidth;
    background-color: $backgoundColor;
    background-image: linear-gradient(-180deg, #2F3037 0%, #22232A 95%);
    border-radius: 2px;
}

.k-contenter {
    width: $widthBody - $headerWidth;
    background-color: $bodyColor;
}

.k-body {
    width: $widthBody;
    margin: 0 auto;
    display: flex;
}



.k-contenter {
    background-color: $bodyColor;
    padding: 30px 20px 20px 20px; // width:100%;
    // .k-content{
    // 	background-color:#fff;
    // 	height: 100%;
    // }
}
