.modal-title{
	font-size: 20px;
	text-align: center;
}
.modal-body label{
	font-weight: bold;
}
.dropzone >div{
	width: auto !important;
	cursor: pointer;
}
.file-name{
	padding: 10px;
	font-size: 13px;
	color: #aaa;
}
.submit-button{
	text-align: right;
	margin-top: 40px;	
}