.k-header {
  background-color: #fff;
  overflow: auto;
  top: 0px;
  min-height: 500px; }
  .k-header .k-header-logo {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center; }
    .k-header .k-header-logo img {
      width: 100%; }
  .k-header .k-header-footer {
    bottom: 0px;
    position: absolute;
    padding: 15px;
    font-size: 12px;
    color: #aaa;
    margin-top: 80px; }
  .k-header .k-header-pendding-tx {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    line-height: 25px; }
    .k-header .k-header-pendding-tx > div:first-child {
      color: orange; }
    .k-header .k-header-pendding-tx > div:last-child {
      font-size: 16px; }
    .k-header .k-header-pendding-tx .number {
      font-size: 40px; }
    .k-header .k-header-pendding-tx .pending {
      text-align: right; }
  .k-header .k-header-menu .tabs {
    border: none; }
  .k-header .k-header-menu li:not(:last-child) {
    margin-bottom: 5px; }
  .k-header .k-header-menu a {
    background-color: #fff;
    font-size: 20px;
    color: #aaa;
    height: 40px;
    display: flex;
    padding: 0px;
    align-items: center;
    padding-left: 20px; }
    .k-header .k-header-menu a .k-icon {
      margin-right: 10px; }
  .k-header .k-header-menu span {
    display: inline-block;
    width: 30px; }
  .k-header .k-header-menu .tabs-title.is-active a {
    color: #000;
    position: relative; }
    .k-header .k-header-menu .tabs-title.is-active a:before {
      content: '';
      width: 5px;
      height: 40px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #00bd70; }
  .k-header .node > div:first-child {
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #aaa; }
    .k-header .node > div:first-child .k-icon {
      position: relative;
      top: 3px;
      margin-right: 10px; }
  .k-header .node .node-select {
    text-align: center; }
    .k-header .node .node-select select {
      width: 150px;
      cursor: pointer;
      box-shadow: none; }
      .k-header .node .node-select select:focus {
        box-shadow: none; }
    .k-header .node .node-select .selectric {
      border: none; }
    .k-header .node .node-select .label {
      text-align: center;
      background-color: transparent;
      width: 100%;
      margin: 0;
      padding: 0px;
      font-size: 15px;
      color: #aaa;
      cursor: pointer; }
    .k-header .node .node-select .selected {
      background-color: #fff; }
      .k-header .node .node-select .selected:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: green;
        margin-top: 6px;
        margin-left: 10px; }
    .k-header .node .node-select .selectric-items {
      padding: 10px;
      left: 10px; }
    .k-header .node .node-select .selectric-scroll li {
      font-size: 15px;
      color: #aaa; }
      .k-header .node .node-select .selectric-scroll li:not(:last-child) {
        border-bottom: 1px solid #aaa; }
      .k-header .node .node-select .selectric-scroll li:hover {
        background-color: #fff; }
    .k-header .node .node-select .button {
      background: transparent;
      right: 10px; }

.disable {
  pointer-events: none;
  cursor: default; }

.text-gradient {
  background: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.k-icon {
  background-image: url("../assets/sprite.png");
  display: inline-block; }

.k-icon-wallet {
  background-position: -177px -20px;
  width: 20px;
  height: 20px; }

.k-icon-account {
  background-position: -99px -70px;
  width: 20px;
  height: 25px; }

.k-icon-exchange {
  background-position: -60px -20px;
  width: 20px;
  height: 20px; }

.k-icon-transaction {
  background-position: -102px -20px;
  width: 20px;
  height: 20px; }

.k-icon-payment {
  background-position: -141px -70px;
  width: 20px;
  height: 20px; }

.k-icon-node {
  background-position: -20px -20px;
  width: 20px;
  height: 20px; }

.k-icon-key {
  background-position: -140px -20px;
  width: 20px;
  height: 20px; }

.k-icon-qr {
  background-position: -216px -20px;
  width: 20px;
  height: 20px; }

.k-icon-usd {
  background-position: -22px -65px;
  width: 20px;
  height: 30px; }

.k-icon-gas {
  background-position: -160px -179px;
  width: 31px;
  height: 35px; }

.k-icon-gas-price {
  background-position: -94px -179px;
  width: 50px;
  height: 35px; }

.k-icon-delete {
  background-position: -217px -123px;
  width: 25px;
  height: 30px; }

.k-icon-modify {
  background-position: -264px -123px;
  width: 25px;
  height: 30px; }

.k-icon-delete-green {
  background-position: -217px -157px;
  width: 25px;
  height: 30px; }

.k-icon-modify-green {
  background-position: -262px -157px;
  width: 25px;
  height: 30px; }

.k-icon-lock {
  background-position: -400px -201px;
  width: 40px;
  height: 40px; }

.k-icon-pig {
  background-position: -60px -65px;
  width: 25px;
  height: 30px; }

.k-icon-time {
  background-position: -60px -65px;
  width: 25px;
  height: 30px; }

.k-icon-verify {
  background-position: -19px -278px;
  width: 80px;
  height: 80px; }

.k-icon-home {
  background-position: -138px -302px;
  width: 25px;
  height: 20px; }

.k-icon-amount {
  background-position: -195px -302px;
  width: 25px;
  height: 20px; }

.k-icon-min {
  background-position: -298px -296px;
  width: 30px;
  height: 30px; }

.k-icon-max {
  background-position: -298px -296px;
  width: 30px;
  height: 30px; }

.k-icon-btn-arrow {
  background-position: -215px -195px;
  width: 75px;
  height: 75px; }

.k-icon-error {
  background-position: -345px -304px;
  width: 15px;
  height: 15px; }

.k-page-account .acc-item {
  background-color: #fff; }
  .k-page-account .acc-item.active .acc-title {
    background-color: #209c6e;
    color: #fff;
    font-weight: bold;
    border-radius: 5px; }
  .k-page-account .acc-item.active .acc-body {
    color: #000; }
  .k-page-account .acc-item.expand .acc-body-token {
    display: block; }
  .k-page-account .acc-item:not(:last-child) {
    margin-bottom: 20px; }
.k-page-account .acc-title {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px; }
  .k-page-account .acc-title .k-icon {
    width: 20px;
    height: 20px;
    background-position: -319px -20px;
    position: relative;
    top: 1px;
    float: right; }
.k-page-account .acc-body {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #aaa; }
.k-page-account .acc-address .k-icon {
  position: relative;
  top: 3px; }
.k-page-account .acc-balance {
  margin-top: 5px; }
.k-page-account .acc-balance,
.k-page-account .acc-content {
  font-size: 14px; }
.k-page-account .acc-body-token {
  margin-top: 20px;
  display: none; }
  .k-page-account .acc-body-token .token-name {
    font-size: 14px; }
  .k-page-account .acc-body-token img {
    height: 50px; }
  .k-page-account .acc-body-token .token-item > div > div {
    display: flex;
    align-items: center; }
  .k-page-account .acc-body-token .token-item:not(:last-child) {
    margin-bottom: 10px; }

.k-page-transaction table,
.k-page-transaction thead,
.k-page-transaction tbody,
.k-page-transaction tr {
  border: none; }
.k-page-transaction table {
  text-align: center;
  color: #999;
  font-size: 13px; }
  .k-page-transaction table thead {
    background: transparent;
    border: none;
    border-bottom: 2px solid #aaa; }
    .k-page-transaction table thead th {
      text-align: center;
      font-weight: normal;
      color: #999; }
  .k-page-transaction table tbody tr {
    border-bottom: none !important;
    margin-bottom: 20px;
    cursor: pointer; }
    .k-page-transaction table tbody tr:hover {
      background-color: #eee; }
  .k-page-transaction table tbody .spacer {
    width: 100px;
    height: 10px;
    background: transparent;
    pointer-events: none; }
  .k-page-transaction table .hash {
    display: flex; }
    .k-page-transaction table .hash:before {
      content: ' ';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 10px;
      margin-right: 5px;
      border: 1px solid #999;
      position: relative;
      top: 3px; }
    .k-page-transaction table .hash a {
      width: 250px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .k-page-transaction table .from span {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; }
  .k-page-transaction table .success:before,
  .k-page-transaction table .fail:before {
    content: ' ';
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px; }
  .k-page-transaction table .success:before {
    background-color: #8bc34a; }
  .k-page-transaction table .fail:before {
    background-color: #e74c3c; }
.k-page-transaction .load-more {
  text-align: center;
  margin-top: 40px; }

#tx-modal {
  font-size: 13px;
  padding: 0px;
  outline: none;
  border-radius: 5px; }
  #tx-modal .modal-title {
    color: #2195f2;
    padding: 5px 30px;
    border-bottom: 1px solid #999;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px; }
  #tx-modal .modal-info > div {
    display: flex;
    padding: 5px; }
    #tx-modal .modal-info > div label {
      width: 170px;
      color: #2195f2;
      display: inline-block;
      font-size: 13px;
      text-align: right;
      margin-right: 20px; }
    #tx-modal .modal-info > div span {
      text-overflow: ellipsis;
      width: 400px;
      display: inline-block;
      overflow: hidden; }
      #tx-modal .modal-info > div span a {
        color: #000; }
        #tx-modal .modal-info > div span a:hover {
          text-decoration: underline; }
    #tx-modal .modal-info > div .account {
      padding: 5px 10px;
      background-color: #b8e986;
      border-radius: 8px;
      margin-right: 20px; }
  #tx-modal .modal-extra {
    display: inline-block;
    width: 100%;
    margin-top: 40px; }
    #tx-modal .modal-extra > div {
      padding: 30px;
      line-height: 30px;
      text-align: center; }
      #tx-modal .modal-extra > div > div:last-child {
        color: #2195f2; }
    #tx-modal .modal-extra .left {
      float: left; }
    #tx-modal .modal-extra .right {
      float: right; }

.k-page-wallet .wallet-item {
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }
.k-page-wallet .title span {
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }
.k-page-wallet #tx-modal-wallet {
  top: -460px !important; }
.k-page-wallet .import-modal .modal-title {
  text-align: center;
  font-size: 25px;
  padding: 10px 0px; }
.k-page-wallet .import-modal label {
  font-weight: bold; }
.k-page-wallet .import-modal .submit-button {
  text-align: right;
  margin-top: 40px; }
.k-page-wallet .created {
  padding: 10px;
  word-break: break-all; }

.k-page-account .wallet-item {
  border: 2px solid #00bd70;
  background-image: #00bd70;
  border-radius: 7px; }
.k-page-account .balance span {
  color: #00bd70; }
.k-page-account .title span {
  background-color: #00bd70; }
.k-page-account .token-item .value {
  color: #aaa; }

.import-wallet.button-green button {
  background-color: #00bd70; }
.import-wallet.button-gradient button {
  background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }

.no-account {
  text-align: center;
  font-size: 20px; }

.text-green {
  color: #00bd70; }

.import-account .modal-title {
  font-size: 20px;
  text-align: center; }
.import-account .modal-body label {
  font-weight: bold; }
.import-account .dropzone > div {
  width: auto !important;
  cursor: pointer; }
.import-account .file-name {
  padding: 10px;
  font-size: 13px;
  color: #aaa; }
.import-account .submit-button {
  text-align: right;
  margin-top: 40px; }

.wallet-item {
  max-width: 820px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 30px;
  margin-left: 20px; }
  .wallet-item > div {
    display: flex;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: #fff; }
    .wallet-item > div div.wallet-left {
      width: 40%; }
    .wallet-item > div div.wallet-center {
      width: 60%; }
  .wallet-item .wallet-left .title {
    display: inline-block;
    width: 100%; }
    .wallet-item .wallet-left .title > span {
      float: left;
      padding: 5px 60px;
      text-align: center;
      color: white;
      display: inline-block;
      border-radius: 5px;
      top: -2px;
      left: -2px;
      position: relative; }
  .wallet-item .wallet-left .content {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px; }
  .wallet-item .wallet-left .address {
    margin-top: 20px; }
    .wallet-item .wallet-left .address span {
      font-size: 11px;
      color: #aaa; }
    .wallet-item .wallet-left .address > div {
      text-align: center;
      padding: 10px; }
  .wallet-item .wallet-center .row {
    display: flex;
    justify-content: space-between; }
  .wallet-item .balance {
    color: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%); }
  .wallet-item .token-item {
    padding: 20px;
    text-align: center; }
    .wallet-item .token-item > div:not(:last-child) {
      margin-bottom: 8px; }
    .wallet-item .token-item img {
      width: 40px; }
    .wallet-item .token-item .name {
      font-size: 13px;
      text-transform: uppercase; }
    .wallet-item .token-item .value {
      font-size: 11px; }
  .wallet-item:hover .control-btn {
    visibility: visible; }
  .wallet-item .control-btn {
    visibility: hidden;
    float: left;
    margin-left: 10px; }
    .wallet-item .control-btn button {
      margin-left: 10px;
      cursor: pointer; }
      .wallet-item .control-btn button:focus {
        outline: none; }

.import-wallet {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 100px; }
  .import-wallet button {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    color: #fff;
    font-size: 60px;
    position: fixed;
    bottom: 40px;
    cursor: pointer; }
    .import-wallet button:focus {
      outline: none; }

.k-page-exchange {
  max-width: 860px;
  padding-left: 40px; }
  .k-page-exchange .k-progress {
    text-align: center; }
    .k-page-exchange .k-progress .progress-bar {
      display: flex;
      justify-content: center; }
    .k-page-exchange .k-progress .step {
      display: flex;
      align-items: center; }
      .k-page-exchange .k-progress .step.step-1 {
        right: -10px;
        z-index: 2;
        position: relative; }
      .k-page-exchange .k-progress .step:not(:first-child) {
        width: 108px; }
      .k-page-exchange .k-progress .step > span {
        background-color: #ebebec;
        color: #d1d3d5;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        flex-shrink: 0;
        position: relative;
        z-index: 2; }
      .k-page-exchange .k-progress .step .bridge {
        height: 8px;
        width: 90px;
        background: #ebebec;
        flex-shrink: 0;
        position: relative;
        z-index: 0;
        right: -5px; }
  .k-page-exchange .navigation-btn {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    text-align: right; }
    .k-page-exchange .navigation-btn button {
      cursor: pointer; }
      .k-page-exchange .navigation-btn button.disable .k-icon {
        background-position: -310px -195px; }
      .k-page-exchange .navigation-btn button:focus {
        outline: none; }
    .k-page-exchange .navigation-btn.disable button {
      background-color: #eee; }
  .k-page-exchange .error {
    margin-top: 10px;
    font-size: 13px;
    color: #e74c3c;
    display: flex;
    align-items: center; }
    .k-page-exchange .error .k-icon {
      margin-right: 5px; }
    .k-page-exchange .error.hide {
      visibility: hidden; }
  .k-page-exchange .exchange-page {
    margin-left: 50px; }
  .k-page-exchange .page-item {
    display: none; }
  .k-page-exchange .input-space {
    display: flex;
    margin-top: 30px;
    margin-left: 50px; }
    .k-page-exchange .input-space span {
      margin-right: 25px;
      width: 50px; }
    .k-page-exchange .input-space input {
      width: 220px;
      border: none;
      border-bottom: 1px solid;
      background-color: transparent;
      outline: none;
      box-shadow: none;
      font-size: 18px; }
  .k-page-exchange input, .k-page-exchange textarea {
    color: #333;
    box-shadow: none; }
    .k-page-exchange input:focus, .k-page-exchange textarea:focus {
      box-shadow: none; }
  .k-page-exchange .item-1 {
    padding-top: 60px; }
    .k-page-exchange .item-1 .input-group-item {
      margin-left: 80px;
      margin-bottom: 40px;
      border: 1px solid #aaa;
      padding: 20px;
      width: 600px; }
      .k-page-exchange .item-1 .input-group-item.focus {
        border: 1px solid #000; }
        .k-page-exchange .item-1 .input-group-item.focus > label {
          font-weight: bold;
          color: #000; }
        .k-page-exchange .item-1 .input-group-item.focus input {
          color: #333; }
        .k-page-exchange .item-1 .input-group-item.focus .button:after {
          border-top-color: #333; }
        .k-page-exchange .item-1 .input-group-item.focus .label {
          color: #333; }
      .k-page-exchange .item-1 .input-group-item > label {
        font-size: 14px;
        color: #aaa;
        float: left;
        position: absolute;
        margin-top: -40px;
        background-color: #fbfcfb;
        text-align: center;
        padding: 5px 10px; }
    .k-page-exchange .item-1 .input-item {
      display: flex;
      align-items: center; }
      .k-page-exchange .item-1 .input-item input {
        background: transparent;
        border: none;
        text-align: center;
        font-size: 20px;
        width: 495px;
        height: 40px;
        color: #aaa; }
        .k-page-exchange .item-1 .input-item input:focus {
          outline: none; }
      .k-page-exchange .item-1 .input-item .select-wrapper {
        width: 30px;
        overflow: hidden; }
      .k-page-exchange .item-1 .input-item select {
        background-color: #fbfcfb;
        cursor: pointer;
        border: none;
        margin-bottom: 0px; }
        .k-page-exchange .item-1 .input-item select option {
          padding: 10px 20px; }
        .k-page-exchange .item-1 .input-item select:focus {
          box-shadow: none; }
    .k-page-exchange .item-1 .extra-info {
      color: #aaa;
      font-size: 12px;
      margin-top: 10px; }
    .k-page-exchange .item-1 .error {
      font-size: 12px; }
    .k-page-exchange .item-1 .input-account input {
      width: 530px; }
    .k-page-exchange .item-1 .input-account select {
      width: 100px;
      position: relative;
      left: -80px; }
    .k-page-exchange .item-1 .input-amount select {
      width: 80px; }
    .k-page-exchange .item-1 .usd-convert {
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin-top: 8px;
      color: #aaa;
      display: flex; }
      .k-page-exchange .item-1 .usd-convert label {
        color: inherit; }
      .k-page-exchange .item-1 .usd-convert span {
        font-size: 15px;
        margin-right: 5px; }
    .k-page-exchange .item-1 .rate-wrapper {
      margin-top: 80px;
      text-align: center; }
      .k-page-exchange .item-1 .rate-wrapper h3 {
        font-size: 13px; }
    .k-page-exchange .item-1 .rate {
      border: 1px solid #999;
      border-radius: 5px;
      display: flex; }
      .k-page-exchange .item-1 .rate > div {
        text-align: center;
        padding: 10px; }
        .k-page-exchange .item-1 .rate > div:first-child {
          border-right: 1px dashed #aaa;
          width: 40%; }
        .k-page-exchange .item-1 .rate > div:nth-child(2) {
          width: 30%;
          border-right: 1px dashed #aaa; }
        .k-page-exchange .item-1 .rate > div:last-child {
          width: 30%; }
        .k-page-exchange .item-1 .rate > div span {
          color: #aaa;
          margin-top: 5px;
          word-wrap: break-word; }
      .k-page-exchange .item-1 .rate.hide {
        display: none; }
  .k-page-exchange .item-2 {
    padding-top: 60px;
    margin-left: 200px; }
    .k-page-exchange .item-2 .intro {
      width: 350px;
      text-align: center; }
    .k-page-exchange .item-2 .input-space {
      margin-left: 80px;
      text-align: center; }
      .k-page-exchange .item-2 .input-space input {
        width: 100px;
        text-align: center; }
    .k-page-exchange .item-2 .intro-bottom {
      margin-top: 20px; }
    .k-page-exchange .item-2 .uint {
      font-size: 20px;
      color: #999;
      margin-left: 10px; }
  .k-page-exchange .item-3 {
    padding-top: 100px;
    margin-left: 200px; }
  .k-page-exchange .item-4 {
    padding-top: 100px;
    text-align: center; }
    .k-page-exchange .item-4 .verify {
      margin: 0 auto; }
    .k-page-exchange .item-4 p {
      margin-top: 60px; }
  .k-page-exchange .exchange-page[data-page='1'] .step-1 * {
    background-color: #f4a622 !important;
    color: #fff !important; }
  .k-page-exchange .exchange-page[data-page='1'] .item-1 {
    display: block; }
  .k-page-exchange .exchange-page[data-page='2'] .step-1 *,
  .k-page-exchange .exchange-page[data-page='2'] .step-2 * {
    background-color: #f4a622 !important;
    color: #fff !important; }
  .k-page-exchange .exchange-page[data-page='2'] .item-2 {
    display: block; }
  .k-page-exchange .exchange-page[data-page='3'] .step-1 *,
  .k-page-exchange .exchange-page[data-page='3'] .step-2 *,
  .k-page-exchange .exchange-page[data-page='3'] .step-3 * {
    background-color: #f4a622 !important;
    color: #fff !important; }
  .k-page-exchange .exchange-page[data-page='3'] .item-3 {
    display: block; }
  .k-page-exchange .exchange-page[data-page='4'] .step * {
    background-color: #f4a622 !important;
    color: #fff !important; }
  .k-page-exchange .exchange-page[data-page='4'] .item-4 {
    display: block; }
  .k-page-exchange .exchange-page[data-page='4'] .navigation-btn {
    visibility: hidden; }

body {
  background-color: #ccc;
  font-family: 'Lato', sans-serif; }

.k-header {
  width: 200px;
  height: 100%;
  position: fixed; }

.k-contenter {
  margin-left: 200px;
  min-height: 100vh;
  width: 1000px; }

.k-body {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex; }

.k-contenter {
  background-color: #fbfcfb;
  padding: 30px 20px  20px 20px; }

/*# sourceMappingURL=app.css.map */
