$green : #00bd70;
$black : #000000;

$width:140px;
$height:80px;
$border-width:5px;
$bigCircleRadius:60px;

//circles animation
@mixin min(){
    top:($bigCircleRadius - $border-width*2.5)/2;
    left:($bigCircleRadius - $border-width*2.5)/2;
    width:0px;
    height:0px;
    border-radius:$border-width/2;
}
@mixin max(){
    top:-$border-width/2;
    left:-$border-width/2;
    width:$bigCircleRadius -$border-width/1.5;
    height:$bigCircleRadius -$border-width/1.5;
  border-radius:$bigCircleRadius/2;
}

.loading-icon{
  position:relative;
  width:$width;
  height:$height;  
  margin:0 auto;
  margin-top: 20px;
  .circle{
  border-color:$green;
  border-width:1px;
  border-style:solid;
  box-sizing: border-box;
  top: -14px;
}

.big-circle{
  width:$bigCircleRadius;
  height:$bigCircleRadius;
  background-color:black;
  border-width:$border-width;
  border-radius:($bigCircleRadius + $border-width)/2;
  position:absolute;
  left:50%;
  margin-left:-$bigCircleRadius/2;
}



.inr-circle{
  animation-duration:2s;
  animation-iteration-count:infinite;
  position:absolute;
  border-width:2px;
  @include min();
  
  //one of the three is not animated and stay in the middle
  
  &:nth-child(1){
    animation-name:circle-grow;
  }
  &:nth-child(2){
    animation-name:circle-grow2;
  }
}
//background bars;
.bar{
  background-color:$green;
  height:$border-width;
  border-radius:$border-width/2;
  margin-bottom:10px;
}
$margins:20/120*$width;
.top-bar,.btm-bar{
  width:$width - $margins;
  margin-left:$margins/2;
}

.top-bar{
  margin-top:12.5px;
  padding: 0px;
}
.mid-bar{
  
}

.btm-bar{
  
}
}




@keyframes circle-grow{
  0%{ @include min(); }
  50%{ @include max(); }
  100%{ @include max(); }
}

@keyframes circle-grow2{
  0%{ @include min(); }
  25%{ @include min(); }
  75%{ @include max(); }
  100%{ @include max(); }
}